@charset 'utf-8';
/* CSS reset */
html{color:#000;font-family: "Helvetica neue",Helvetica,Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family: "Helvetica neue",Helvetica,Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#666666; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,optgroup,option{border:none;outline: none;-webkit-appearance: none;font-family: "Helvetica neue",Helvetica,Tahoma,"PingFang SC","lantinghei sc","Microsoft Yahei", sans-serif; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%; resize: none;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.hide {
    display: none !important
}
body, html {
    font-size: 1rem;
    min-width: 320px;
    color: #fff;
    height: 100%;
}
#__loading {
    display: none !important;
}
.none {
    display: none ;  
}
.block {
    display: block ;  
}
input:-moz-placeholder {
	color: #fff;
}
input:-ms-input-placeholder {
	color: #fff;
}
input::-webkit-input-placeholder {
	color: #fff;
}
.container {
    height: 100%;
}
.inner-container {
    height: 100%;
}
.inner-container>div {
    height: 100%;
}
/*End reset*/

/*公用*/
.comWidth{
	position: relative;
	width: 980px;
	margin: 0 auto;
}
body{
	background-color: #f8f4f4;
	font-family: 'HiraginoSansGB W3','sans-serif';
}

/*header*/
.header{
	height: 60px;
	width: 100%;
	background-color: #ffaf47;
	margin-bottom: 50px;
	.left-area{
		float: left;
		.header-logo{
			float: left;
			margin-left: -40px;
		}
		.nav{
			float: left;
			width: 320px;
			.nav-items{
				float: left;
				width: 80px;
				margin: 0 40px;
				vertical-align: top;
				text-align: center;
				font-size: 20px;
				font-family: 'HiraginoSansGB W3','sans-serif';
				line-height: 55px;
				color: #e08d4b;
				cursor: pointer;
			}
			.active{
				color: #fff;
				border-bottom: 4px solid #fff;
			}
		}
	}
	.function-list {
		overflow: hidden;
		position: absolute;
		z-index: 9;
		top: 0;
		right: 97px;
		width: 215px;
		background-color: #fff;
		border-radius: 0 0 30px 30px;
		li {
			display: block;
		}
		.patop {
			height: 60px;
			background-color: #ffaf47;
			margin-bottom: 25px;
		}
		.name {
			padding: 0 10px;
			color: #000000;
			font-size: 16px;
			text-align: right;
			margin-bottom: 10px;

		}
		.my-function {
			width: 132px;
			height: 34px;
			border-radius: 30px;
			margin: 0 auto 8px;
			text-align: center;
			line-height: 34px;
			font-size: 16px;
			color: #a9a9a9;
		}
		.my-function-change {
			border: 1px solid #ffaf47;
			color: #ffaf47;
		}
		.sign-out {
			height: 50px;
			background-color: #f8f4f4;
			font-size: 16px;
			color: #b7b7b7;
			line-height: 50px;
			text-align: center;
		}
	}
	.right-area{
		float: right;
		font-size: 0px;
		position: relative;
		.header-portrait{
			position: relative;
			overflow: hidden;
			z-index: 10;
			display: inline-block;
			vertical-align: top;
			width: 37px;
			height: 37px;
			margin: 8px 106px 0 0;
			border: 4px solid #ffaf47;
			.portrait-icon{
				display: block;
				width: 100%;
			}
		}
		.header-request{
			position: absolute;
			top: 0;
			right: 0;
			width: 70px;
			height: 100px;
			overflow: hidden;
			.request-icon{
				display: block;
				width: 100%;
				height: 100%;
				background: url(/img/index-sprite.png)no-repeat -143px -42px;
			}
		}
	}
}
/*End header*/

/*wrap-page*/
.wrap-page{
	.section-header{
		height: 25px;
		margin-top: 40px!important;
		line-height: 25px;
		color: #b7b7b7;
		font-size: 14px;
		font-family: 'HiraginoSansGB W3','sans-serif';
		.latest{
			float: left;
			margin-left: 15px;
			cursor: default;
		}
		.change{
			float: right;
			cursor: pointer;
			.change-icon{
				display: inline-block;
				width: 14px;
				height: 13px;
				background: url(/img/index-sprite.png) no-repeat -27px -43px;
			}
			.change-text{
				display: inline-block;
				margin: 0 8px;
			}
		}
<<<<<<< HEAD
	}
	.section{
		margin-bottom: 35px;
		border: 1px solid #e8e8e8;
		background-color: #fff;
		.section-top{
			height: 90px;
			padding: 15px 0;
			margin: 0 15px;
			border-bottom: 1px solid #e8e8e8;
			font-size: 0;
			.section-leftarea{
				float: left;
				font-size: 0;
				.section-portrait{
					display: inline-block;
					width: 90px;
					height: 90px;
=======
		.section-rightarea{
			float: right;
			font-size: 16px;
			position: relative;
			.section-btn{
				width: 75px;
				height: 35px;
				margin-top: 30px;
				border: 1px solid #f3f3f3;
				border-radius: 15px;
				color: #fff;
			}
			.ps{
				background-color: #ffaf47;
				margin-right: 20px;
			}
			.share{
				background-color: #7ecef4;
				margin-left: 20px;
			}
			.qrcode{
				position: absolute;
				z-index: 800;
				bottom: -147px;
				right: -15px;
				width: 100px;
				height: 145px;
				border: 1px solid #fff;
				border-radius: 5px;
				overflow: hidden;
				background-color: #fff;
				.icon-arrow{
					display: block;
					width: 20px;
					height: 10px;
					margin: 0 auto;
					background: url(/img/index-sprite.png)no-repeat -113px -42px;
				}
				.icon-qrcode{
					width: 100%;
					height: 106px;
>>>>>>> 9f41661c2fa1e44f5e1757f9cfb5f1e35b5b725e
					overflow: hidden;
					margin-right: 20px;
					.section-portrait-img{
						width: 100%;
						display: block;
					}
				}
				.section-info{
					display: inline-block;
					vertical-align: top;
					font-size: 12px;/*del*/
					.user-name{
						color: #000;
						font-size: 16px;
						margin: 10px 0px 7px 0;
					}
					.pubdate{
						color: #ccc;
						font-size: 14px;
						margin-bottom: 11px;
					}
					.command{
						color: #000;
						font-size: 18px;
					}
				}
			}
			.section-rightarea{
				float: right;
				font-size: 16px;
				position: relative;
				.section-btn{
					width: 75px;
					height: 35px;
					margin-top: 30px;
					border: 1px solid #f3f3f3;
					border-radius: 15px;
					color: #fff;
				}
				.ps{
					background-color: #ffaf47;
					margin-right: 20px;
				}
				.share{
					background-color: #7ecef4;
					margin-left: 20px;
				}
				.qrcode{
					position: absolute;
					z-index: 800;
					bottom: -145px;
					right: -15px;
					width: 100px;
					height: 145px;
					border: 1px solid #fff;
					border-radius: 5px;
					overflow: hidden;
					background-color: #fff;
					.icon-arrow{
						display: block;
						width: 20px;
						height: 10px;
						margin: 0 auto;
						background: url(/img/index-sprite.png)no-repeat -113px -42px;
					}
					.icon-qrcode{
						width: 100%;
						height: 106px;
						overflow: hidden;
						.qrcode-img{
							display: block;
							width: 100%;
						}
					}
					.qrcode-footer{
						display: block;
						height: 30px;
						width: 100%;
						line-height: 30px;
						font-size: 14px;
						text-align: center;
						color: #cbebfb;
						background-color: #7ecef4;
					}
				}
			}
		}
		.section-main{
			margin: 20px 0;
			.photos{
				font-size: 0;
				padding: 0 15px;
				.photo-item{
					float: left;
					position: relative;
					width: 238px;
					overflow: hidden;
					border: 1px solid #fff;
					border-radius: 5px;
					.item-wrapper{
						width: 240px;
						overflow: hidden;
						.item-img{
							width: 100%;
							display: block;
						}
					}
				}
				.origin{
					margin-right: 50px;
					margin-left: 45px;
				}
				.artwork-1{
					margin-left: 50px;
					margin-right: 40px;
				}
				.artwork-2{
					margin-right: 40px;
				}
				.icon-origin{
					display: block;
					position: absolute;
					bottom: 0px;
					left: 0;
					width: 45px;
					height: 28px;
					background: url(/img/index-sprite.png)no-repeat -234px -42px;
					opacity: 0.9;
				}
			}
		}
	}
	.last-section{
		margin-bottom: 0;
	}
}
/*End wrap-page*/

/*footer*/
.footer{
	position: relative;
	height: 165px;
	width: 100%;
	.page-list{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		font-size: 0px;
		.list-item{
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 0 5px;
			border: 1px solid #e8e8e8;
			border-radius: 5px;
			line-height: 40px;
			font-size: 14px;
			text-align: center;
			color: #000;
			background-color: #f6f6f6;
			cursor: pointer;
		}
		.etc{
			border: 0;
			cursor: default;
		}
		.prev,
		.next{
			width: 80px;
		}
		.false{
			color: #a6a6a6;
		}
		.active{
			color: #fff;
			background-color: #ffa633;
		}
	}
}
/*End footer*/

/*login-fix*/
.login-fix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	.login-panel{
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		width: 448px;
		border:1px solid #4c4c4c;
		border-radius: 10px;
		overflow: hidden;
		background-color: #fff;
		.panel-header{
			position: relative;
			width: 100%;
			height: 120px;
			background: url(/img/panel-header.png) no-repeat 0 0;
			.panel-nav{
				position: absolute;
				bottom: 0px;
				left: 50%;
				transform:translate(-50%,0);
				display: block;
				width: 282px;/*common width*/
				height: 40px;
				line-height: 33px;
				.panel-nav-item{
					display: block;
					width: 60px;
					text-align: center;
					color: #c26d4c;
					font-size: 20px;
					font-weight: 500;
					cursor: pointer;
				}
				.login{
					float: left;
				}
				.register{
					float: right;
				}
				.active{
					color: #fff;
					border-bottom: 4px solid #fff;
				}
			}
		}
		.panel-content{
			width: 100%;
			.login-box{
				width: 282px;
				margin: 50px auto 0px auto;
				.login-info{
					width: 268px;
					padding-left: 14px;
					padding-bottom: 10px;
					border-bottom: 1px solid #e8e8e8;
					font-size: 14px;
				}
				.password{
					margin-top: 45px;
				}
				.find-password{
					display: block;
					margin-top: 28px;
					text-align: right;
					font-size: 14px;
					color: #b7b7b7;
					cursor: pointer;
				}
				.loginNow{
					width: 230px;
					height: 35px;
					margin: 33px 26px 0 26px;
					border: 1px solid #e8e8e8;
					border-radius: 17px;
					color: #fff;
					font-size: 16px;
					background-color: #ffae48;
				}
			}
		}
		.panel-footer{
			margin: 45px auto 0 auto;
			width: 160px;
			height: 95px;
			text-align: center;
			.logincorp-text{
				font-size: 14px;
				color: #b7b7b7;
			}
			.logincorp{
				margin-top: 25px;
				width: 100%;
				.icon-weChat{
					display: block;
					float: left;
					width: 38px;
					height: 33px;
					margin-left: 8px;
					background: url(/img/index-sprite.png) no-repeat -234px -120px;
					cursor: pointer;
				}
				.icon-weibo{
					display: block;
					float: right;
					width: 38px;
					height: 33px;
					margin-right: 8px;
					background: url(/img/index-sprite.png) no-repeat -234px -75px;
					cursor: pointer;
				}
			}
		}
	}
}

/*End login-fix*/
