<div class="detail-ask ">
	<div class="ask-section">
		<div class="nav">
			<i class="kuso-icon"></i>
			<span>恶搞>原图</span>
		</div>
		<div class="work-content clearfix">
			<div class="work-card">
				<div class="header">
					<div class="avatar">
						<img src="<%= avatar %>" alt="">
					</div>
					<div class="user-message">
						<div class="user-name">
							<%= nickname %>
						</div>
						<div class="time">
							<%= create_time %>
						</div>
					</div>
					<div class="follow-btn">
						关注
					</div>
				</div>
				<div class="content">
					<%= desc %>
				</div>
				<div class="work-img">
					<img src="<%= image_url %>" alt="">
				</div>
				<div class="footer">
					<div class="ask-btn" data-id="<%= ask_id %>" data-type="<%= type %>">
						<img src="/web/img/bangp_gray.png" alt="">
					</div>
					<div class="comment">
						<i class="comment-icon"></i>
						<%= comment_count %>
					</div>
				</div>
			</div>
			<div class="comment-section clearfix none">
				<div class="write-comment">
					<input type="text">
					<div class="send-comment">评论</div>
				</div>
				<% _.each(hot_comments, function(){ %>
					<div class="comment-content clearfix">
						<div class="comment-list clearfix">
							<div class="comemnt-avatar">
								<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
							</div>
							<div class="commnet-meesage">
								<div class="message clearfix">
									<div class="name"><%= nickname %></div>
									<div class="create-comment"><%= create_time %></div>
								</div>
							</div>
							<div class="created-content"><%= content %></div>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>
