	<div class="header-logo"></div>
	<div class="header-portrait">
		<div class="user-info">
			<div class="portrait">
				<img src="/img/portrait.png" alt="用户头像">
			</div>
			<span class="nickname">卡拉马子</span>
		</div>
	</div>
	<ul class="header-nav clearfix">
		<li class="nav-item"><a href="javascript:;">我的求P</a></li>
		<li class="nav-item"><a href="javascript:;">进行中</a></li>
		<li class="nav-item active"><a href="javascript:;">我的作品</a></li>
	</ul>
	<div class="main-processing">
		<div class="processing-block clearfix">
			<div class="pic">
				<img src="/img/work.png" alt="作品">
			</div>
			<div class="content">
				<div class="content-top clearfix">
					<div class="user-info">
						<div class="portrait">
							<img src="/img/portrait-mini.png" alt="用户头像">
						</div>
						<span class="nickname">咩咩咩remy</span>
					</div>
					<div class="delete-btn">
						<i class="icon-delete"></i>
						<span>删除</span>
					</div>
				</div>
				<div class="content-main">
					<span class="main-text">描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述</span>
				</div>
				<ul class="content-bottom clearfix">
					<li class="download">
						<i class="icon-download"></i>
						<span>下载原图</span>
					</li>
					<li class="upload">
						<i class="icon-upload"></i>
						<span>上传作品</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="processing-block clearfix">
			<div class="pic">
				<img src="/img/work.png" alt="作品">
			</div>
			<div class="content">
				<div class="content-top clearfix">
					<div class="user-info">
						<div class="portrait">
							<img src="/img/portrait-mini.png" alt="用户头像">
						</div>
						<span class="nickname">咩咩咩remy</span>
					</div>
					<div class="delete-btn">
						<i class="icon-delete"></i>
						<span>删除</span>
					</div>
				</div>
				<div class="content-main">
					<span class="main-text">描述描述描述</span>
				</div>
				<ul class="content-bottom clearfix">
					<li class="download">
						<i class="icon-download"></i>
						<span>下载原图</span>
					</li>
					<li class="upload">
						<i class="icon-upload"></i>
						<span>上传作品</span>
					</li>
				</ul>
			</div>
		</div>
	</div>