<div class="main-processing">
	<div class="processing-block clearfix">
		<a href="#original/detail/<%= ask_id %>" class="pic">
		<% _.each(ask_uploads, function(img) { %>
			<img src="<%= img.image_url %>" alt="作品">
		<% } ) %>
		</a>
		<div class="content">
			<div class="content-top clearfix">
				<a href="#personal/index/<%= uid %>" class="user-info">
					<div class="portrait">
						<img src="<%= avatar %>" alt="用户头像">
					</div>
					<span class="nickname"><%= nickname %></span>
				</a>
<!-- 				<div class="delete-btn">
					<i class="icon-delete"></i>
					<span>删除</span>
				</div> -->
			</div>
			<div class="content-main">
				<a href="#original/detail/<%= ask_id %>" class="main-text"><%= desc %></a>
			</div>
			<div class="content-bottom clearfix">
<!-- 				<div class="download" data-type="<%= type %>" data-id="<%= ask_id%>">
					<i class="icon-download"></i>
					<span>下载原图</span>
				</div> -->
				<a href="#upload/reply" class="upload">
					<i class="icon-upload"></i>
					<span>上传作品</span>
				</a>
			</div>
		</div>
	</div>
</div>