.myWork-page{
    .myWork-pageSection{
        width: 100%;
        background-color: #f7f7f7;
        .workSection{
            float: left;
            width: 47%;
            margin: 1.5%;
            .workPic{
                width: 100%;
            }
            .workSectionFooter{
                background-color: #fff;
                .footerWrapper{
                    float: right;
                    padding: 1rem 0;
                    .like{
                        float: left;
                        line-height: 0.89rem;
                        margin-left: 0.93rem;
                        cursor: pointer;
                        .icon-like{
                            display: block;
                            float: left;
                            width: 0.86rem;
                            height: 0.89rem;
                            background: url(/img/icon-like.png) no-repeat 0 0;
                            background-size: 100%;
                        }
                        .icon-pressed-like {
                            background: url(/img/like.png) no-repeat 0 0;
                            background-size: 100%;
                        }
                        .text-like{
                            display: block;
                            float: left;
                            height: 0.89rem;
                            margin-left: 0.21rem;
                            font-size: 0.71rem;
                            font-family: "Helvetica-Light","sans-serif";
                            color: #000;
                            opacity: 0.3;
                        }
                    }
                    .comment{
                        float: left;
                        line-height: 0.89rem;
                        margin-left: 0.93rem;
                        cursor: pointer;
                        .icon-comment{
                            display: block;
                            float: left;
                            width: 1rem;
                            height: 0.89rem;
                            background: url(/img/icon-comment.png) no-repeat 0 0;
                            background-size: 100%;
                        }
                        .text-comment{
                            display: block;
                            float: left;
                            height: 0.89rem;
                            margin-left: 0.21rem;
                            margin-right: 0.25rem;
                            font-size: 0.71rem;
                            font-family: "Helvetica-Light","sans-serif";
                            color: #000;
                            opacity: 0.3;
                        }
                    }
                }
            }
        }
    }
}