<div class="myWork-page">
	<div class="myWork-pageSection grid clearfix">
		<a href="/services/ask/detail" class="workSection grid-item">
			<img src="/img/work.png" alt="作品" class="workPic">
			<div class="workSectionFooter clearfix">
				<div class="footerWrapper">
					<div class="like">
						<i class="icon-like"></i>
						<span class="text-like">26</span>
					</div>
					<div class="comment">
						<i class="icon-comment"></i>
						<span class="text-comment">80</span>
					</div>
				</div>
			</div>
		</a>

	</div>
</div>