<div class="header-logo"></div>
<div class="header-portrait">
	<div class="user-info">
		<div class="portrait">
			<img src="/img/portrait.png" alt="用户头像">
		</div>
		<span class="nickname">卡拉马子</span>
	</div>
</div>
<ul class="header-nav clearfix">
	<li class="nav-item"><a href="javascript:;">我的求P</a></li>
	<li class="nav-item"><a href="javascript:;">进行中</a></li>
	<li class="nav-item active"><a href="javascript:;">我的作品</a></li>
</ul>
<div class="myWork-page">
	<div class="myWork-pageSection grid clearfix">
		<a href="/services/ask/detail" class="workSection grid-item">
			<img src="/img/work.png" alt="作品" class="workPic">
			<div class="workSectionFooter clearfix">
				<div class="footerWrapper">
					<div class="like">
						<i class="icon-like"></i>
						<span class="text-like">26</span>
					</div>
					<div class="comment">
						<i class="icon-comment"></i>
						<span class="text-comment">80</span>
					</div>
				</div>
			</div>
		</a>
		<a href="/services/ask/detail" class="workSection grid-item">
			<img src="/img/work2.png" alt="作品" class="workPic">
			<div class="workSectionFooter clearfix">
				<div class="footerWrapper">
					<div class="like">
						<i class="icon-like"></i>
						<span class="text-like">26</span>
					</div>
					<div class="comment">
						<i class="icon-comment"></i>
						<span class="text-comment">80</span>
					</div>
				</div>
			</div>
		</a>
		</a>
	</div>
</div>