<a href="#personal/index/<%= uid %>" class="workSectionHeader clearfix">
	<div class="portrait">
		<img src="<%= avatar %>" alt="用户头像">
	</div>
	<span class="nickname"><%= nickname %></span>
</a>
<a href="#detail/detail/<%= type %>/<%= reply_id %>" class="workSection">
	<img src="<%= image_url %>" alt="作品" class="workPic">
	<div class="workSectionFooter clearfix">
		<div class="footerWrapper">
			<div class="like">
				<i class="icon-like"></i>
				<span class="text-like"><%= up_count %></span>
			</div>
			<div class="comment">
				<i class="icon-comment"></i>
				<span class="text-comment"><%= comment_count %></span>
			</div>
		</div>
	</div>
</a>
 