<!-- 热门评论 -->
    <div class="hot-content">
        <a target="_blank" href="#homepage/reply/<%= uid %>">
            <span class="comment-user-information">
                <span class="comment-head-portrait">
                    <span class="is-loading">
                        <img src="<%= avatar %>" alt="{{ $comment['nickname'] }}">
                    </span>
                </span>
                <span class="comment-nickname"><%= nickname %></span>
            </span>
        </a>
        <span class="comment-item-content">
            <span class="comment-content"><%= content %></span>
            <span class="hot-item-actionbar">
                <span class="comment-release-time">
                    <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
                </span>
                <span class="actionbar-reply-link right">
                    <span class="reply-btn">回复</span>
                    <span class="comment-link-icon  comment-link-toggle bg-sprite"></span>
                    <span class="actionbar-like-count"><%= up_count %></span>
                </span>
            </span>
        </span>
        <span class="comment-reply-content hide">
            <span class="comment-reply-area">
                <textarea maxlength="100" name="" id="" cols="30" rows="10"></textarea>
            </span>
            <span class="command-item-reply-btn">
                <span class="comment-reply-btn right">回复</span>
            </span>
        </span>
    </div>
</div>