<div class="fix-activity">
	<div class="activity-ifo"><em><%= nickname %></em></div>
	<div class="activity-theme clearfix">
		<span>活动主题：</span>
		<em>表情有灵气</em>
	</div>
	<div class="activity-time clearfix">
		<span>活动截止日期：</span>
		<em>132132</em>
	</div>
</div>
<div class="new-participation">
	<div class="participation"><em>最新参与</em></div>
	<div class="participation-head clearfix">
		<a href=""><img src="<%= avatar %>" alt=""></a>
		<a href=""><img src="<%= avatar %>" alt=""></a>
		<a href=""><img src="<%= avatar %>" alt=""></a>
	</div>
	<div class="participation-fun clearfix">
		<div class="people-num">
			<i class="people-icon bg-sprite-new"></i>
			<span>138</span>
		</div>
		<div class="qiu bg-sprite-new"></div>
		<div class="see-num">
			<i class="see-icon bg-sprite-new"></i>
			<span>10k</span>
		</div>
		<div class="qiu bg-sprite-new"></div>
		<div class="pic-num">
			<i class="pic-icon bg-sprite-new"></i>
			<span>123</span>
		</div>		
	</div>
	<div class="us-participation">
		我要参与
	</div>
</div>	