<div class="demmand-contain">
	<div href="#askflows" class="channel-demmand-contain center-loading-image-container">
		<span class="center-loading">
			<a target="_blank" href="#askdetail/ask/<%= ask_id %>" class="is-loading">
				<img src="<%= image_url %>" alt="" class="demmand-contain-img">
				<% if( ask_uploads.length > 1 ) {%>
					<i class="demmand-icon bg-sprite-new"></i>
		        <% } %>
		    </a>
	    </span>
	</div>
    <a class="demmand-contain-position" href="#homepage/reply/<%= uid %>">
    	<var>
    		<img src="<%= avatar %>" alt="">
    	</var>
    	<span class="demmand-position-right">
    		<em><%= nickname %></em>
    		<i><%= desc %></i>
    	</span>
    </a>
</div>	

