<div class="channel-contain">
	<div class="channel-header clearfix">
		<div id="channelNav" class="channel-nav clearfix" >
		</div>
	</div>
	<div class="channel-big-pic hide">
		<img src="/main/img/channelPic.png" alt="">
	</div>
	<div class="demand-p hide">
		<div class="demand-header clearfix">
			<span>求P区</span>
			<a target="_blank" href="http://www.tupppai.com/#askflows">
				<em>更多</em>
				<i class="bg-sprite-new demand-p-icon"></i>
			</a>	
		</div>
		<div id="channelDemand" class="channel-demmand clearfix" ></div>
	</div>


	<div class="channel-works clearfix">
		<!-- 频道 -->

		<div class="channel-works-header clearfix hide">
			<h3>作品区</h3>
			<div class="channel-style">
				<span class="fold-icon bg-sprite-new"></span>
				<span class="pic-icon bg-sprite-new"></span>
			</div>
		</div>
		<!-- 活动 -->
		<div class="channel-activity-works clearfix">
			<span class="color-change">最热作品</span>
			<em>|</em>	
			<span>最新作品</span>
		</div>
		<div id="channelWorksPic" class="channel-reply-pic channel-reply-fold"></div>
	</div>	

	<div class="channel-fix hide">
		<div class="fix-activity">
			<div class="activity-ifo"><em>活动信息</em></div>
			<div class="activity-theme clearfix">
				<span>活动主题：</span>
				<em>表情有灵气</em>
			</div>
			<div class="activity-time clearfix">
				<span>活动截止日期：</span>
				<em>132132</em>
			</div>
		</div>
		<div class="new-participation">
			<div class="participation"><em>最新参与</em></div>
			<div class="participation-head clearfix">
				<a href=""><img src="http://7u2spr.com1.z0.glb.clouddn.com/20151201-173605565d6a05a14e9.jpg" alt=""></a>
				<a href=""><img src="http://7u2spr.com1.z0.glb.clouddn.com/20151201-173605565d6a05a14e9.jpg" alt=""></a>
				<a href=""><img src="http://7u2spr.com1.z0.glb.clouddn.com/20151201-173605565d6a05a14e9.jpg" alt=""></a>
				<a href=""><img src="http://7u2spr.com1.z0.glb.clouddn.com/20151201-173605565d6a05a14e9.jpg" alt=""></a>
			</div>
			<div class="participation-fun clearfix">
				<div class="people-num">
					<i class="people-icon bg-sprite-new"></i>
					<span>138</span>
				</div>
				<div class="qiu bg-sprite-new"></div>
				<div class="see-num">
					<i class="see-icon bg-sprite-new"></i>
					<span>10k</span>
				</div>
				<div class="qiu bg-sprite-new"></div>
				<div class="pic-num">
					<i class="pic-icon bg-sprite-new"></i>
					<span>123</span>
				</div>		
			</div>
			<div class="us-participation">
				我要参与
			</div>
		</div>				
	</div>
</div>
