<div class="channel-contain">
	<div class="channel-header clearfix">
		<span>用PS搞创意</span>
		<span>表情有灵气</span>
		<span>手绘是件美好的事</span>
		<span>随意求P区</span>
		<span>最新作品区</span>
		<span>不恶搞会死</span>
	</div>
	<div class="demand-p">
		<div class="demand-header clearfix">
			<span>求P区</span>
			<a href=""><em>更多</em><i class="bg-sprite-new demand-p-icon"></i></a>	
		</div>
		<div class="channel-demmand clearfix" id="channelDemand"></div>
	</div>


	<div class="channel-works clearfix">
		<h3>作品区</h3>
		<div class="channel-style">
			<span class="fold-icon bg-sprite-new"></span>
			<span class="pic-icon bg-sprite-new"></span>
		</div>
		<div id="channelWorksPic" class="channel-reply-pic"></div>
		<div id="channelWorksFold" class="channel-reply-fold"></div>
	</div>

	<div class="channel-fix">
		<div class="fix-activity">
			<div class="activity-ifo"></div>
			<div class="activity-theme">
				<span></span>
				<em></em>
			</div>
		</div>
		<div class="new-participation">
			<div class="participation"></div>
			<div class="participation-head">
				<a href=""><img src="" alt=""></a>
				<a href=""><img src="" alt=""></a>
				<a href=""><img src="" alt=""></a>
			</div>
			<div class="participation-fun">
				<div class="people-num"></div>
				<div class="see-num"></div>
				<div class="pic-num"></div>		
			</div>
			<div class="us-participation">
				我要参与
			</div>
		</div>				
	</div>
</div>
