<div class="fold-contain">
	<div class="fold-header clearfix">
		<div class="fold-works">
			<span>已有作品:</span>
			<em><%= reply_count %></em>
		</div>
		<div class="fold-time">
			<% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
		</div>
	</div>

	<div class="fold-pic-contain clearfix">
		<div class="channel-artwork">
			<a target="_blank" href="#homepage/reply/<%= uid %>" class="artwork-header clearfix">
				<span>
					<img src="<%= avatar %>" alt="头像">
				</span>
				<em><%= nickname %></em>
			</a>
			<div class="artwork-contain  center-loading-image-container">
				<a target="_blank" href="#askdetail/ask/<%= ask_id %>" class="center-loading">
					<span class="is-loading">
						<img src="<%= image_url %>" data-type="1" alt="原图">
						<i class="artwork-icon bg-sprite-new"></i>
					<span>
				</a>
			</div>
			<p><%= desc %></p>
			<div class="fold-function clearfix">
				<div class="fold-comments">
					<i class="comments-icon bg-sprite-new"></i>
					<span><%= comment_count %></span>
				</div>
				<div class="fold-bang download" data-type="<%= type %>" data-id="<%= id %>">
				</div>
			</div>
		</div>
		<!-- 作品 -->
		<div class="channel-works">
			<div class="long-pic clearfix">
				<% _.each(replies, function(reply) {  %>
				<div class="channel-works-contain">
					<a target="_blank" href="#homepage/reply/<%= uid %>" class="works-header">
						<span>
							<img "<%= reply.avatar %>" alt="头像">
						</span>
						<em><%= reply.nickname %></em>
					</a>
					<div class="works-contain">
						<a target="_blank" href="#replydetailplay/<%= reply.ask_id %>/<%= reply.id %>">
							<img src="<%= reply.image_url %>" alt="">
							<span class="bg-sprite-new works-icon"></span>
						</a>
					</div>
					<p><%= reply.desc %></p>
					<div class="fold-function">
						<a target="_blank" class="fold-comments" href="#replydetailplay/<%= reply.ask_id %>/<%= reply.	id %>">
							<i class="comments-icon bg-sprite-new"></i>
							<span><%= reply.comment_count %></span>
						</a>
						<div class="fold-praise like like_toggle <%= (uped)? 'liked': '' %>" data-type="<%= type %>" data-id="<%= id %>">
							<i class="praise-icon bg-sprite-new"></i>
							<span class="like-count"><%= reply.up_count %></span>
						</div>
					</div>
				</div>
				<% }) %>

			</div>
		</div>

		<div class="channel-going">
			<em>进行中:</em>
				<% _.each(users, function(user) {  %>
				<a target="_blank" href="#homepage/reply/<%= user.uid %>">
					<img src="<%= user.avatar %>" alt="进行中">
				</a>
				<% }) %>
		</div>
	</div>
</div>