<div class="friendship-main">
    <div class="friendship-avatar">
        <a target="_blank" href="#homepage/reply/<%= uid %>">
            <img src="<%= avatar %>" alt="">
        </a>
    </div>
    <div class="friendship-section-right">
            <div class="name" data-id="<%= uid %>"><%= nickname %></div>
        <!-- <div class="district">广东,深圳</div> -->
        <ul>
            <li class="attention-item">
                <i class="attention-count"><%= fellow_count %></i>
                <span class="attention">关注</span>
            </li>
            <li class="fans-item">
                <i class="fans-count"><%= fans_count %></i>
                <span class="fans">粉丝</span>
            </li>
            <li class="like-item">
                <i class="like-count"><%= uped_count %></i>
                <span class="like">获赞</span>
            </li>
        </ul>
        <% 
            var own_uid = $('.user-message').attr('data-id'); 
            if( own_uid != uid ) {
        %>
            <% if ( is_follow && is_fan ){ %> 
                <span id="one-another" class="one-another" data-id="<%= uid %>">互相关注</span>
            <% } else if( is_follow ){ %>
                <span class="attention-btn" data-id="<%= uid %>">已关注</span>
            <% } else if( is_fan ){ %>
                <span id="one-another" class="one-another" data-id="<%= uid %>">互相关注</span>
                <span id="attention" class="attention-btn attention-btn-pressed" data-id="<%= uid %>">+关注</span>
            <% } else { %>
                <span class="attention-btn" data-id="<%= uid %>">已关注</span>
                <span id="attention" class="attention-btn attention-btn-pressed" data-id="<%= uid %>">+关注</span>
            <% } %>
        <% } %>
    </div>
</div>