<div class="reply-detail-content">
	<div class="detail-content clearfix">
		<!-- 左边 -->
		<div class="replydetail-pic">
			<div class="reply-pic">
				<div class="dig-pic center-image">
					<div class="center-loading-img">
						<div class="img-loading">
							<img id="bigPic" src="" alt="">
							<span class="bg-sprite-new" id="bgIcon"></span>
						</div>
					</div>
				</div>
				<div class="reply-left bg-sprite-new" id="replyDetailLeft"></div>
				<div class="reply-right bg-sprite-new" id="replyDetailRight"></div>
			</div>
			<!-- 底部 -->
			<div class="work-pic">
				<div class="detail-pic clearfix" originalNum="0">
					<%  _.each(ask.ask_uploads, function(asks) {  %>
					<div class="old-pic old-click center-loading-image-container pic-scroll"  data-type="1" data-id="<%= ask.id %>">
						<span class="center-loading">
							<img src="<%= asks.image_url %>" alt="" imageWidth="<%= asks.image_width %>" imageHeight="<%= asks.image_height %>">
							<i class="bg-sprite-new old-icon"></i>
						</span>
					</div>
					<% }) %>
					<% var i = 0; _.each( replies, function(reply,i) { i++ %>
						<div class="other-pic other-click center-loading-image-container pic-scroll" order-number="<%= i %>" data-type="2" data-id="<%= reply.id %>">
							<span class="center-loading">
								<img src="<%= reply.image_url %>" data-id="<%= reply.id %>" imageWidth="<%= reply.image_width %>" imageHeight="<%= reply.image_height %>">
								<i class="bg-sprite-new other-icon"></i>
							</span>
						</div>
					<% }) %>
				</div>
			</div>			
		</div>

		<div class="reply-detail-ifo">
			<div class="right-content">
				<!-- 信息 -->
				<div class="reply-user clearfix" >
					<div id="replyDetailPersonView" class="clearfix"></div>
					<div class="share clearfix">
						<i class="share-icon bg-sprite-new"></i>
						<em>222</em>
					</div>
					<div id="action"></div>
				</div>
				<!-- 评论 -->
				<div class="reply-comment clearfix">
					<div id="count"></div>

					<div class="comment-content clearfix">
						<div class="reply-inp border-bottom clearfix">
							<i class="icon-add-emoji bg-sprite-new"></i>
							<input type="text" maxlength="101" name="" cols="30" rows="10" id="textInp" name="textInp" placeholder="添加评论内容">
							<span id="replyCommentBtn" class="" data-id="" data-type="">评论</span>
						</div>
						<div id="userIfo"></div>
					</div>
				</div>
			</div>
			<div class="reply-detail-more"><span>查看更多评论</span></div>
		</div>
	</div>
</div>