/vendor
vendor/composer.lock
.env
.idea
auth.json
node_modules/
node_modules
storage
storage/
tags
nohup.out
./images
*.log
*.sql
\.*
public/htmls
tools
public/mobile/apk/
public/res/
public/res/index.php
public/css/

