<div class="workSection">
<div class="workSectionHeader clearfix">
	<div class="portrait">
		<img src="<%= 'avatar' %>" alt="用户头像">
	</div>
	<span class="nickname"><%= obj.uid %></span>
</div>
<a href="/services/ask/detail" class="workPic">
	<img src="/images/work.png" alt="作品">
	<div class="origin">
		<span class="tag">原图</span>
		<div class="pic">
			<img src="/images/work.png" alt="原图">
		</div>
		<div class="div-line"></div>
	</div>
</a>
<span class="workDesc">描述描述描述</span>
<div class="workSectionFooter clearfix">
	<div class="footerWrapper">
		<div class="like">
			<i class="icon-like"></i>
			<span class="text-like">26</span>
		</div>
		<div class="comment">
			<i class="icon-comment"></i>
			<span class="text-comment">80</span>
		</div>
	</div>
</div>
</div>

