<div class="forget-dialog"  id="forget-popup">
    <div class="fp-section">
        <div class="fp-title">
            忘记密码
        </div>
        <div class="fg-main">
            <span class="phone-number">
                <input type="text" placeholder="手机号码">
            </span>
            <span class="import-code">
                <!-- <span class="send-verification-code">重新获取验证码</span> -->
                <input name="time" class="send-verification-code" value="60" type="button" />
                <!-- <span class="send-verification-code">获取验证码</span> -->
                <input type="text" placeholder="输入验证码">
            </span>
            <span class="import-password">
                <input type="text" placeholder="输入新密码">
            </span>
            <span class="again-import-password">
                <input type="text" placeholder="确认密码">
            </span>
            <span class="confirm-and-login">
                确认并登录
            </span>
        </div>
    </div>
</div>