<div class="login-dialog"  id="login-popup">
    <div class="login-panel">
        <div class="login-header">
                <div class="login-title" href="#">
                    登录
                </div>
            <div class="login-line-between"></div>
            <a href="#register-popup" class="register-popup">
                <div class="register-title">
                    注册
                </div>
            </a>
        </div>
        <div class="login-name">
            <input id="login_name" maxlength="11" class="input_text validate[required,custom[phone]]" type="text" name="loginName" placeholder="手机号码">
            <div id="user_empty_reminder" class="reminder hide">
                <span class="reminder-cantent">账号不能为空</span>
            </div>
        </div>
        <div class="login-password">
            <input id="login_password" maxlength="16" class="validate[required]" type="password" name="loginPassword" placeholder="密码">
            <div id="user_password_reminder" class="reminder hide">
                <span class="reminder-cantent">密码不能为空</span>
            </div>
        </div>
         <a href="#forget-popup" class="forget-popup">
            <div class="forget-password">
                忘记密码?
            </div>
        </a>
        <input class="login-btn" id="login_btn" disabled value="登录" />
        <div class="line-or">
            <div class="social">社交账号登录</div>
            <div class="icon-container">
                <!-- <i class="weixin-icon bg-sprite-new"></i> -->
                <span id="wb_login_btn" class="weibo"></span>
                <i class="weibo-icon bg-sprite-new"></i>
                <!-- <i class="QQ-icon bg-sprite-new"></i> -->
            </div>
        </div>
    </div>
</div>
