<div class="binding-dialog"  id="binding-popup">
    <div class="binding-section">
        <div class="binding-title">
            请进行账号的手机绑定，完成最后一步
        </div>
        <div class="binding-main">
            <input name="binding-phone" maxlength="11" onkeyup='this.value=this.value.replace(/\D/gi,"")' class="validate[required,custom[phone]]" type="text" placeholder="绑定手机号">
            <input name="binding-password" maxlength="16" class="validate[required]" type="password" placeholder="设置密码">
            <div class="import-code">
                <input name="time" class="send-verification-code" id="sned_code_Binding" value="获取验证码" type="button" />
                <input name="binding-code" onkeyup='this.value=this.value.replace(/\D/gi,"")' class="validate[required]" type="text" placeholder="输入验证码">
            </div>
            <div disabled="disabled" id="confirm_binding" class="confirm-binding">
                确认并登录
            </div>
        </div>
    </div>
</div>