*{
    margin: 0;
    padding: 0;
}
body {
    background: #F6F6F6;
    font-family: '微软雅黑', 'Microsoft Yahei';
}
*::-webkit-input-placeholder { 
    color: #4A4A4A;
    font-size: 14px;
} 
*:-moz-placeholder { 
    color: #4A4A4A;
    font-size: 14px;
} 
*:-ms-input-placeholder { 
/* IE10+ */ 
    color: #4A4A4A;
    font-size: 14px;
} 
ul {
    list-style: none;
}
i {
    font-style: normal;
}
.container {
    width: 100%;
    height: 100%;
}

.bg-sprite {
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
}
.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}

/*icon-styles*/
.icon-logo {
    width: 54px;
    height: 54px;
    background-position: 0px -85px;
    display: inline-block;
}
.icon-tip {
    width: 20px;
    height: 27px;
    background-position: -232px -43px;
    display: inline-block;
    }
.icon-setting {
    width: 26px;
    height: 26px;
    background-position: -190px -42px;
    display: inline-block;
}
.icon-wechat-pressed {
    display: inline-block;
    width: 23px;
    height: 19px;
    background-position: -71px -45px;
}
/*header-styles*/
.header {
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 24px;
    
    .title-bar {
        height: 80px;
        line-height: 80px;
        width: 1260px;
        margin: 0 auto;
        
        .title-bar-logo {
            vertical-align: middle;
        } 
        .title {
            font-size: 15px;
            color: #888888;
            margin-left: 10px;
        }
        
        .user-avatar img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
            border-radius: 50%;
        }
        .title-bar-tip {
            margin-left: 23px;
            vertical-align: middle;
        }
        .title-bar-setting {
            margin-left: 23px;
            vertical-align: middle;
            
            #setting_panel {
                position: relative;
                top: 35px;
                width: 113px;
                height: auto;
                border: 2px solid #F6F6F6;
                font-size: 14px;
                color: #8B8B8B;
                background-color: #FFFFFF;

                a {
                    padding-left: 13px;
                    display: block;
                    line-height: 40px;
                    height: 40px;
                    background-color: #FFFFFF;
                }
                a:hover {
                    background-color: #F9F9F9;
                    color: #75C5FF;
                }
            }
        }
        .title-bar-rank {
            margin-left: 23px;
            font-size: 15px;
            color: #8b8b8b;
        }

        .login-by-wechat {
            font-size: 15px;
            color: #4A4A4A;
            line-height: 80px;
            margin-right: 25px;
        }
        .login-btn {
            font-size: 15px;
            color: #4A4A4A;
            line-height: 80px;
            margin-right: 15px;
        }
        .register-btn {
            font-size: 15px;
            color: #4A4A4A;
            line-height: 80px;
        }
    }

    .menu-bar {
        border-top: 1px solid #F3F3F3;
        width: 100%;

        .menu-bar-area {
            width: 1260px;
            height: 53px;
            margin: 0 auto;
            background-color: #FFFFFF;
            /* remove inline-block margin */
            font-size: 0;
            -webkit-text-size-adjust: none;

            .active {
                color: #75C5FF !important;
                border-bottom: 3px solid #75C5FF;
            }
            .menu-bar-item {
                display: inline-block;
                height: 53px;
                width: 110px;
                line-height: 53px;
                border-left: 1px solid #F3F3F3;
                cursor: pointer;
                text-align: center;
                color: #888888;
                font-size: 16px;
                text-decoration: none;
            }
            .menu-bar-item:hover,.menu-bar-item-last:hover {
                color: #75C5FF !important;
                cursor: pointer;
            }
            .menu-bar-item-last {
                display: inline-block;
                height: 53px;
                width: 110px;
                line-height: 53px;
                border-left: 1px solid #F3F3F3;
                border-right: 1px solid #F3F3F3;
                cursor: pointer;               
                text-align: center;
                color: #888888;
                font-size: 16px;
            }
            .menu-bar-upload-btn {
                float: right;
                background-color: #75C5FF;
                width: 122px;
                height: 53px;
                line-height: 53px;
                cursor: pointer;
                font-size: 16px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}
/* register style */
.login-dialog {
    width: 416px;
    height: 393px;
    border-radius: 5px;
    padding: 35px 30px;

    .login-panel {

        text-align: left;

        .login-header {

            color: #4A4A4A;
            position: relative;

            .login-title {
                display: inline-block;
                font-size: 18px;
                font-weight: 900;
                padding-right: 15px;

            }
            .login-line-between {
                border-right: 1px solid #C1CBD5;
                height: 18px;
                display: inline-block;
                position: absolute;
                bottom: 0px;
                left: 50px;
            }
            .register-title {
                display: inline-block;
                color: #4A4A4A;
                font-size: 14px;
                padding-left: 15px;
            }
        }
        input {
            width: 355px;
            height: 30px;
            border-radius: 2px;
            border: 1px solid #f1f2f3;
            padding-left: 15px;
        }
        
        .login-name {
            
            margin-top: 45px;

        }
        .login-password {
            margin-top: 15px;
        }
            
        .bg-color {

            input {
                background: #f1f2f3;
            }
        }
        .forget-password {
            text-align: right;
            color: #75C5FF;
            font-size: 14px;
            margin-top: 10px;
        }
        .login-btn {
            width: 360px;
            height: 35px;
            color: #fff;
            background-color: #75C5FF;
            text-align: center;
            line-height: 35px;
            border-radius: 20px;
            display: inline-block;
            font-size: 14px;
            margin-top: 15px;
        }
        .line-or {
            margin: 30px 0px 10px ;
            text-align: center;
            font-size: 14px;
            color: #4A4A4A;
        }
        .login-wechat-btn {
            width: 360px;
            height: 35px;
            color: #fff;
            background-color: #91de96;
            text-align: center;
            line-height: 35px;
            border-radius: 20px;
            display: inline-block;
            font-size: 14px;
        }
    }

}
 /* Wechar qr code */
.Wechat-Qrcode {
    width: 300px;
    height: 300px;
}
.footer {
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    color: #D6D6D6;
    font-size: 13px;
    margin-top: 280px;
}
