  .hidder-animation {
    display: none !important;
}
.container {
    background-color: #FFF000;
}  
.download-container {
	background-color: #FFF000;
	width: 100%;
	height: 100%;
	margin-top:  -22px;
	display: inline-block;

	.app-introduce {
		width: 1000px;
		height: 100%;
		margin: 0 auto;
		padding-top: 75px;

		.app-introduce-picture {
			display: inline-block;

			img {

			}
		}
		.app-item-introduce {
			width: 430px;
			margin-left: 70px;
			display: inline-block;
			vertical-align: top;
			margin-top: 100px;
			color: #000;
			opacity: 0.8; 

			.app-relation {
				display: block;
				font-size: 22px;
			}
			.app-intro {
			    font-size: 14px;
			    display: block;
			    margin-top: 14px;
			}
		} 
	}
	.attention-me {
		margin-top: 20px;
    display: inline-block;
    	.attention {
    		    font-size: 22px;
    display: block;
    	}
		.weibo {
			    display: block;
    margin-top: 15px;
    font-size: 14px;
			.weibo-icon {
				width: 28px;
				height: 28px;
				    background-position:-105px -42px;
				    display: inline-block;

			}
			.call-tupai {
						      vertical-align: top;
    margin-top: 5px;
    display: inline-block;
    margin-left: 7px;
			}
		}
		.weixin {
    display: block;
    margin-top: 15px;
    font-size: 14px;
			.weixin-icon {
				width: 28px;
				    display: inline-block;
				height: 28px;
				    background-position: -106px -1px;
			}
			.official {
					      vertical-align: top;
    margin-top: 5px;
    display: inline-block;
    margin-left: 7px;
			}
		}
	}
}