.fancybox-skin {
  background: #fff;
}
/*导航栏目隐藏*/
.hidder-animation { 
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;  
    -webkit-animation-fill-mode: forwards ;  
    animation-fill-mode: forwards ;
     -webkit-animation-delay:1s;  /**延迟动画**/
     animation-delay:1s; 
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 1;
        margin-top: 0;
    }

    100% {
        opacity: 0;
        margin-top: -80px;
    }
}
.inner-container {
    width: 100%;
    height: 100%;
}
.personage-container {
  width: 1260px;
  margin: 0 auto;

    .personage-message {
        width: 300px;
        height: 700px;
        display: inline-block;
        background-color: #fff;
  
        .personage-header {
            height: 70px;
            line-height: 70px;
            padding: 0 47px;

              .home-page-icon {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  background-position: -110px -303px;
                  vertical-align: text-top;
            }
            .return-home-page {
                color: #4A4A4A;
                font-size: 15px;
                display: inline-block;
                padding-left: 10px;
            }
        }
        .personage-details {
            width: 215px;
            height: 320px;
            margin: 0 auto;
            border-top:2px solid #f8f8f8; 
            border-bottom:2px solid #f8f8f8; 

            .personage-head-protrait {
                display: inline-block;
                width: 90px;
                height: 90px;
                -moz-border-radius: 50%; /* Firefox */
                -webkit-border-radius: 50%; /* Safari 和 Chrome */
                border-radius: 50%;
                border:1px solid #D3D3D3;
                overflow:hidden;
                position:relative;
                margin: 25px 60px 15px;

                img {
                    width: 90px;
                    height: 90px;
                    -moz-border-radius: 50%; /* Firefox */
                    -webkit-border-radius: 50%; /* Safari 和 Chrome */
                    border-radius: 50%;

                }
            }
            .personage-name {
                display: block;
                text-align: center;
            }
            .personage-actionbar-count {
                display: block;
                font-size: 13px;
                margin: 30px 0;

                li {
                    display: inline-block;
                    width: 65px;
                    height: 40px;
                }
                i {
                    font-size: 15px;
                    color: #6698D3;
                }
                span {
                    font-size: 12px;
                    color: #9b9fab;
                }
                i,span {
                    display: inline-block;
                    width: 65px;
                    height: 20px;
                    text-align: center;
                }
                .personage-attention,.personage-fans {
                    border-right:1px solid #f4f4f4;
                }
            }
            .toggle-attention {
                display: block;
                text-align: center;
                span {
                    width: 86px;
                    height: 30px;
                    display: inline-block;
                    border-radius: 2px;
                    text-align: center;
                    line-height: 30px;
                    font-size: 14px;
                    cursor: pointer;
                }
                .cancel-attention {
                    background: #EBEBEB;
                    color: #9B9B9B;
                }
                .attention {
                    border: 1px solid #6698D3;
                    color: #6698D3;
                }
            }
        }
        .personage-nav {
          margin-top: 10px;
          text-align: center;
          color: #9B9B9B;
          
          .designate-nav {
            background-color: #F4F4F4; 
            border-radius: 5px;  
            color: #4A4A4A !important;         
          }
          .personage-special-column,.personage-seek-help,.personage-photo-product,.personage-under-way {
              width: 280px;
              height: 40px;
              line-height: 40px;
              display: inline-block;
              position: relative;
              margin-top: 15px;
              cursor: pointer;
              
              .special-column-icon,.seek-help-icon,.photo-product-icon,.under-way-icon {
                  display: inline-block;
                  width: 45px;
                  height: 45px;
              }
              .special-column-icon {
                background-position: -1px -335px;
                margin-left: 20px;
              }
              .seek-help-icon {
                background-position: -69px -335px;
                margin-left: 20px;
              }
              .photo-product-icon {
                background-position: -136px  -335px;
                margin-left: 20px;
              }
              .under-way-icon {
                background-position: -201px -335px;
                margin-left: 20px;
              }             
              .special-column,.seek-help,.photo-product,.under-way {
                 display: inline-block;
                 height: 45px;
                 margin-left: 25px;
              }
              .special-column-count,.seek-help-count,.photo-product-count,.under-way-count {
                 color: #4A4A4A;
                 margin-right: 30px;
              }
          }
        }

    }
    .under-way-container {
        width: 960px;

        .photo-item {
        
            width: 300px;
            background-color: #FFFFFF;
            margin-left: 20px;
            margin-bottom: 18px;

            .photo-item-content {
               position: relative;
               height: 400px;
               width: 300px;
               line-height: 400px;
               overflow: hidden;
               border-bottom: 1px solid #F6F6F6;

               img {
                  width: 100%;
                  vertical-align: middle;
               }
               .photo-item-reply {
                  position: absolute;
                  bottom: -163px;
                  left: 12px;

                  img {
                      width: 52px;
                      height: 52px;
                      border-radius: 4px;
                  }
               }
            }
            /* 求P */
            .ask-tiem-actionbar {
                height: 60px;
                line-height: 60px;

                .ask-content {
                      margin: 0 10px;
                      padding: 18px 0;
                      border-bottom: 1px solid #F6F6F6;
                      font-size: 12px;
                      height: 10px;
                      line-height: 10px;
                    }

                .download-item-actionbar {
                    .download-icon {
                        display: inline-block;
                        width: 22px;
                        height: 23px;
                        background-position: -157px -717px;
                        margin-left: 18px;
                        vertical-align: text-bottom;
                    }

                    .download-work {
                      font-size: 14px;
                      color: #4A4A4A;
                    }
                }
                .work-count {
                    color: #4A4A4A;
                    font-size: 12px;
                    margin-right: 18px;
                }
            }
            /* 进行中 */
            .photo-item-personage {
                height: 52px;
                position: relative;
                border-bottom: 1px solid #F6F6F6;
            
                img  {
                      padding: 14px 6px 14px 12px;
                      width: 31px;
                      height: 31px;
                      border-radius: 50%;
                }
                .photo-item-author {
                    position: absolute;
                    height: 52px;
                    line-height: 52px;
                    color: #888888;
                    font-size: 16px;
                    margin-left: 5px;
                }
                .photo-item-author {
                    position: absolute;
                    height: 52px;
                    line-height: 52px;
                    color: #888888;
                    font-size: 14px;
                    margin-left: 5px;
                }
                .photo-item-created {
                    position: absolute;
                    right: 0;
                    height: 52px;
                    line-height: 52px;
                    padding-right: 18px;
                    color: #bcbcbc;
                    font-size: 13px;
                }
            }
            .operate-item-actionbar {
                height: 60px;
                line-height: 60px;

                .check {
                  color: #4A4A4A;
                  display: inline-block;
                  width: 50px;
                  height: 50px;
                  margin-left: 18px;
                }
                .delete {
                  color: #4A4A4A;
                  width: 50px;
                  height: 50px;
                  text-align: right;
                  margin-right: 18px;
                }
                .grade {
                  color: #4A4A4A;
                  font-size: 14px;
                  margin-right: 18px;
                  
                   i {
                    font-size: 14px;
                    color: #FE8282;
                    margin-left: 10px;
                   }
                }
                .refuse-content {
                  color: #4A4A4A;
                  font-size: 14px;
                  margin-right: 18px;                 
                }
            }


            .uploading-delete {

                height: 55px;
                line-height: 55px;

                .uploading-icon {
                    display: inline-block;
                    width: 30px;
                    height: 55px;
                    background-position: -162px -284px;
                    margin-left: 9px;
                }
                .uploading {
                    display: inline-block;
                    width: 70px;
                    height: 55px;
                    color: #4A4A4A;
                    font-size: 15px;
                    line-height: 60px;
                }
                .delete {
                    color: #4A4A4A;
                    font-size: 14px;
                    margin-right: 18px;
                    display: inline-block;
                }
            }
        }
    }
    
}
