.inner-container {
    width: 100%;
    height: 100%;
}
.personage-container {
  width: 1260px;
  margin: 0 auto;

    .personage-message {
        width: 300px;
        height: 700px;
        display: inline-block;
        background-color: #fff;
  
        .personage-header {
            height: 70px;
            line-height: 70px;
            padding: 0 47px;

              .home-page-icon {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  background-position: -110px -303px;
            }
            .return-home-page {
                color: #91d1ff;
                font-size: 15px;
                display: inline-block;
                padding-left: 10px;
            }
        }
        .personage-details {
            width: 215px;
            height: 320px;
            margin: 0 auto;
            border-top:2px solid #f8f8f8; 
            border-bottom:2px solid #f8f8f8; 

            .personage-head-protrait {
                display: inline-block;
                width: 90px;
                height: 90px;
                -moz-border-radius: 50%; /* Firefox */
                -webkit-border-radius: 50%; /* Safari 和 Chrome */
                border-radius: 50%;
                border:5px solid #75c5ff;
                overflow:hidden;
                position:relative;
                margin: 25px 60px 15px;

                img {
                    width: 90px;
                    height: 90px;
                    -moz-border-radius: 50%; /* Firefox */
                    -webkit-border-radius: 50%; /* Safari 和 Chrome */
                    border-radius: 50%;

                }
            }
            .personage-name {
                display: block;
                text-align: center;
            }
            .personage-actionbar-count {
                display: block;
                font-size: 13px;
                margin: 30px 0;

                li {
                    display: inline-block;
                    width: 65px;
                    height: 40px;
                }
                i {
                    font-size: 15px;
                    color: #89d9ff;
                }
                span {
                    font-size: 12px;
                    color: #9b9fab;
                }
                i,span {
                    display: inline-block;
                    width: 65px;
                    height: 20px;
                    text-align: center;
                }
                .personage-attention,.personage-fans {
                    border-right:1px solid #f4f4f4;
                }
            }
            .toggle-attention {
                display: block;
                text-align: center;
                span {
                    width: 130px;
                    height: 35px;
                    display: inline-block;
                    border-radius: 20px;
                    text-align: center;
                    line-height: 35px;
                    font-size: 14px;
                }
                .cancel-attention {
                    background: #c1cbd5;
                    color: #fff;
                }
                .attention {
                    background: #75C5FF;
                    color: #fff;
                    display: none;
                }
            }
        }
        .personage-nav {
             
          margin-top: 10px;

          .personage-special-column,.personage-seek-help,.personage-photo-product,.personage-under-way {
              width: 215px;
              height: 45px;
              line-height: 45px;
              display: inline-block;
              padding-right: 40px;
              padding-left: 45px;
              position: relative;
              margin-top: 15px;
              
              .border-nav {
                  height: 45px;
                  border-left: 3px solid #75c5ff;
                  position: absolute;
                  display: inline-block;
                  left: 0px;
              }

              .special-column-icon,.seek-help-icon,.photo-product-icon,.under-way-icon {
                  display: inline-block;
                  width: 45px;
                  height: 45px;
              }
              .special-column-icon {
                background-position: -1px -335px;
              }
              .seek-help-icon {
                background-position: -69px -335px;
              }
              .photo-product-icon {
                background-position: -136px  -335px;
              }
              .under-way-icon {
                background-position: -201px -335px;
              }             
              .special-column,.seek-help,.photo-product,.under-way {
                 color: #9B9B9B;
                 display: inline-block;
                 height: 45px;
                 margin-left: 25px;
              }
              .special-column-count,.seek-help-count,.photo-product-count,.under-way-count {
                 color: #75c9ff;
              }
          }
        }

    }
    .under-way-container {
        width: 960px;

        .photo-item {
        
            width: 300px;
            height: 510px;
            background-color: #FFFFFF;
            margin-left: 20px;
            margin-bottom: 18px;

            .photo-item-content {
               position: relative;
               height: 400px;
               width: 300px;
               line-height: 400px;
               overflow: hidden;
               border-bottom: 1px solid #F6F6F6;

               img {
                  width: 100%;
                  vertical-align: middle;
               }
               .photo-item-reply {
                  position: absolute;
                  bottom: -163px;
                  left: 12px;

                  img {
                      width: 52px;
                      height: 52px;
                      border-radius: 4px;
                  }
               }
            }
            .photo-item-personage {
                height: 52px;
                position: relative;
                border-bottom: 1px solid #F6F6F6;
            
                img  {
                      padding: 14px 6px 14px 12px;
                      width: 31px;
                      height: 31px;
                      border-radius: 50%;
                }
                .photo-item-author {
                    position: absolute;
                    height: 52px;
                    line-height: 52px;
                    color: #888888;
                    font-size: 16px;
                    margin-left: 5px;
                }
                .photo-item-author {
                    position: absolute;
                    height: 52px;
                    line-height: 52px;
                    color: #888888;
                    font-size: 14px;
                    margin-left: 5px;
                }
                .photo-item-created {
                    position: absolute;
                    right: 0;
                    height: 52px;
                    line-height: 52px;
                    padding-right: 18px;
                    color: #bcbcbc;
                    font-size: 13px;
                }
            }
            .uploading-delete {

                height: 55px;
                line-height: 55px;

                .uploading-icon {
                    display: inline-block;
                    width: 30px;
                    height: 55px;
                    background-position: -162px -284px;
                    margin-left: 9px;
                }
                .uploading {
                    display: inline-block;
                    width: 70px;
                    height: 55px;
                    color: #75C5FF;
                    font-size: 15px;
                    line-height: 60px;
                    margin-left: 10px;
                }
                .delete {
                    color: #4A4A4A;
                    font-size: 14px;
                    margin-right: 18px;
                    display: inline-block;
                }
            }
        }
    }
    
}
