.message-container {
	width: 1250px;
	margin: 0 auto;
	color: #4A4A4A;
	font-size: 14px;
	.message {
		vertical-align: top;
		display: inline-block;
		width: 290px;
		height: 290px;
		background: #fff;
		.message-title {
			padding: 15px;
			border-bottom: 1px solid #F1F2F3;
		}
	    i {
	    	display: inline-block;
	    }
		.comment-nav {
			margin-top: 10px;
		    width: 280px;
		    background: #F4F4F4;
		    height: 40px;
		    border-radius: 5px;
		    line-height: 40px;
		    margin-left: 5px;
		    position: relative;
			.comment-icon {
				position: absolute;	
		        left: 50px;
    top: 11px;
			width: 18px;
    height: 18px;
    display: inline-block;
    background-position: 0px -82px;
			}
			.comment {
    position: absolute;
    left: 86px;
    top: 0px;

			}
		}
		.paste-nav {
			margin-top: 10px;
		    width: 280px;
		    background: #F4F4F4;
		    height: 40px;
		    border-radius: 5px;
		    line-height: 40px;
		    margin-left: 5px;
		    position: relative;
			.paste-icon {
				position: absolute;	
		        left: 50px;
    top: 11px;
			width: 21px;
    height: 18px;
    display: inline-block;
    background-position: -39px -82px;
			}
			.paste {
    position: absolute;
    left: 86px;
    top: 0px;

			}
		}
		.attenion-nav {
						margin-top: 10px;
		    width: 280px;
		    background: #F4F4F4;
		    height: 40px;
		    border-radius: 5px;
		    line-height: 40px;
		    margin-left: 5px;
		    position: relative;
			.attention-icon {
position: absolute;
    left: 50px;
    top: 11px;
    width: 21px;
    height: 21px;
    display: inline-block;
    background-position: -120px -82px;

			}
			.attenion {
		    position: absolute;
		    left: 86px;
		    top: 0px;

			}
		}
		.system-nav {
						margin-top: 10px;
		    width: 280px;
		    background: #F4F4F4;
		    height: 40px;
		    border-radius: 5px;
		    line-height: 40px;
		    margin-left: 5px;
		    position: relative;
			.system-icon {
				position: absolute;	
		        left: 50px;
    top: 11px;
			width: 20px;
    height: 18px;
    display: inline-block;
    background-position: -84px -82px;
			}
			.system {
    position: absolute;
		    left: 86px;
		    top: 0px;
			}
		}
	}
	.message-section {
		    width: 943px;
    display: inline-block;
    margin-left: 15px;
    background: #fff;

	.title {
			padding: 15px;
			border-bottom: 1px solid #F1F2F3;
	}
	.message-detail {
		position: relative;
			border-bottom: 1px solid #F1F2F3;
			    min-height: 108px;
		.head {
			display: inline-block;
    position: absolute;
    left: 24px;
    top: 20px;
			img {
				width: 45px;
				height: 45px;
				border-radius: 50%;
			}
		}
		.message-person {
			position: absolute;
		    top: 20px;
		    left: 100px;
 			.name {
				color: #6698D3;
			}
			.time {
				color: #9B9B9B;
				font-size: 12px;
				    margin-left: 10px;
			}
		}
		.message-content {
    display: inline-block;
    width: 800px;
    margin-left: 98px;
    margin-top: 43px;
		}
		.picture {
position: absolute;
    top: 15px;
    right: 15px;
			img {
				width: 75px;
				height: 75px;
			}
		}
	}
	}

}