
.reply-main {
	width: 100%;
	background-color: #f6f6f6;
	.dynamic-content {
		width: 900px;
		margin: 0 auto;
		.head-portrait {
			float: left;
			width: 60px;
			height: 60px;
			margin-right: 53px;
			a {
				display: block;
				img {
					display: block;;
					width: 60px;
					height: 60px;
					-ms-border-radius: 50px;
					-moz-border-radius: 50px;
					-webkit-border-radius: 50px;
					border-radius: 50px;
				}
			}
		}
		.main-content {
			float: left;
			width: 787px;
			height: 373px;
			background-color: #fff;
			.upload {
				span {
					float: left;
				}
			}
		}
	}
}