<div class="channel-work">
	<div class="card-section">
		<!-- 求P原图 -->
		<div class="work-list clearfix">
			<div class="ask-card">
				<div class="header">
					<span class="avatar">
						<img class="imageLoad" data-original="<%= ask.avatar %>" alt="">
					</span>
					<span class="user-name">
						<%= ask.nickname %>
					</span>
					<div class="ask-icon">
						原图
					</div>
				</div>
				<div class="card-img">
					<img class="imageLoad" data-original="<%= ask.image_url %>" alt="">
				</div>
				<div class="foot">
					<div class="work-count">
						已有作品:<%= ask.reply_count %>
					</div>
					<div class="ask-content">
						<%= ask.desc %>
					</div>
				</div>
			</div>
		<!-- 作品 -->
		<% _.each(replies, function(reply){ %>
			<div class="work-card">
				<div class="header">
					<span class="avatar">
						<img class="imageLoad" data-original="<%= reply.avatar %>" alt="">
					</span>
					<span class="user-name">
						名字
					</span>
				</div>
				<div class="card-img">
					<img class="imageLoad" data-original="<%= reply.image_url %>" alt="">
				</div>
				<div class="foot">
					<div class="button">
						<div class="comment">
							<i class="comment-icon"></i>
							<%= reply.comment_count %>
						</div>
						<div class="like">
							<i class="like-icon"></i>
							<%= reply.like_count %>
						</div>
					</div>
					<div class="ask-content">
						<%= reply.desc %>
					</div>
				</div>
			</div>
		<% }) %>
		</div>
		<div class="card-footer">
			<div class="p-button">
				<img src="/web/img/bangp.png" alt="">
			</div>
			<div class="progress-count">
				<div class="progress-remind">
					<i class="progress-icon"></i>
					进行中:
				</div>
				<div class="progress-avatar">
					<img class="imageLoad" data-original="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
