<div class="channel-work">
	<div class="card-section">
		<!-- 求P原图 -->
		<div class="work-list clearfix">
			<div class="ask-card">
				<div class="header">
					<a href="#user/their/<%= ask.uid %>">
						<span class="avatar">
							<img class="imageLoad" data-original="<%= ask.avatar %>" alt="">
						</span>
					</a>
					<span class="user-name">
						<%= ask.nickname %>
					</span>
					<div class="ask-icon">
						原图
					</div>
				</div>
				<a href="#detail/ask/<%= ask.id %>">
					<div class="card-img">
						<img class="imageLoad" data-original="<%= ask.image_url %>" alt="">
					</div>
				</a>
				<div class="foot">
					<div class="work-count">
						已有作品:<%= ask.reply_count %>
					</div>
					<div class="ask-content">
						<%= ask.desc %>
					</div>
				</div>
			</div>
		<!-- 作品 -->
		<% _.each(replies, function(reply){ %>
			<div class="work-card">
				<div class="header">
					<a href="#user/their/<%= reply.uid %>">
						<span class="avatar">
							<img class="imageLoad" data-original="<%= reply.avatar %>" alt="">
						</span>
					</a>
					<span class="user-name">
						名字
					</span>
				</div>
				<a href="#detail/detail/<%= reply.id %>">
					<div class="card-img">
						<img class="imageLoad" data-original="<%= reply.image_url %>" alt="">
					</div>
				</a>
				<div class="foot">
					<div class="button">
						<div class="comment">
							<i class="comment-icon"></i>
							<%= reply.comment_count %>
						</div>
						<div class="like">
							<i class="like-icon"></i>
							<%= reply.like_count %>
						</div>
					</div>
					<div class="ask-content">
						<%= reply.desc %>
					</div>
				</div>
			</div>
		<% }) %>
		</div>
		<div class="card-footer">
			<div class="p-button">
				<img src="/web/img/bangp.png" alt="">
			</div>
			<div class="progress-count">
				<div class="progress-remind">
					<i class="progress-icon"></i>
					进行中:
				</div>
				<% _.each(users, function(user){ %>
					<a href="#user/their/<%= user.uid %>">
						<div class="progress-avatar">
							<img class="imageLoad" data-original="<%= user.avatar %>" alt="">
						</div>
					</a>
					<% }) %>
			</div>
		</div>
	</div>
</div>
