<div class="search-container">
	<div class="search-head">
		<div class="search-nav">
			<ul>
				<li class="nav all nav-botttom">全部</li>
				<li class="nav">用户</li>
				<li class="nav">内容</li>
				<li class="nav">讨论</li>
			</ul>
		</div>
	</div>
	<div class="correlation-section">
		<span class="correlation-user">相关用户
			<span class="more">更多<i class="more-icon bg-sprite-new"></i></span>
		</span>
		<div id="userItemView"></div>

		<span class="correlation-content">相关内容
			<span class="more">更多<i class="more-icon bg-sprite-new"></i></span>
		</span>
		<div id="contentItemView"></div>

		<span class="correlation-discuss">相关讨论
			<span class="more">更多<i class="more-icon bg-sprite-new"></i></span>
		 </span>
		<div id="discussItemView"></div>

	</div>
</div>