<div class="search-container">
	<div class="search-head">
		<div class="search-nav">
			<ul>
				<li class="nav all nav-botttom">全部</li>
				<li class="nav">用户</li>
				<li class="nav">内容</li>
				<li class="nav">讨论</li>
			</ul>
		</div>
	</div>
	<div class="correlation-section">
		<span class="correlation-user">相关用户</span>
		<div class="search-content">
			<span class="avatar">
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151029-1645015631dc8d48505.jpg?imageView2/2/w/480" alt="">
			</span>
			<span class="person-message">
				<span class="name">刘金平</span>
				<ul>
					<li class="">11作品</li>
					<li class="">11粉丝</li>
					<li class="">11获赞</li>
				</ul>
			</span>
			<div class="attention-btn attention-btn-pressed">+关注</div>
		</div>
	</div>
	<div class="correlation-section">
		<span class="correlation-content">相关内容</span>
		<div class="hot-section">
	        <span class="hot-picture">
	            <img src="http://7u2spr.com1.z0.glb.clouddn.com/20151104-1530245639b410b1945.jpg?imageView2/2/w/480" alt="">
	        </span>
		  	<div class="desc">
		  		相关内容相关内容相关内容相关内容相关内
		  	</div>    
			<div class="hot-footer">
					<span class="header-portrait">
						<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151104-1530245639b410b1945.jpg?imageView2/2/w/480" alt="">
					</span>
				<span class="hot-name">
					<%= '刘金平' %>
				</span>
				<span class="time">
					123123
				</span>
				<span class="hot-item-actionbar">
			
					<span class="like">
						<span class="like-icon bg-sprite"></span>
						<span class="like-count"><%= 1 %></span>
					</span>
					<span class="comment">
						<span class="comment-icon bg-sprite"></span>
						<span class="comment-count"><%= 1 %></span>
					</span>
				</span>
			</div>
		</div>
	</div>

	<div class="correlation-section">
		<span class="correlation-discuss">相关讨论
			<span class="more">更多
				<i class="more-icon bg-sprite-new"></i>
			</span>
		 </span>
		<div class="section">
			<div class="discuss-content">
				<span class="avatar">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151104-1530245639b410b1945.jpg?imageView2/2/w/480" alt="">
				</span>
				<span class="discuss-list">
					<ul>
						<li class="name">刘金平</li>
						<li class="content">刘金平</li>
						<li class="describe">刘金平刘金平刘金平刘金平刘金平刘金平刘金平</li>
					</ul>
				</span>
				<span class="time-item">
					<span class="time">2015.1.1</span>
					<span class="count">20</span>
				</span>
			</div>
		</div>
		<div class="section">
			<div class="discuss-content">
				<span class="avatar">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151104-1530245639b410b1945.jpg?imageView2/2/w/480" alt="">
				</span>
				<span class="discuss-list">
					<ul>
						<li class="name">刘金平</li>
						<li class="content">刘金平</li>
						<li class="describe">刘金平刘金平刘金平刘金平刘金平刘金平刘金平</li>
					</ul>
				</span>
				<span class="time-item">
					<span class="time">2015.1.1</span>
					<span class="count">20</span>
				</span>
			</div>
		</div>
		<div class="section">
			<div class="discuss-content">
				<span class="avatar">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151104-1530245639b410b1945.jpg?imageView2/2/w/480" alt="">
				</span>
				<span class="discuss-list">
					<ul>
						<li class="name">刘金平</li>
						<li class="content">刘金平</li>
						<li class="describe">刘金平刘金平刘金平刘金平刘金平刘金平刘金平</li>
					</ul>
				</span>
				<span class="time-item">
					<span class="time">2015.1.1</span>
					<span class="count">20</span>
				</span>
			</div>
		</div>
	</div>
</div>