<div class="section">
	<div class="discuss-content">
		<span class="avatar">
			<img src="<%= avatar %>" alt="">
		</span>
		<span class="discuss-list">
			<ul>
				<li class="name"><%= nickname %></li>
				<li class="content">
					<a href="/bbs/topic/show/<%= topic_id %>">
						<%= title %>
					</a>
				</li>
				<li class="describe"><%= content %></li>
			</ul>
		</span>
		<span class="time-item">
			<span class="time">
				<% var timeMatrixing = time(addtime); %><%= timeMatrixing %>
			</span>
			<span class="count"><%= comments %></span>
		</span>
	</div>
</div>