<div class="trend-inner-container">
	<div class="dynamics-section clearfix">

		<div class="dynamics-person">
			<a target="_blank" href="#homepage/reply/<%= uid %>">
				<img src="<%= avatar %>" alt="<%= avatar %>">
				<span class="name"><%= nickname %></span>
			</a>
		</div>
		<div class="dynamics-right-content">
			<div class="slice"></div>	
			<div class="dynamics-content">
				<div class="dynamics-header clearfix">
					<p> 
						<% if( type == 1 ) {%>
		                上传了一张原图，并说：
		                <% } %>
		                <% if( type == 2 ) {%>
		                上传了一张作品，并说：
		                <% } %>
		            </p>
					<div class="dynamics-time">
						<em class="time-icon bg-sprite-new"></em>
						<span><%= time(create_time) %></span>
					</div>
				</div>
				<div class="reply-content">“<p><%= desc %></p>”</div>
			</div>
			<!-- 原图作品 -->
			<div class="picture-content clearfix">
				<!-- <div class="pic-center"> -->
				<% if( type == 2 ) {%>
					<div class="reply-picture">
						<a target="_blank" href="#replydetailplay/<%= ask_id %>/<%= id %>">
							<img src="<%= image_url %>" alt="">
							<span class="reply-icon bg-sprite-new"></span>
						</a>
					</div>
					<div class="old-pic clearfix">
						<% _.each(ask_uploads, function(ask_upload){ %>
						<a target="_blank" href="#askdetail/ask/<%= ask_id %>">
								<img src="<%= ask_uploads[0].image_url %>" alt="">
								<span class="old-icon bg-sprite-new"></span>
						</a>
						<% }) %>
					</div>

				<% } else { %>
					<div class="old-pic-two">
						<% _.each(ask_uploads, function(ask_upload){ %>
						<a target="_blank" href="#askdetail/ask/<%= ask_id %>">
							<% if(ask_upload.image_url) { %>
								<img src="<%= ask_uploads[0].image_url %>" alt="">
							<%  } %>	
							<span class="old-icon bg-sprite-new old-icon"></span>
						</a>
						<% }) %>
					</div>

				<% } %> 
			</div>
			<!-- 功能 -->
			<div class="trend-actionbar clearfix">
				<!-- 点赞 -->
				<% if( type == 2 ) { %>
				<div class="like-actionbar like like_toggle" data-type="<%= type %>" data-id="<%= id %>">
					<i class="trend-icon bg-sprite-new" ></i>
					<em class="like-count <%= (uped)? 'like-color': '' %>"><%= up_count %></em>
				</div>
				<% } else { %>
				<div class="P-actionbar download" data-type="<%= type %>" data-id="<%= id %>">
					<i class="trend-icon bg-sprite-new"></i>
					<em>BANG</em>
				</div>
				<% } %>

				<!-- 评论 -->
				<!-- 微博分享按钮 -->
				<wb:share-button appkey="1211791030" addition="simple" type="button" ralateUid="5738008040" default_text="分享" pic="http%3A%2F%2F7u2spr.com1.z0.glb.clouddn.com%2F20151118-180636564c4daca91ad.jpg%3FimageView2%2F2%2Fw%2F480||http%3A%2F%2F7u2spr.com1.z0.glb.clouddn.com%2F20151118-180636564c4daca91ad.jpg%3FimageView2%2F2%2Fw%2F480"></wb:share-button>
						
				<% if( type == 1 ) { %>
				<a target="_blank" href="#comment/ask/<%= ask_id %>" class="comment-actionbar">
					<i class="trend-icon bg-sprite-new"></i>
					<em><%= comment_count %></em>
				</a>
			<div class="share-actionbar">
				<% } else { %>
				<a target="_blank" href="#replydetailplay/<%= ask_id %>/<%= id %>" class="comment-actionbar">
					<i class="trend-icon bg-sprite-new"></i>
					<em><%= comment_count %></em>
				</a>
				<% } %>
				<div class="share-actionbar">
					<i class="trend-icon bg-sprite-new"></i>
					<em><%= share_count %></em>
				</div>

				<div class="trend-share">
					<a class="trend-weibo" href="">
						<i class="bg-sprite-new"></i>
						<em>新浪微博</em>
					</a>
					<a class="trend-qq" href="">
						<i class="bg-sprite-new"></i>
						<em>QQ空间</em>
					</a>
					<a class="share" href=""></a>
				</div>
			</div>
		</div>
	</div>
</div>