<div class="workSection">
	<a href="#personal/personal/<%= uid %>" class="workSectionHeader clearfix">
		<div class="portrait">
			<img src="<%= avatar %>" alt="用户头像">
		</div>
		<span class="nickname"><%= nickname %></span>
	</a>
	<a href="#ask/detail/<%= ask_id%>/<%= reply_id %>" class="workPic">
		<img src="<%= image_url %>" alt="作品">
		<div class="origin">
			<span class="tag">原图</span>
			<div class="pic">
				<% var i =0; _.each(ask_uploads, function(ask, i) { i++ %>
					<% if(i==1) { %>
				<img src="<%= ask.image_url %>" alt="原图">
				<% }}) %>
			</div>
			<div class="div-line"></div>
		</div>
	</a>
	<span class="workDesc">描述描述描述</span>
	<div class="workSectionFooter clearfix">
		<div class="footerWrapper">
			<div class="like">
				<i class="icon-like"></i>
				<span class="text-like"><%= up_count %></span>
			</div>
			<div class="comment" reply-id="<%= reply_id %>">
				<i class="icon-comment"></i>
				<span class="text-comment"><%= comment_count %></span>
			</div>
		</div>
	</div>
</div>

