<div class="activity-work clearfix">
	<div class="work-content">
		<div class="work-card">
			<div class="header">
				<div class="avatar">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				<div class="user-name">
					名字
				</div>
				<div class="follow-btn">
					关注
				</div>
			</div>
			<div class="content">
				作品回答内容
			</div>
			<div class="work-img">
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
			</div>
			<div class="btn-gather clearfix">
				<div class="comment-show">
					<i class="comment-icon"></i>
					<span class="comment-count">66</span>
				</div>
				<div class="like-show">
					<i class="like-icon"></i>
					<span class="like-count">123</span>
				</div>
			</div>
			<div class="channer clearfix">
				<i class="channer-icon"></i>
				<span class="channer-content">频道内容</span>
				<span class="channer-content">频道内容</span>
				<span class="channer-content">频道内容</span>
			</div>
		</div>
	</div>
</div>
