@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#FFF;font-family:Arial,'华文细黑';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'华文细黑';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#666666; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{border:none;outline:none;font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
*{-webkit-tap-highlight-color:rgba(0,0,0,0);} 

.wrap, html, body {
    *min-width: 320px;
    height: 100%;
    background: url("../images/bg1.jpg") 0 0 no-repeat;
    background-size: cover;
}
.wrap audio {
    height: 0;
    visibility: hidden;
}
p {
    width: 75%;
    height: 8rem;
    margin: 0 auto;
    background: url("../images/zi.png") center center no-repeat;    
    background-size: cover;
}
.cards-one {
    width: 75%;
    padding-top: 2rem;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; 

    -webkit-transform: rotateY(10deg);
    transform: rotateY(10deg);
}
.cards-left {
    position: relative;
    overflow: hidden;
    float: left;
    height: 14.28rem;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;

    -webkit-transform: translateZ(1px) rotateX(183deg) skew(10deg, -5deg);
    transform: translateZ(1px) rotateX(183deg) skew(10deg, -5deg);
}
.left-two {
    position: absolute;
    display: block;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 14.28rem;
    -webkit-transform-origin: center;
    transform-origin: center;

    /*-webkit-backface-visibility: hidden;*/
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.left-one {
    display: block;
    width: 100%;
    height: 28.56rem;
    -webkit-transform: skew(5deg, -5deg, 5deg, -5deg);
    transform: skew(5deg, -5deg, 5deg, -5deg);
}
.cards-right img {
    display: block;
    width: 100%;
    height: 28.56rem;
    margin-top: -14.28rem;
}
.cards-right {
    position: relative;
    z-index: -111;
    float: left;
    overflow: hidden;
    height: 14.28rem;
    background-color: #fff;
    -webkit-transform-origin: top;
    transform-origin: top;

    -webkit-transform: skew(0deg, 5deg) scaleY(0.9);
    transform: skew(0deg, 5deg) scaleY(0.9);
}
.change-left {
    -webkit-animation: change-left 2s linear forwards;
    animation: change-left 2s linear forwards;

}
@-webkit-keyframes change-left {
    0% {
        -webkit-transform: skew(-10deg, 5deg) rotateX(183deg);
        transform: skew(-10deg, 5deg) rotateX(183deg);  
    }
    50% {
        -webkit-transform: skew(0deg, 0deg) rotateX(270deg) ;
        transform: skew(0deg, 0deg) rotateX(270deg) ;
    }    
    100% {
        -webkit-transform: skew(0deg, 0deg) rotateX(360deg) ;
        transform: skew(0deg, 0deg) rotateX(360deg) ;
    }
}
.change-left-one {
    -webkit-animation: change-left-one 4s linear forwards;
    animation: change-left-one 4s linear forwards;

}
@-webkit-keyframes change-left-one {
    0% {
        -webkit-transform: skew(5deg, 0 5deg, 0);
        transform: skew(5deg, 0 5deg, 0);
    }
    100% {
        -webkit-transform: skew(0deg, 0deg);
        transform: skew(0deg, 0deg);
    }
}
.change-right {
    -webkit-animation: change-right 1s linear forwards;
    animation: change-right 1s linear forwards;

}
@-webkit-keyframes change-right {
    0% {
        -webkit-transform: skew(0deg, 5deg) scaleY(0.9);
        transform: skew(0deg, 5deg) scaleY(0.9);
    }
    100% {
        -webkit-transform: skew(0deg, 0deg) scaleY(1);
        transform: skew(0deg, 0deg) scaleY(1);
    }
}

.change-three {
    -webkit-animation: change-three 1s linear forwards;
    -moz-animation: change-three 1s linear forwards;
    -ms-animation: change-three 1s linear forwards;
    -o-animation: change-three 1s linear forwards;
    animation: change-three 1s linear forwards;

}
@-webkit-keyframes change-three {
    0% {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.cards-three {
    width: 75%;
    height: 29rem;
    padding-top: 2rem;
    margin: 0 auto;
    /*-webkit-backface-visibility: hidden;*/

}
.cards-content {
    position: relative;
    width: 100%;
    height: 29rem;
    /*-webkit-backface-visibility: hidden;*/
    -webkit-transform-style: preserve-3d;
    /*transform: rotateY(180deg);*/
}
.content-one {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    /*display: none;*/
    width: 100%;
    height: 29rem;
    -webkit-backface-visibility: hidden;

}
.content-two {
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: -1;*/
    display: block;
    width: 100%;
    height: 29rem;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}