<div class="header">
	<div class="nav-bar comWidth clearfix">
		<div class="left-area clearfix">
			<img src="/img/header-logo.png" alt="logo" class="header-logo">
			<ul class="nav">
				<li class="nav-items active">求P大厅</li>
				<li class="nav-items">我的帮P</li>
			</ul>
		</div>
		<div class="right-area">
			<div class="header-portrait">
				<img src="/img/section-portrait-1.png" alt="" class="portrait-icon">
			</div>
			<div class="header-request">
				<i class="request-icon"></i>
			</div>
		</div>

		<ul class="function-list none">
			<li class="patop"></li>
			<li class="name">叉烧包</li>
			<li class="my-function my-function-change">我的求P</li>
			<li class="my-function">我的帮P</li>
			<li class="my-function">我的作品</li>
			<li class="sign-out">退出</li>
		</ul>
	</div>
</div>