.recommend-detail-works {
	margin-top: -0.4rem;
	line-height: 3.21rem;
	text-align: center;
	font-size: 1rem;
	color: #313040;
	background-color: #f7f7f7;
	.works-icon {
		display: inline-block;
		height: 3.21rem;
		width: 1.11rem;
		margin-right: 0.5rem;
		background: url(/images/hot-work.png) 0 center no-repeat;
		background-size: contain;
		vertical-align: top;
	}
	span {
		display: inline-block;
		vertical-align: top;
	}
}
.detail-section {
	border-bottom: 1px solid #eaeaea;
}
.original-detail {
	margin-top: -0.85rem;
	margin-bottom: 0.71rem;
	border: 1.07rem solid #f7f7f7;
	.original-box {
		border-radius: 1rem;
		.original-pic {
			overflow: hidden;
			position: relative;
			float: left;
			width: 29%;
			height: 7.24rem;	
			margin-right: 3%;
			img {
				position: absolute;
				display: block;
				width: 100%;
			}
			span {
				position: absolute;
				top: 0.61rem;
				left: -0.1rem;
				padding: 0.18rem 0.5rem;
				color: #313040;
				font-size: 0.8rem;
				line-height: 1rem;
				background-color: #F9D161;
				border-radius: 0 0.5rem 0.5rem 0;
			}
		}
		.original-author {
			float: left;
			box-sizing: border-box;
			width: 68%;
			padding: 0.39rem 0.39rem 0 0;
			background-color: #fff;
			.author {
				display: block;
				width: 100%;
				overflow: hidden;
				span {
					overflow: hidden;
					float: right;
					width: 1.43rem;
					height: 1.43rem;
					border-radius: 50%;
				}
				img {
					display: block;
					width: 100%;
				}
			}
			.original-desc {
				clear: both;
				display: block;
				position: relative;
				height: 2.6rem;
				width: 86%;
				padding: 0.36rem;
				background-color: #F2F2F2;
				line-height: 1.32rem;
				border-radius: 0.3rem 0 0.3rem 0.3rem;
				span {
					display: block;
					overflow: hidden;
					height: 2.6rem;
				}
				.desc-icon {
					position: absolute;
					right: -0.5rem;
					top: 0;
					width: 0.5rem;
					height: 0.5rem;
					background: url(/images/angle.png) 0 0 no-repeat;
					background-size: contain;
				}
			}
			.see-original {
				display: block;
				float: right;
				color: #313040;
				font-size: 0.8rem;
				line-height: 1rem;
				padding-left: 3rem;
				padding-top: 0.61rem;
			}
		}
	}
}
.post-workShow{
	width: 100%;
	border-bottom: 0.36rem solid #F7F7F7;
	.sectionHeader{
		display: block;
		width: 100%;
		padding: 1rem 0;
		border-bottom: 1px solid #DDDDDD;
		background-color: #fff;
		.avatar {
			float: left;
			height: 1.79rem;
			width: 1.79rem;
			margin-left: 3%;
			border-radius: 50%;
			overflow: hidden;
		}
		.userPortrait{
			display: block;
			width: 100%; 
		}
		.userName{
			float: left;
			max-width: 11rem;;
			height: 1.79rem;
			line-height: 1.79rem;
			overflow: hidden;
			margin-left: 0.36rem;
			font-size: 1rem;
		}
		.pubdate {
			float: right;
			font-size: 0.9rem;
			line-height: 1.79rem;
			color: rgba(0,0,0,0.3);
		}
	}
	.sectionContent{
		overflow: hidden;
		display: block;
		width: 100%;
		img{
			display: block;
			width: 100%;
		}
	}
	.sectionFooter{
		width: 94%;
		padding:0 0 1.25rem;
		margin: 0 auto 0.79rem;
		color: #000;
		box-sizing: border-box;
		border-bottom: 1px solid #eaeaea;
		.workDesc{
			display: block;
			overflow: hidden;
			max-height: 3.7rem;
			margin-top: 0.71rem;
			font-size: 1.07rem;
			line-height: 1.3rem;
			color: #000;
		}
		.footerBottom{
			margin-top: 1.46rem;
			.share{
				float: left;
			    width: 2rem;
			    height: 1.51rem;
			    background: url(/images/ic_share.png) no-repeat 0 center;
			    background-size: 56%;
			}
			.ask-detail {
				float: right;
				margin-left: 1.5rem;
				font-size: 0.86rem;
				line-height: 1.51rem;
				color: #000;
			}
			.communicate{
				float: left;
				line-height: 1.51rem;
				.like-btn{
					float: left;
					cursor: pointer;
					padding: 0 0.6rem;
					.icon-like-btn{
						float: left;
						width: 1.25rem;
						height: 1.51rem;
						background: url(/images/like1.png) no-repeat 0 center;
						background-size: 100%;
					}
					.text-like-btn{
						float: left;
						font-size: 0.86rem;
						color: #000;
						margin-left: .5rem;
					}
				}
				.liked-icon {
					.icon-like-btn {
						background: url(/images/like.png) no-repeat 0 center;
						background-size: 100%;
					}
				}
				.comment-btn{
					float: left;
					cursor: pointer;
					padding: 0 0.6rem;
					.icon-comment-btn{
						float: left;
						width: 1.11rem;
						height: 1.51rem;
						background: url(/images/icon-comment-deepCol.png)no-repeat 0 center;
						background-size: 100%;
					}
					.text-comment-btn{
						float: left;
						font-size: 0.86rem;
						color: #000;
						margin-left: .5rem;
					}
				}
			}
		}
	}
}