<div class="index-hot clearfix">
	<div class="hot-nav">
		<div class="hot">
			<i class="hot-icon"></i>
			热门
		</div>
	</div>
	<div class="hot-content">
		<ul>
			<li class="card-list">
				<div class="image-block">
					<i class="tag-icon">恶搞</i>
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
				</div>
				<div class="foot-message clearfix">
					<div class="user-message">
						<span class="user-avatar">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
						</span>
						<span class="user-name">名字</span>
					</div>
					<div class="like-block">
						<i class="like-icon"></i>
						<span class="like-count">123</span>
					</div>
					<div class="comment-block">
						<i class="comment-icon"></i>
						<span class="comment-count">321</span>
					</div>
				</div>
			</li>
			<li class="card-list">
				<div class="image-block">
					<i class="tag-icon">恶搞</i>
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
				</div>
				<div class="foot-message">
					<div class="user-message">
						<span class="user-avatar">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
						</span>
						<span class="user-name">名字</span>
					</div>
					<div class="like-block">
						<i class="like-icon"></i>
						<span class="like-count">123</span>
					</div>
					<div class="comment-block">
						<i class="comment-icon"></i>
						<span class="comment-count">321</span>
					</div>
				</div>
			</li>
			<li class="card-list">
				<div class="image-block">
					<i class="tag-icon">恶搞</i>
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
				</div>
				<div class="foot-message">
					<div class="user-message">
						<span class="user-avatar">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
						</span>
						<span class="user-name">名字</span>
					</div>
					<div class="like-block">
						<i class="like-icon"></i>
						<span class="like-count">123</span>
					</div>
					<div class="comment-block">
						<i class="comment-icon"></i>
						<span class="comment-count">321</span>
					</div>
				</div>
			</li>
			<li class="card-list">
				<div class="image-block">
					<i class="tag-icon">恶搞</i>
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
				</div>
				<div class="foot-message">
					<div class="user-message">
						<span class="user-avatar">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
						</span>
						<span class="user-name">名字</span>
					</div>
					<div class="like-block">
						<i class="like-icon"></i>
						<span class="like-count">123</span>
					</div>
					<div class="comment-block">
						<i class="comment-icon"></i>
						<span class="comment-count">321</span>
					</div>
				</div>
			</li>
			<li class="card-list">
				<div class="image-block">
					<i class="tag-icon">恶搞</i>
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
				</div>
				<div class="foot-message">
					<div class="user-message">
						<span class="user-avatar">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
						</span>
						<span class="user-name">名字</span>
					</div>
					<div class="like-block">
						<i class="like-icon"></i>
						<span class="like-count">123</span>
					</div>
					<div class="comment-block">
						<i class="comment-icon"></i>
						<span class="comment-count">321</span>
					</div>
				</div>
			</li>
			<li class="card-list">
				<div class="image-block">
					<i class="tag-icon">恶搞</i>
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
				</div>
				<div class="foot-message">
					<div class="user-message">
						<span class="user-avatar">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160503-15132357284f936b9d4.jpg?imageView2/2/w/480" alt="">
						</span>
						<span class="user-name">名字</span>
					</div>
					<div class="like-block">
						<i class="like-icon"></i>
						<span class="like-count">123</span>
					</div>
					<div class="comment-block">
						<i class="comment-icon"></i>
						<span class="comment-count">321</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
