<div class="money-wrap">
	<img src="img/ic_money.png" alt="" class="pic">
	<div class="my-money">我的零钱</div>
	<div class="money"><em>¥</em><span class="num">2,00</span><var>元</var></div>
	<div class="recharge">充值</div>
	<div class="withdraw">提现</div>
	<div class="common-problem">
		常见问题
	</div>
	<div class="copyright">紧急疑问请联系QQ 2974252463</div>
	<div class="fonbox blo">
		<div class="box blo">
			<div class="box-head">请输入充值金额（元）</div>
			<input id="amount" type="text" class="box-money" placeholder="¥ 0.00" onkeyup="value=this.value.replace(/\D+/g,'')">
			<div id="confirm" class="confirm weixinPay">确定</div>
		</div>
		<div class="payment-method">
			<div class="ali" id="alipay_pc_direct" data-pay="alipay_pc_direct">支付宝</div>
			<div class="weix" id="wx" data-pay="wx">微信</div>
			<div class="money-cancel">取消</div>
		</div>
	</div>
</div>

<div class="weixin-binding">
	<img src="img/wechat.png " alt="" class="weixin-logo">
    <div class="first">
            第一步 &nbsp&nbsp请绑定微信
	</div>
	<div class="first-content">
		绑定的微信将成为你的提现账户
	</div>
    <div class="binding">
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxa0b2dda705508552&redirect_uri=http://www.tupppai.com/auth/weixin&response_type=code&scope=snsapi_base#wechat_redirect"> 绑定 </a>
    </div>
</div>

<div class="present-success">
	<img src="img/ic_wallet.png" alt="" class="present-success-logo">
	<div class="present-money"><em>¥ </em><span class="present-num">3.50</span></div>
	<div class="application">
		提现申请已提交，请去微信查看
	</div>
	<div class="account">提现至微信号：<span class="account-name">Remyhuang</span></div>
	<div class="complete">完成</div>
</div>

<div class="change-detail">
	<div class="detail-content-first clearfix">
		<div class="first-left">
			<div class="first-p">
				我在 小明的小教程 解锁了一个教程
			</div>
			<div class="first-time">
				2016-01-06 17:26
			</div>
		</div>
		<div class="first-right">
			- 0.01
		</div>
	</div>
	<div class="detail-content-second clearfix">
		<div class="second-left">
			<div class="second-p">
				两块钱自 图派
			</div>
			<div class="second-time">
				2016-01-06 17:26
			</div>
		</div>
		<div class="second-right">
			＋2.00
		</div>
	</div>
	<div class="detail-content-three clearfix">
		<div class="three-left">
			<a href=""><img src="img/logo.jpg" alt=""></a>
		</div>
		<div class="three-middle">
			<div class="three-p">
				在 小明的小教程 解锁了一个教程
			</div>
			<div class="three-time">
				2016-01-06 17:26
			</div>
		</div>
		<div class="three-right">
			＋0.68
		</div>
	</div>
</div>
