<link rel="stylesheet" href="/main/css/friendship.css" type="text/css" >
<div class="friendship-container">
	<div class="friendship-section">
		<div class="friendship-header">
			<ul>
				<li class="nav attention-nav">关注</li>
				<li class="nav fans-nav">粉丝 </li>
			</ul>
		</div>
		<div id="friendshipItenView" ></div>

	</div>

	    <!-- QRCODE -->
    <div class="comment-QRCode">
        <span class="picture-QRCode">
                <img src="/main/img/WachatQrcode.png" alt="">
        </span>
        <span class="load-iphone-btn">
            <span class="iphone-icon bg-sprite"></span>
        </span>
        <span class="load-android-btn">
            <span class="android-icon bg-sprite"></span>
        </span>
    </div>
</div>