@charset 'utf-8';
/* CSS reset */
html {
  color: #000;
  font-family: "Helvetica neue", Helvetica, Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
  padding: 0;
  margin: 0;
  font-family: "Helvetica neue", Helvetica, Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #666666;
  outline: none;
}
/*此处待添加默认链接颜色*/
var,
em,
strong {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
optgroup,
option {
  border: none;
  outline: none;
  -webkit-appearance: none;
  font-family: "Helvetica neue", Helvetica, Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
  resize: none;
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hide {
  display: none !important;
}
body,
html {
  font-size: 1rem;
  min-width: 320px;
  color: #fff;
}
#__loading {
  display: none !important;
}
.none {
  display: none ;
}
.block {
  display: block ;
}
input:-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}
input::-webkit-input-placeholder {
  color: #fff;
}
.container {
  height: 100%;
}
.inner-container {
  height: 100%;
}
.inner-container > div {
  height: 100%;
}
/*End reset*/
/*公用*/
body {
  height: 100%;
  color: #000;
  font-family: 'PingFangSC-Regular', 'sans-serif';
}
.menu {
  position: fixed;
  bottom: 7%;
  /*to be modified*/
  right: 4%;
  z-index: 980;
}
.menu .menuMy {
  position: relative;
  display: block;
  width: 3.29rem;
  height: 3.29rem;
  margin-top: 0.93rem;
}
.menu .menuMy .menuBg {
  width: 100%;
  height: 100%;
  opacity: 0.89;
  border: 0.08rem solid rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  box-shadow: 0px 0.14rem 0.36rem 0px rgba(0, 0, 0, 0.4);
  background-color: #000;
}
.menu .menuMy .icon-My {
  display: block;
  width: 0.93rem;
  height: 1.21rem;
  position: absolute;
  top: 0;
  left: 0.25rem;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(/images/icon-my.png) no-repeat 0 0;
  background-size: 100%;
}
.menu .menuMy .menuMy-list {
  display: block;
  position: absolute;
  bottom: -0.07rem;
  right: -0.07rem;
  width: 10.36rem;
  padding: 0.57rem 0;
  border-radius: 0.21rem;
  box-shadow: 0px 0.14rem 0.36rem 0px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.menu .menuMy .menuMy-list .menuItem {
  display: block;
  padding: 1rem 0;
  margin-left: 1.64rem;
  color: #000;
}
.menu .menuMy .menuMy-list .menuItem .icon-menuItem {
  display: block;
  float: left;
  width: 1.25rem;
  height: 1.07rem;
}
.menu .menuMy .menuMy-list .menuItem .text-menuItem {
  display: block;
  float: left;
  margin-left: 0.68rem;
  font-size: 1.07rem;
  opacity: .89;
  cursor: pointer;
}
.menu .menuMy .menuMy-list .menuItem .icon-menuItem-hall {
  background: url(/images/icon-menuItem-hall.png) no-repeat center bottom;
  background-size: contain;
}
.menu .menuMy .menuMy-list .menuItem .icon-menuItem-ask {
  background: url(/images/icon-menuItem-ask.png) no-repeat center bottom;
  background-size: contain;
}
.menu .menuMy .menuMy-list .menuItem .icon-menuItem-help {
  background: url(/images/icon-menuItem-help.png) no-repeat center bottom;
  background-size: contain;
}
.menu .menuMy .menuMy-list .menuItem .icon-menuItem-work {
  background: url(/images/icon-menuItem-work.png) no-repeat center bottom;
  background-size: contain;
}
.menu .menuPs {
  position: relative;
  /*display: block;*/
  width: 3.29rem;
  height: 3.29rem;
  margin-top: 0.93rem;
  border: 0.08rem solid rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  box-shadow: 0px 0.14rem 0.36rem 0px rgba(0, 0, 0, 0.4);
  background-color: #000;
}
.menu .menuPs .menuBg {
  width: 100%;
  height: 100%;
  opacity: 0.89;
}
.menu .menuPs .icon-Ps {
  display: block;
  width: 0.68rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0.36rem;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(/images/icon-ps.png) no-repeat 0 0;
  background-size: 100%;
}
.menu .menuPs .menuPs-list {
  display: block;
  position: absolute;
  bottom: -0.07rem;
  right: -0.07rem;
  width: 10.36rem;
  padding: 0.57rem 0;
  border-radius: 0.21rem;
  box-shadow: 0px 0.14rem 0.36rem 0px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.menu .menuPs .menuPs-list .menuItem {
  padding: 1rem 0;
  margin-left: 1.28rem;
}
.menu .menuPs .menuPs-list .menuItem .icon-menuItem {
  display: block;
  float: left;
  margin-top: .15rem;
  width: 1.25rem;
  height: 1.07rem;
}
.menu .menuPs .menuPs-list .menuItem .text-menuItem {
  display: block;
  float: left;
  margin-left: 1.04rem;
  font-size: 1.07rem;
  opacity: .89;
  cursor: pointer;
}
.menu .menuPs .menuPs-list .menuItem .icon-menuItem-ask {
  background: url(/images/icon-menuItem-ask.png) no-repeat center bottom;
  background-size: contain;
}
.menu .menuPs .menuPs-list .menuItem .icon-menuItem-switch {
  background: url(/images/icon-menuItem-switch.png) no-repeat center bottom;
  background-size: contain;
}
.menu .menuTop {
  position: relative;
  /*display: block;*/
  width: 3.29rem;
  height: 3.29rem;
  margin-top: 0.93rem;
}
.menu .menuTop .menuBg {
  width: 100%;
  height: 100%;
  opacity: 0.89;
  border: 0.08rem solid rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  box-shadow: 0px 0.14rem 0.36rem 0px rgba(0, 0, 0, 0.4);
  background-color: #000;
}
.menu .menuTop .icon-top {
  display: block;
  width: 1.21rem;
  height: 1.29rem;
  position: absolute;
  top: 0;
  left: 0.36rem;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(/images/icon-top.png) no-repeat 0 0;
  background-size: 100%;
}
.index-pageSection {
  width: 100%;
  border-bottom: 0.36rem solid #F7F7F7;
}
.index-pageSection .sectionHeader {
  width: 100%;
  height: 3.93rem;
  border: 0.04rem solid #DDDDDD;
  border-top: 0;
  background-color: #fff;
}
.index-pageSection .sectionHeader .userPortrait {
  display: block;
  float: left;
  height: 1.79rem;
  width: 1.79rem;
  margin-left: 3%;
  margin-top: 4%;
}
.index-pageSection .sectionHeader .userName {
  display: block;
  float: left;
  margin-left: 0.36rem;
  margin-top: 5%;
  font-size: 1rem;
}
.index-pageSection .sectionContent {
  display: block;
  width: 100%;
  max-height: 26.79rem;
  overflow: hidden;
}
.index-pageSection .sectionContent img {
  width: 100%;
}
.index-pageSection .sectionFooter {
  width: 100%;
  padding: 0 3%;
  height: 6.07rem;
  box-sizing: border-box;
}
.index-pageSection .sectionFooter .workDesc {
  display: block;
  margin-top: 0.71rem;
  font-size: 1.07rem;
  color: #000;
}
.index-pageSection .sectionFooter .footerBottom .workCount {
  float: left;
  margin-top: 1.43rem;
  line-height: 0.89rem;
  cursor: pointer;
}
.index-pageSection .sectionFooter .footerBottom .workCount .icon-workCount {
  display: block;
  float: left;
  width: 1rem;
  height: 0.93rem;
  background: url(/images/icon-workCount.png) no-repeat 0 0;
  background-size: 100%;
}
.index-pageSection .sectionFooter .footerBottom .workCount .text-workCount {
  display: block;
  float: left;
  margin-left: 0.35rem;
  color: #b8b8b8;
  font-size: 0.8rem;
  letter-spacing: .1rem;
}
.index-pageSection .sectionFooter .footerBottom .helpPs {
  float: right;
  background-color: #FFED4F;
  width: 5rem;
  height: 2.14rem;
  margin-top: 0.71rem;
  line-height: 2.14rem;
  font-size: 0;
  text-align: center;
  border-radius: 0.11rem;
  cursor: pointer;
}
.index-pageSection .sectionFooter .footerBottom .helpPs .icon-helpPs {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  background: url(/images/icon-helpPs.png) no-repeat 0 0;
  background-size: 100%;
}
.index-pageSection .sectionFooter .footerBottom .helpPs .text-helpPs {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.43rem;
  font-size: 1rem;
}
.indexFooter {
  width: 100%;
  padding-top: 1.14rem;
  padding-bottom: 2.96rem;
  background-color: #F7F7F7;
}
.indexFooter .viewMore {
  display: block;
  width: 4.1rem;
  margin: 0 auto;
  font-size: 1rem;
  color: #000;
  opacity: .5;
}

.sectionHeader {
  width: 100%;
  height: 3.93rem;
  border: 0.04rem solid #DDDDDD;
  border-top: 0;
  background-color: #fff;
}
.sectionHeader .userPortrait {
  display: block;
  float: left;
  height: 1.79rem;
  width: 1.79rem;
  margin-left: 3%;
  margin-top: 4%;
}
.sectionHeader .userName {
  display: block;
  float: left;
  margin-left: 0.36rem;
  margin-top: 5%;
  font-size: 1rem;
}
.myAsk-page .myAsk-pageSection {
  border-bottom: 0.43rem solid #f7f7f7;
  width: 100%;
}
.myAsk-page .myAsk-pageSection .sectionContent {
  display: block;
  width: 100%;
}
.myAsk-page .myAsk-pageSection .sectionContent img {
  display: block;
  width: 100%;
}
.myAsk-page .myAsk-pageSection .sectionFooter {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
}
.myAsk-page .myAsk-pageSection .sectionFooter .workDesc {
  display: block;
  margin-top: 0.71rem;
  font-size: 1.07rem;
  color: #000;
}
.myAsk-page .myAsk-pageSection .sectionFooter .footerBottom {
  margin-top: 1.46rem;
  margin-bottom: 1.25rem;
}
.myAsk-page .myAsk-pageSection .sectionFooter .footerBottom .pubdate {
  display: block;
  float: left;
  margin-right: 0.86rem;
  color: #000;
  opacity: 0.3;
  font-size: 0.86rem;
}
.myAsk-page .myAsk-pageSection .sectionFooter .footerBottom .pubdate .excTiming {
  margin-left: 0.29rem;
}
.myAsk-page .myAsk-pageSection .sectionFooter .footerBottom .workCount {
  display: block;
  float: left;
}
.myAsk-page .myAsk-pageSection .sectionFooter .footerBottom .workCount .icon-workCount {
  display: block;
  float: left;
  width: 0.93rem;
  height: 0.86rem;
  background: url(/images/icon-workCount-deepCol.png) no-repeat 0 0;
  background-size: 100%;
}
.myAsk-page .myAsk-pageSection .sectionFooter .footerBottom .workCount .text-workCount {
  display: block;
  float: left;
  margin-left: 0.43rem;
  height: 0.86rem;
  line-height: 0.86rem;
  font-size: 0.86rem;
  color: #7f7f7f;
  letter-spacing: .1rem;
}
.myHelp-page .myHelp-pageSection {
  width: 100%;
  border-bottom: 0.36rem solid #F7F7F7;
}
.myHelp-page .myHelp-pageSection .sectionContent {
  display: block;
  width: 100%;
}
.myHelp-page .myHelp-pageSection .sectionContent img {
  display: block;
  width: 100%;
}
.myHelp-page .myHelp-pageSection .sectionFooter {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
}
.myHelp-page .myHelp-pageSection .sectionFooter .workDesc {
  display: block;
  margin-top: 0.71rem;
  font-size: 1.07rem;
  color: #000;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom {
  margin-top: 1.46rem;
  margin-bottom: 1.25rem;
  margin-right: 0.91rem;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .pubdate {
  display: block;
  float: left;
  margin-right: 0.86rem;
  color: #000;
  opacity: 0.3;
  font-size: 0.86rem;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .pubdate .excTiming {
  margin-left: 0.29rem;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .workHandler {
  float: right;
  color: #333333;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .workHandler .handlerUpload {
  float: left;
  margin-left: 1.36rem;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .workHandler .handlerUpload .icon-upload {
  display: block;
  float: left;
  width: 0.82rem;
  height: 0.93rem;
  margin-top: .15rem;
  margin-right: 0.25rem;
  background: url(/images/icon-upload.png) no-repeat 0 0;
  background-size: 100%;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .workHandler .handlerUpload .text-handlerUpload {
  display: block;
  float: left;
  font-size: 0.82rem;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .workHandler .handlerDelete {
  float: left;
  cursor: pointer;
  margin-left: 1.36rem;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .workHandler .handlerDelete .icon-delete {
  display: block;
  float: left;
  width: 0.64rem;
  height: 0.93rem;
  margin-top: .15rem;
  margin-right: 0.25rem;
  background: url(/images/icon-delete.png) no-repeat 0 0;
  background-size: 100%;
}
.myHelp-page .myHelp-pageSection .sectionFooter .footerBottom .workHandler .handlerDelete .text-handlerDelete {
  display: block;
  float: left;
  font-size: 0.82rem;
}
.myWork-page .myWork-pageSection {
  width: 100%;
  background-color: #f7f7f7;
}
.myWork-page .myWork-pageSection .workSection {
  float: left;
  width: 47%;
  margin: 1.5%;
}
.myWork-page .myWork-pageSection .workSection .workPic {
  width: 100%;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter {
  background-color: #fff;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter .footerWrapper {
  float: right;
  padding: 1rem 0;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter .footerWrapper .comment {
  float: left;
  line-height: 0.89rem;
  margin-right: 0.93rem;
  cursor: pointer;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter .footerWrapper .comment .icon-comment {
  display: block;
  float: left;
  width: 0.89rem;
  height: 0.89rem;
  background: url(/images/icon-comment.png) no-repeat 0 0;
  background-size: 100%;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter .footerWrapper .comment .text-comment {
  display: block;
  float: left;
  height: 0.89rem;
  margin-left: 0.21rem;
  font-size: 0.86rem;
  font-family: "Helvetica-Light", "sans-serif";
  color: #000;
  opacity: 0.3;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter .footerWrapper .like {
  float: left;
  line-height: 0.89rem;
  margin-right: 0.93rem;
  cursor: pointer;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter .footerWrapper .like .icon-like {
  display: block;
  float: left;
  width: 0.89rem;
  height: 0.89rem;
  background: url(/images/icon-like.png) no-repeat 0 0;
  background-size: 100%;
}
.myWork-page .myWork-pageSection .workSection .workSectionFooter .footerWrapper .like .text-like {
  display: block;
  float: left;
  height: 0.89rem;
  margin-left: 0.21rem;
  font-size: 0.86rem;
  font-family: "Helvetica-Light", "sans-serif";
  color: #000;
  opacity: 0.3;
}
.my-none {
  width: 100%;
}
.my-none .none-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  z-index: -1;
}
.my-none .emptyZone {
  margin: 0 auto;
  padding-top: 5.82rem;
}
.my-none .emptyZone .icon-empty {
  display: block;
  margin: 0 auto;
  width: 2.89rem;
  height: 2.89rem;
  background: url(/images/icon-empty.png) no-repeat 0 0;
  background-size: 100%;
}
.my-none .emptyZone .text-empty {
  display: block;
  margin-top: 0.61rem;
  white-space: nowrap;
  font-size: 0.93rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  color: #000;
  opacity: 0.3;
}
.my-none .linkToHall {
  display: block;
  margin: 0 auto;
  margin-top: 3.46rem;
  width: 9.25rem;
  height: 2.36rem;
  line-height: 2.36rem;
  border-radius: 1.36rem;
  box-shadow: 0 0.07rem 0.36rem 0 rgba(225, 228, 9, 0.7);
  background-color: #ffe400;
  text-align: center;
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 0.86rem;
  color: #A27322;
}
#myWork-none .emptyZone {
  width: 4.65rem;
}
#myHelp-none .emptyZone {
  width: 7.14rem;
}

.post-workShow {
  width: 100%;
  border-bottom: 0.36rem solid #F7F7F7;
}
.post-workShow .sectionHeader {
  width: 100%;
  height: 3.93rem;
  border: 0.04rem solid #DDDDDD;
  border-top: 0;
  background-color: #fff;
}
.post-workShow .sectionHeader .userPortrait {
  display: block;
  float: left;
  height: 1.79rem;
  width: 1.79rem;
  margin-left: 3%;
  margin-top: 4%;
}
.post-workShow .sectionHeader .userName {
  display: block;
  float: left;
  margin-left: 0.36rem;
  margin-top: 5%;
  font-size: 1rem;
}
.post-workShow .sectionContent {
  display: block;
  width: 100%;
}
.post-workShow .sectionContent img {
  display: block;
  width: 100%;
}
.post-workShow .sectionFooter {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
}
.post-workShow .sectionFooter .workDesc {
  display: block;
  margin-top: 0.71rem;
  font-size: 1.07rem;
  color: #000;
}
.post-workShow .sectionFooter .footerBottom {
  margin-top: 1.46rem;
  margin-bottom: 1.25rem;
  margin-right: 0.91rem;
}
.post-workShow .sectionFooter .footerBottom .pubdate {
  display: block;
  float: left;
  margin-right: 0.86rem;
  color: #000;
  opacity: 0.3;
  font-size: 0.86rem;
}
.post-workShow .sectionFooter .footerBottom .pubdate .excTiming {
  margin-left: 0.29rem;
}
.post-workShow .sectionFooter .footerBottom .communicate {
  float: right;
}
.post-workShow .sectionFooter .footerBottom .communicate .like-btn {
  float: left;
  cursor: pointer;
}
.post-workShow .sectionFooter .footerBottom .communicate .like-btn .icon-like-btn {
  float: left;
  width: 1.25rem;
  height: 1.11rem;
  background: url(/images/icon-like-deepCol.png) no-repeat 0 0;
  background-size: 100%;
}
.post-workShow .sectionFooter .footerBottom .communicate .like-btn .text-like-btn {
  float: left;
  font-size: 0.86rem;
  color: #656565;
  margin-left: .5rem;
}
.post-workShow .sectionFooter .footerBottom .communicate .comment-btn {
  float: left;
  cursor: pointer;
}
.post-workShow .sectionFooter .footerBottom .communicate .comment-btn .icon-comment-btn {
  float: left;
  margin-left: 2.30rem;
  width: 1.11rem;
  height: 1.11rem;
  background: url(/images/icon-comment-deepCol.png) no-repeat 0 0;
  background-size: 100%;
}
.post-workShow .sectionFooter .footerBottom .communicate .comment-btn .text-comment-btn {
  float: left;
  font-size: 0.86rem;
  color: #656565;
  margin-left: .5rem;
}
.post-workCount {
  width: 100%;
  position: relative;
  padding: 1.07rem 0 1.25rem 0;
  text-align: center;
}
.post-workCount .workCount-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #F7F7F7;
}
.post-workCount .text-workCount {
  vertical-align: bottom;
  color: #000;
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 0.86rem;
  opacity: 0.8;
}
.post-workCount .text-workCount em {
  font-size: 1.07rem;
}
.artWorkShow {
  border-bottom: 1.43rem solid #F7F7F7;
}
.artWorkShow .commentDetail {
  width: 94%;
  margin: 0 3%;
  border-top: 1px solid #eaeaea;
}
.artWorkShow .commentDetail .commentLine {
  padding: 0.86rem 0 0.86rem 0;
  border-bottom: 1px solid #eaeaea;
}
.artWorkShow .commentDetail .commentLine .commentHead .userName {
  float: left;
  color: #000;
  font-size: 0.93rem;
  font-family: "PingFangSC-Regular", "sans-serif";
}
.artWorkShow .commentDetail .commentLine .commentHead .commentOption {
  float: right;
}
.artWorkShow .commentDetail .commentLine .commentHead .commentOption .optionItem {
  font-family: "PingFangSC-Light", "sans-serif";
  font-size: 0.79rem;
  cursor: pointer;
}
.artWorkShow .commentDetail .commentLine .commentHead .commentOption .reply {
  color: #fe5401;
  margin-right: 0.5rem;
}
.artWorkShow .commentDetail .commentLine .commentHead .commentOption .delete {
  color: #000;
  opacity: 0.6;
  margin-left: 1.32rem;
  margin-right: 0.5rem;
}
.artWorkShow .commentDetail .commentLine .commentText {
  margin-top: 0.46rem;
  display: block;
  width: 100%;
  font-size: 0.93rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  opacity: 0.6;
}
.artWorkShow .commentDetail .commentReply {
  padding-top: 1.14rem;
}
.artWorkShow .commentDetail .commentReply .userNameGroup {
  float: left;
  line-height: 1.43rem;
  font-size: 0.93rem;
}
.artWorkShow .commentDetail .commentReply .userNameGroup .userName-reply {
  float: left;
  width: 1.86rem;
  white-space: nowrap;
}
.artWorkShow .commentDetail .commentReply .userNameGroup em {
  float: left;
  margin: 0 .25rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  opacity: 0.6;
}
.artWorkShow .commentDetail .commentReply .userNameGroup .userName-beReplied {
  float: left;
  width: 3.71rem;
}
.artWorkShow .viewMore {
  display: block;
  width: 4rem;
  font-size: 0.86rem;
  opacity: 0.4;
  font-family: "PingFangSC-Light", "sans-serif";
  color: #000;
  text-align: center;
  margin: 0.89rem auto 0.89rem auto;
}
.post-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -0.05rem 0.16rem 0.16rem rgba(238, 238, 238, 0.5);
  text-align: center;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  font-family: "PingFangSC-Regular";
  line-height: 3.14rem;
}
.post-footer .footerHelp {
  float: left;
  width: 50%;
  height: 3.14rem;
  color: #000;
  background-color: #ffed4f;
}
.post-footer .footerHelp .icon-help {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3rem;
  width: 1.35rem;
  height: 1.35rem;
  background: url(/images/icon-help.png) no-repeat 0 0;
  background-size: 100%;
}
.post-footer .footerUpload {
  float: left;
  width: 50%;
  height: 3.14rem;
  background-color: #151515;
  color: #fff;
}
.window-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}
.window-fix .windowBg {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.window-fix .window {
  position: absolute;
  top: 2.68rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 24.29rem;
  height: 15.57rem;
  background-color: #fff;
  border-radius: 0.36rem;
  box-shadow: 0 0.14rem 0.29rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 1;
}
.window-fix .window .windowHeader {
  margin-top: 0.71rem;
  margin-left: 0.89rem;
  font-size: 0.93rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  color: #000;
  opacity: 0.4;
  cursor: default;
}
.window-fix .window .windowHeader .replyTo {
  margin-left: 0.36rem;
}
.window-fix .window .windowContent {
  width: 22.5rem;
  box-sizing: border-box;
  margin-top: 0.71rem;
  margin-left: 0.89rem;
  background-color: #f0f0f0;
  border-radius: 0.21rem;
  overflow-y: hidden;
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 1rem;
}
.window-fix .window .windowOperation {
  float: right;
  margin-top: 0.71rem;
  margin-right: 0.89rem;
}
.window-fix .window .windowOperation .cancel {
  margin-right: 2rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 0.93rem;
  color: #333;
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;
}
.window-fix .window .windowOperation .send {
  width: 6.07rem;
  height: 2rem;
  border-radius: 1.43rem;
  background-color: #fef22f;
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 0.86rem;
  color: #2b2b2b;
  cursor: pointer;
}
#replyWindow .windowContent {
  height: 9.46rem;
  padding: 0.75rem 0.86rem;
  color: #393939;
}
#commentWindow .windowContent {
  height: 11.43rem;
  padding: 0.79rem 0.79rem;
  color: #5F5F5F;
}
.deleteComment-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}
.deleteComment-fix .deleteComment {
  position: absolute;
  top: 16.64rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 20rem;
  height: 10.71rem;
  box-sizing: border-box;
  padding: 1.07rem 1.43rem;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 0.36rem;
}
.deleteComment-fix .deleteComment .alertText {
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 1.29rem;
  color: #000;
}
.deleteComment-fix .deleteComment .deleteOperation {
  position: absolute;
  bottom: 1.07rem;
  right: 1.43rem;
  font-size: 1.07rem;
  font-family: "PingFangSC-Regular", "sans-serif";
}
.deleteComment-fix .deleteComment .deleteOperation .cancelDelete {
  color: #000;
  opacity: 0.6;
}
.deleteComment-fix .deleteComment .deleteOperation .confirmDelete {
  margin-left: 2.57rem;
  color: #fe5401;
}

#uploadNone .confirm {
  background-color: #d8d8d8;
  color: #adadad;
  box-shadow: none;
}
.uploadHeader {
  width: 100%;
  height: 3.93rem;
  line-height: 3.93rem;
  border: 0.04rem solid #EDEDED;
  font-size: 0;
}
.uploadHeader .backPage {
  float: left;
  margin-left: 0.82rem;
  cursor: pointer;
}
.uploadHeader .backPage .icon-backPage {
  display: inline-block;
  vertical-align: middle;
  width: 0.75rem;
  height: 1.36rem;
  background: url(/images/icon-backPage.png) no-repeat 0 0;
  background-size: 100%;
}
.uploadHeader .backPage .text-backPage {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.46rem;
  font-size: 1rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  color: #000;
  opacity: 0.8;
}
.uploadHeader .confirm {
  float: right;
  width: 4.29rem;
  height: 1.86rem;
  margin-top: 1.04rem;
  margin-right: 0.86rem;
  border-radius: 0.93rem;
  box-shadow: 0 0.07rem 0.36rem 0 rgba(225, 228, 9, 0.5);
  background-color: #ffe400;
  color: #332D00;
  font-size: 0.86rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  text-align: center;
  cursor: pointer;
}
.uploadContent {
  width: 94%;
  margin: 0 3%;
}
.uploadContent .uploadPic-none {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.04rem solid #F0F0F0;
  height: 6.07rem;
  line-height: 6.07rem;
}
.uploadContent .uploadPic-none .picPlaceHolder {
  margin-top: 1.07rem;
  position: relative;
  float: left;
  width: 3.93rem;
  height: 3.93rem;
}
.uploadContent .uploadPic-none .picPlaceHolder .holderBorder {
  position: absolute;
  z-index: 0;
  top: 0rem;
  left: 0rem;
  width: 3.93rem;
  height: 3.93rem;
  background: url(/images/holderBorder.png) no-repeat 0 0;
  background-size: 100%;
}
.uploadContent .uploadPic-none .picPlaceHolder .holderMain {
  position: absolute;
  top: 45%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 2.21rem;
  height: 2.25rem;
  background: url(/images/holderMain.png) no-repeat 0 0;
  background-size: 100%;
}
.uploadContent .uploadPic-none .uploadText {
  margin-left: 0.79rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 1rem;
  opacity: 0.2;
}
.uploadContent .uploadPic {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.04rem solid #F0F0F0;
  height: 6.07rem;
  line-height: 6.07rem;
}
.uploadContent .uploadPic .uploadThumb {
  margin-top: 1.07rem;
  position: relative;
  float: left;
  width: 3.93rem;
  height: 3.93rem;
}
.uploadContent .uploadPic .uploadThumb .uploadCancel {
  position: absolute;
  display: block;
  z-index: 1;
  top: -0.7rem;
  right: -0.8rem;
  width: 1.29rem;
  height: 1.32rem;
  background: url(/images/uploadCancel.png) no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
}
.uploadContent .uploadPic .uploadThumb .thumb {
  position: absolute;
  border-radius: 0.21rem;
  overflow: hidden;
  top: 45%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 3.93rem;
  height: 3.93rem;
  background: url(/images/origin-work.png) no-repeat 0 0;
  background-size: 100%;
}
.uploadContent .uploadPic .uploadText {
  margin-left: 0.79rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  font-size: 1rem;
  opacity: 0.2;
}
.uploadContent .uploadDesc {
  margin: 1.07rem 0;
}
.downloadHeader {
  width: 100%;
  height: 3.93rem;
  line-height: 3.93rem;
  border: 0.04rem solid #EDEDED;
  font-size: 0;
}
.downloadHeader .backPage {
  float: left;
  margin-left: 0.82rem;
  cursor: pointer;
}
.downloadHeader .backPage .icon-backPage {
  display: inline-block;
  vertical-align: middle;
  width: 0.75rem;
  height: 1.36rem;
  background: url(/images/icon-backPage.png) no-repeat 0 0;
  background-size: 100%;
}
.downloadHeader .backPage .text-backPage {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.46rem;
  font-size: 1rem;
  font-family: "PingFangSC-Regular", "sans-serif";
  color: #000;
  opacity: 0.8;
}
.downloadContent {
  widows: 100%;
}
.downloadContent .originPic {
  display: block;
  width: 100%;
}
.downloadContent .downloadFooter {
  padding: 1.14rem 0;
}
.downloadContent .downloadFooter .downloadBtn {
  font-size: 0;
  display: block;
  margin: 0 auto;
  width: 8.71rem;
  height: 2.36rem;
  line-height: 2.36rem;
  text-align: center;
  color: #332D00;
  border-radius: 1.21rem;
  box-shadow: 0 0.07rem 0.36rem 0 rgba(255, 225, 9, 0.7);
  background-color: #ffe400;
}
.downloadContent .downloadFooter .downloadBtn .icon-download {
  display: inline-block;
  vertical-align: middle;
  width: 0.82rem;
  height: 0.86rem;
  background: url(/images/icon-download.png) no-repeat 0 0;
  background-size: contain;
}
.downloadContent .downloadFooter .downloadBtn .text-download {
  font-size: 0.93rem;
  vertical-align: middle;
}
