
@charset 'utf-8';
/* CSS reset */
html {
  color: #000;
  font-family: "Helvetica neue", Helvetica, Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
  padding: 0;
  margin: 0;
  font-family: "Helvetica neue", Helvetica, Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #666666;
  outline: none;
}
/*此处待添加默认链接颜色*/
var,
em,
strong {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
optgroup,
option {
  border: none;
  outline: none;
  -webkit-appearance: none;
  font-family: "Helvetica neue", Helvetica, Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
  resize: none;
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.hide {
  display: none !important;
}
body,
html {
  font-size: 1rem;
  min-width: 320px;
  color: #fff;
  height: 100%;
}
#__loading {
  display: none !important;
}
.none {
  display: none !important;
}
input:-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}
input::-webkit-input-placeholder {
  color: #fff;
}
.container {
  height: 100%;
}
.inner-container {
  height: 100%;
}
.inner-container > div {
  height: 100%;
}
.wrap-index {
  height: 100%;
  background-image: -webkit-linear-gradient(left, #f9bfc4 0%, #fb9cb0 100%);
  background-image: -o-linear-gradient(left, #f9bfc4 0%, #fb9cb0 100%);
  background-image: linear-gradient(to right, #f9bfc4 0%, #fb9cb0 100%);
}
.wrap-index .wrap-kong {
  height: 11.79rem;
}
.wrap-index .index-pic {
  position: absolute;
  top: 0;
}
.wrap-index .index-pic img {
  display: block;
  width: 100%;
  height: 14.93rem;
}
.wrap-index .swiper-container {
  width: 100%;
  margin-bottom: 1.5rem;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.wrap-index .swiper-container .men-god {
  height: 23.82rem;
  margin-left: -8%;
}
.wrap-index .swiper-container .men-god .swiper-slide {
  width: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*transform: translate3d(198px, 0px, -150px) !important;*/
}
.wrap-index .swiper-container .men-god .main-img {
  display: block;
  width: 140%;
  margin: 0 auto;
  border-radius: 1.7rem;
}
.wrap-index .swiper-container .men-god .prev {
  -ms-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
  -moz-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
  -webkit-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
  -o-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
  transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
}
.wrap-index .swiper-container .men-god .next {
  -ms-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  -moz-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  -webkit-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  -o-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
}
.wrap-index .choice {
  position: absolute;
  z-index: 9999;
  bottom: 2.5rem;
  left: 50%;
  margin-left: -28%;
  display: block;
  width: 56%;
  height: 9.14rem;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/btn.png) 0 0 no-repeat;
  background-size: contain;
}
.wrap-index .mongolia-layer {
  z-index: 9999;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.wrap-index .finger-left {
  z-index: 10000;
  position: absolute;
  left: 0;
  top: 28rem;
  display: block;
  width: 24%;
  height: 10.71rem;
}
.wrap-index .finger-right {
  z-index: 10000;
  position: absolute;
  right: 0;
  top: 28rem;
  display: block;
  width: 24%;
  height: 10.71rem;
}
.my-make {
  /*overflow: hidden;*/
  background-image: -moz-linear-gradient(90deg, #f9d39a 0%, #fbbe78 100%);
  background-image: -webkit-linear-gradient(90deg, #f9d39a 0%, #fbbe78 100%);
  background-image: -ms-linear-gradient(90deg, #f9d39a 0%, #fbbe78 100%);
  /*height: 100%;*/
  /*padding-bottom: 2.75rem;*/
  /*    .men-box {
        width: 100%;
    }
	.men-god {
		width: 100%;
		position: relative;
		padding: 1.71rem 0;
		height: 18.82rem;

		li {
			float: left;
			position: absolute;
			left: 50%;
			width: 18.82rem;
			height: 18.82rem;
			margin-left: -9.41rem;
			img{
				display: block;
				width: 100%;
			}
		}
		.prev {
			-ms-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
			-moz-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
			-webkit-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
			-o-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
			transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
		}		
		.next {
			-ms-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
			-moz-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
			-webkit-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
			-o-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
			transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
		}
	}*/
}
.my-make .swiper-container {
  width: 100%;
  margin-bottom: 1.5rem;
  padding-top: 1.71rem;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.my-make .swiper-container .men-god {
  /*height: 23.82rem;*/
  margin-left: -8%;
}
.my-make .swiper-container .men-god .swiper-slide {
  width: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.my-make .swiper-container .men-god .main-img {
  display: block;
  width: 140%;
  margin: 0 auto;
  border-radius: 1.7rem;
}
.my-make .swiper-container .men-god .prev {
  -webkit-animation: prev-change 1s ease-in;
  /*				-ms-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
				-moz-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
				-webkit-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
				-o-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);
				transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg) scale(0.9);*/
}
.my-make .swiper-container .men-god .next {
  -ms-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  -moz-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  -webkit-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  -o-transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
  transform: translateX(3rem) translateY(1.2rem) rotate(8deg) scale(0.9);
}
@-webkit-keyframes prev-change {
  100% {
    -ms-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg);
    -moz-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg);
    -webkit-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg);
    -o-transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg);
    transform: translateX(-3rem) translateY(1.2rem) rotate(-8deg);
  }
}
.my-make .fly_item {
  z-index: 99;
  border: 0;
  width: 3.13rem;
  height: 3.13rem;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  border-radius: 0.3rem;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  top: 0;
}
.my-make .fly_item img {
  display: block;
  width: 100%;
}
.my-make .designer-name {
  width: 95%;
  margin: 0 auto 0.3rem;
}
.my-make .designer-name li {
  float: right;
  width: 25%;
}
.my-make .designer-name li img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.my-make .designer-pic {
  width: 95%;
  margin: 0 auto 0.3rem;
}
.my-make .designer-pic li {
  overflow: hidden;
  float: left;
  width: 25%;
  height: 4.79rem;
}
.my-make .designer-pic li img {
  display: block;
  width: 75%;
  margin: 0 auto;
  border-radius: 11%;
}
.my-make .designer-effect {
  width: 95%;
  margin: 0 auto 1rem;
}
.my-make .designer-effect li {
  float: left;
  width: 25%;
}
.my-make .designer-effect li img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.my-make .receive-user {
  overflow: hidden;
  width: 73%;
  height: 3.5rem;
  margin: 0 auto 1.3rem;
  padding: 1.58rem 4% 1rem 12%;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/receive.png) 0 0 no-repeat;
  background-size: contain;
}
.my-make .receive-user li {
  overflow: hidden;
  float: left;
  width: 2.86rem;
  height: 2.86rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  border-radius: 50%;
}
.my-make .receive-user li img {
  display: block;
  width: 2.86rem;
  height: 2.86rem;
}
.my-make .want-mank {
  display: block;
  position: relative;
  width: 41%;
  height: 4.46rem;
  margin: 0 auto;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/btn_big.png) 0 0 no-repeat;
  background-size: contain;
}
.my-make .want-mank img {
  position: absolute;
  left: -6rem;
  top: -2.5rem;
  display: block;
  width: 8.04rem;
  height: 6.39rem;
}
.get-avatar {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, #a9dcfc 0%, #89c1fc 100%);
  background-image: -webkit-linear-gradient(90deg, #a9dcfc 0%, #89c1fc 100%);
  background-image: -ms-linear-gradient(90deg, #a9dcfc 0%, #89c1fc 100%);
}
.get-avatar .avatar-style {
  position: relative;
  overflow: visible;
  margin: 2.29rem auto;
  /*height: 20.32rem;*/
  width: 20.32rem;
  border: none;
  border-radius: 9%;
  background: #fff;
  /*box-shadow: 0 0.36rem 0.86rem rgba(93,137,181,0.3);*/
}
.get-avatar .avatar-style .after {
  overflow: hidden;
  position: relative;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 9%;
}
.get-avatar .avatar-style .after img {
  display: block;
  width: 100%;
}
.get-avatar .avatar-style .before {
  overflow: hidden;
  position: absolute;
  bottom: -0.86rem;
  right: -0.86rem;
  /*height: 4.29rem;*/
  width: 4.29rem;
  border: none;
  border-radius: 18%;
}
.get-avatar .avatar-style .before img {
  display: block;
  width: 100%;
}
.get-avatar .avatar-style .fans {
  position: absolute;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/03fans.png) no-repeat center;
  background-size: contain;
  width: 3.57rem;
  height: 7.43rem;
  top: 9.35rem;
  left: -2.6rem;
  z-index: 999;
}
.get-avatar .tips {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 22.07rem;
  height: 4.79rem;
}
.get-avatar .tips img {
  width: 100%;
  height: 100%;
}
.get-avatar .btn-panel {
  position: relative;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/03btn.png) no-repeat center;
  background-size: contain;
  height: 11.68rem;
  width: 23.11rem;
  margin: 2.25rem auto 0;
}
.get-avatar .btn-panel span {
  position: absolute;
  display: block;
  width: 10.6rem;
  height: 4.32rem;
  top: 4.5rem;
  background: rgba(255, 255, 255, 0);
}
.get-avatar .btn-panel .upload {
  left: 0;
}
.get-avatar .btn-panel .share {
  right: 0;
}
.share-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.share-mask .mask-p {
  padding-top: 3.57rem;
  text-align: center;
  font-size: 1.21rem;
  color: #fff;
  line-height: 1.93rem;
}
.share-mask .mask-icon {
  position: absolute;
  top: 1.57rem;
  right: 2.29rem;
  width: 2.82rem;
  height: 2.57rem;
  background: url("http://7u2spr.com1.z0.glb.clouddn.com/boys/share.png") center no-repeat;
  background-size: contain;
}
.pop-howto {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.pop-howto .pop-main {
  position: relative;
  overflow: hidden;
  width: 23.21rem;
  height: 34.39rem;
  margin: 2.29rem auto;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/05pop.png) no-repeat center;
  background-size: contain;
}
.pop-howto .pop-main a {
  position: absolute;
  display: block;
  width: 10rem;
  height: 4rem;
  left: 6.6rem;
  bottom: 1.2rem;
  background: rgba(255, 255, 255, 0);
}
.upload-suspend {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, #77cc9e 0%, #69c68e 100%);
  background-image: -webkit-linear-gradient(90deg, #77cc9e 0%, #69c68e 100%);
  background-image: -ms-linear-gradient(90deg, #77cc9e 0%, #69c68e 100%);
}
.upload-suspend .main {
  position: relative;
  overflow: hidden;
  /*background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/08tips.png) no-repeat left;*/
  background-size: contain;
  width: 20.18rem;
  height: 38.68rem;
  margin: 1.68rem auto 0;
  padding-right: 7%;
}
.upload-suspend .qr {
  position: absolute;
  width: 100%;
  top: 30.5rem;
  text-align: center;
}
.upload-suspend .qr .qrcode {
  position: relative;
  height: 7.54rem;
  width: 7.54rem;
  border: none;
}
.upload-success {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, #efc3a2 0%, #f1ba95 100%);
  background-image: -webkit-linear-gradient(90deg, #efc3a2 0%, #f1ba95 100%);
  background-image: -ms-linear-gradient(90deg, #efc3a2 0%, #f1ba95 100%);
}
.upload-success .main {
  position: relative;
  overflow: hidden;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/06tips.png) no-repeat center;
  background-size: contain;
  width: 26.14rem;
  height: 38.71rem;
  margin: 1.54rem auto 0;
}
.upload-success .main img {
  position: absolute;
  top: 18.8rem;
  left: 13.93rem;
  width: 10rem;
  height: auto;
}
.upload-success .qr {
  position: absolute;
  width: 100%;
  top: 30rem;
  text-align: center;
}
.upload-success .qr .qrcode {
  position: relative;
  height: 7.54rem;
  width: 7.54rem;
  border: none;
}
.upload-success .copyright {
  display: block;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  color: #d0a788;
  font-size: 0.64rem;
  text-align: center;
}
.upload-again {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, #f9d39a 0%, #fbbe78 100%);
  background-image: -webkit-linear-gradient(90deg, #f9d39a 0%, #fbbe78 100%);
  background-image: -ms-linear-gradient(90deg, #f9d39a 0%, #fbbe78 100%);
}
.upload-again .designer {
  position: relative;
  overflow: auto;
  margin: 1.14rem;
}
.upload-again .designer .avatar {
  float: left;
  width: 4.29rem;
  height: 4.29rem;
  border-radius: 9%;
  margin-right: 5%;
}
.upload-again .designer .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 9%;
  border: none;
}
.upload-again .designer .nickname {
  clear: both;
  width: 70%;
  margin: 0.64rem 0.2rem;
}
.upload-again .designer .nickname img {
  height: 0.89rem;
  width: auto;
}
.upload-again .designer .reason {
  float: left;
  width: 50%;
  padding-top: 1rem;
  line-height: 1.29rem;
  font-size: 1rem;
}
.upload-again .btn-panel {
  position: relative;
  overflow: hidden;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/07btn01.png) no-repeat center;
  background-size: contain;
  width: 13.54rem;
  height: 7.71rem;
  margin: 2.5rem auto 0;
}
.upload-again .qr {
  position: absolute;
  width: 100%;
  top: 30rem;
  text-align: center;
}
.upload-again .qr .qrcode {
  position: relative;
  height: 7.54rem;
  width: 7.54rem;
  border: none;
}
.upload-again .qrtips {
  position: relative;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/07qrtips.png) no-repeat center;
  background-size: contain;
  width: 11.93rem;
  height: 0.86rem;
  margin: 1.21rem auto;
}
.share-avatar {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, #a9dcfc 0%, #89c1fc 100%);
  background-image: -webkit-linear-gradient(90deg, #a9dcfc 0%, #89c1fc 100%);
  background-image: -ms-linear-gradient(90deg, #a9dcfc 0%, #89c1fc 100%);
}
.share-avatar .share-success-tips {
  position: relative;
  overflow: hidden;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/04share-success.png) no-repeat center;
  background-size: contain;
  height: 2.07rem;
  width: 8.61rem;
  margin: 0.75rem auto;
}
.share-avatar .avatar-style {
  position: relative;
  overflow: visible;
  margin: 0 auto 1.3rem;
  width: 20.32rem;
  border: none;
  box-shadow: 0 0.36rem 0.86rem rgba(93, 137, 181, 0.3);
}
.share-avatar .avatar-style .after {
  position: relative;
  border: none;
  height: 100%;
  width: 100%;
}
.share-avatar .avatar-style .after img {
  display: block;
  width: 100%;
  border-radius: 9%;
}
.share-avatar .avatar-style .before {
  position: absolute;
  bottom: -0.86rem;
  right: -0.86rem;
  height: 4.29rem;
  width: 4.29rem;
  border: none;
}
.share-avatar .avatar-style .before img {
  border-radius: 9%;
  display: block;
  width: 100%;
}
.share-avatar .avatar-style .fans {
  position: absolute;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/03fans.png) no-repeat center;
  background-size: contain;
  width: 3.57rem;
  height: 7.43rem;
  top: 9.35rem;
  left: -2.6rem;
  z-index: 999;
}
.share-avatar .effect-list {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 1.25rem auto;
}
.share-avatar .effect-list img {
  border-radius: 18%;
  height: 4.29rem;
  width: 4.29rem;
  border: none;
  margin: 0.43rem;
}
.share-avatar .tips {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 19rem;
  height: 1.29rem;
}
.share-avatar .tips img {
  width: 100%;
  height: 100%;
}
.share-avatar .btn-panel {
  position: relative;
  background: url(http://7u2spr.com1.z0.glb.clouddn.com/boys/04btn01.png) no-repeat center;
  background-size: contain;
  height: 4.32rem;
  width: 10.43rem;
  margin: 3rem auto 0;
}
.share-avatar .btn-panel a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
}
.obtain-success {
  height: 100%;
  background: #fbd398 url(http://7u2spr.com1.z0.glb.clouddn.com/boys/2bg.png) 0 0 no-repeat;
  background-size: contain;
}
.obtain-success .get-effect {
  padding-top: 1.82rem;
  margin-bottom: 0.5rem;
}
.obtain-success .get-effect img {
  display: block;
  width: 58%;
  height: 4.25rem;
  margin: 0 auto;
}
.obtain-success .effect-pic {
  margin-bottom: 0.36rem;
}
.obtain-success .effect-pic img {
  display: block;
  width: 76%;
  height: 20.32rem;
  margin: 0 auto;
  border-radius: 8%;
}
.obtain-success .download {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.29rem;
  text-align: center;
}
.obtain-success .download img {
  display: block;
  width: 40%;
  height: 4.14rem;
  margin: 0 auto;
}
.obtain-success .author {
  margin-bottom: 1rem;
  padding-right: 12%;
}
.obtain-success .author img {
  float: right;
  width: 35%;
  height: 1.29rem;
}
.obtain-success .tup img {
  display: block;
  width: 100%;
  height: 7.32rem;
}
