<div class="friendship-container">
	<div class="friendship-section">
		<div class="friendship-header">
			<ul>
				 <li data-type="follows" class="nav attention-nav">我的关注</li>
				 <li data-type="fans" class="nav fans-nav">我的粉丝</li>
			</ul>
		</div>
		<div id="friendshipItemView"></div>
	</div>
	    <!-- QRCODE -->
    <div class="comment-QRCode">
        <span class="picture-QRCode">
                <img src="/main/img/WachatQrcode.png" alt="">
        </span>
        <span class="load-iphone-btn">
            <span class="iphone-icon bg-sprite"></span>
        </span>
        <span class="load-android-btn">
            <span class="android-icon bg-sprite"></span>
        </span>
    </div>
</div>
