	<div class="reply-item grid-item">
		<div class="reply-head">
			<span class="reply-avatar">
				<a href="home.html#home/hot/<%= uid %>">
					<img src="<%= avatar %>" alt="头像">
				</a>
			</span>
			<span class="reply-name">
				<a href="home.html#home/hot/<%= uid %>">
					<%= nickname %>
				</a>
			</span>
			<span class="reply-create-time">
				<% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
			</span>
		</div>
		<div class="reply-main">
			<a target="_blank" href="#show/<%= ask_id %>/<%= id %>">
				<img src="<%= image_url %>" alt="作品">
			</a>
		</div>
		<div class="reply-footer">
			<div class="nav">
				<span class="pressed reply-nav nav-pressed">作品</span>
				<em class="">|</em>	
				<span class="pressed ask-nav">原图1</span>
				<em class="">|</em>	
				<span class="pressed ask-nav">原图2</span>
				<span class="nav-bottom"></span>
			</div>
			<div class="reply-section-icon">
				<span class="like">
				 	<i class="like-icon bg-sprite-new like_toggle <%= (uped)? 'liked': '' %>" data-type="<%= type %>" data-id="<%= id %>"></i>
				 	<em class="like-count"><%= up_count %></em>
				</span>
				<span class="comment">
					<i class="comment-icon bg-sprite-new"></i>
					<em class="comment-count"><%= comment_count %></em>
				</span>
			</div>
		</div>
	</div>
