<div class="wrap-page comWidth clearfix">
	<div class="work-section-wrapper clearfix">
		<div class="work-section first-section">
			<div class="section-top clearfix">
				<div class="section-portrait">
					<img class="section-portrait-img" src="/img/section-portrait-1.png" alt="用户头像">
				</div>
				<ul class="section-info">
					<li class="user-name">Ariadne</li>
					<li class="pubdate">1天前</li>
				</ul>
			</div>
			<div class="work-desc">
				<span class="description">求把我女票p成范女神p图描述p图描述p图描述p图描述p图描述p图描述</span>
				<div class="work-wrapper">
					<img src="/img/work.png" class="work">
					<i class="icon-origin"></i>
				</div>
			</div>
			<div class="section-bottom clearfix">
				<div class="comment-btn">
					<div class="comment-wrapper clearfix">
						<i class="icon-comment"></i>
						<span class="comment-count">6 评论</span>
					</div>
				</div>
				<div class="like-btn">
					<div class="like-wrapper clearfix">
						<i class="icon-like"></i>
						<span class="like-count">233 赞</span>
					</div>
				</div>
	 			<div class="work-intro">
					<span class="work-count">4个作品</span>
				</div>
			</div>
		</div>
		<div class="work-section">
				<div class="section-top clearfix">
					<div class="section-portrait">
						<img class="section-portrait-img" src="/img/section-portrait-4.png" alt="用户头像">
					</div>
					<ul class="section-info">
						<li class="user-name">P图小白</li>
						<li class="pubdate">1天前</li>
					</ul>
					<span class="applaud">神作</span>
				</div>
				<div class="work-desc">
					<span class="description">其实是来学p图</span>
					<div class="work-wrapper">
						<img src="/img/artwork.png" class="work">
					</div>
				</div>
				<div class="section-bottom clearfix">
					<div class="comment-btn">
						<div class="comment-wrapper clearfix">
							<i class="icon-comment"></i>
							<span class="comment-count">6 评论</span>
						</div>
					</div>
					<div class="like-false-btn">
						<div class="like-wrapper clearfix">
							<i class="icon-like"></i>
							<span class="like-count">233 赞</span>
						</div>
					</div>
				</div>
				<div class="comment">
					<div class="comment-submit clearfix">
						<div class="comment-portrait">
							<img src="/img/user-portrait.png" alt="用户头像">
						</div>
						<input class="comment-text-input" type="text">
						<input class="commentNow" type="submit" value="评论">
					</div>
					<div class="comment-view clearfix">
						<div class="comment-portrait">
							<img src="/img/comment-portrait-1.png" alt="评论用户头像">
						</div>
						<div class="comment-info">
							<span class="info-name">苍井少侠<em>:</em></span>
							<span class="info-date">1天前</span>
						</div>
						<span class="comment-text">这种效果要怎么做？</span>
					</div>
					<div class="comment-view clearfix">
						<div class="comment-portrait">
							<img src="/img/comment-portrait-2.png" alt="评论用户头像">
						</div>
						<div class="comment-info">
							<span class="info-name">苍井老侠<em>:</em></span>
							<span class="info-date">1天前</span>
						</div>
						<span class="comment-text">这种效果好好看，求教</span>
						<input type="text" class="replyNow" value="回复">
					</div>
					<div class="moreComment">
						<span class="moreComment-text">查看全部<em class="moreComment-count">6</em>条评论</span>
					</div>
				</div>
		</div>
	</div>
	<div class="side-bar">
		<ul class="operation-list">
			<li class="op-item aboutToPs"><a href="#">添加至帮P</a></li>
			<li class="op-item uploadMyWork"><a href="#">上传我的作品</a></li>
			<li class="op-item shareToWechat"><a href="#">分享至我的朋友圈</a></li>
		</ul>
		<div class="userCount-grid">
			<span class="grid-header">66个人正在帮P</span>
			<ul class="portrait-grid clearfix">
				<li class="grid-item"><img src="/img/grid-item-1.png" alt="用户1"></li>
				<li class="grid-item"><img src="/img/grid-item-2.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-3.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-4.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-5.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-6.png" alt="用户2"></li>
			</ul>
		</div>
		<div class="userCount-grid-nought hide">
			<span class="grid-header">P图第一人就是你啦
				<i class="dot">.</i>
			</span>
			<span class="grid-nought">快来帮P</span>
		</div>
	</div>
</div>