<div class="post-workShow">
	<div class="sectionHeader clearfix">
		<img src="/images/user-portrait.png" alt="用户头像" class="userPortrait">
		<span class="userName">咩咩咩remy</span>
	</div>
	<a href="/services/downloadOrigin/downloadOrigin" class="sectionContent">
		<img src="/images/origin-work.png" alt="原图">
	</a>
	<div class="sectionFooter">
		<a href="/services/downloadOrigin/downloadOrigin" class="workDesc">求大神p</a>
		<div class="footerBottom clearfix">
			<span class="pubdate">
				<span class="excDate">2016-3-14</span>
				<span class="excTiming">12:12</span>
			</span>
			<div class="communicate">
				<div class="like-btn">
					<i class="icon-like-btn"></i>
					<span class="text-like-btn">33</span>
				</div>
				<div class="comment-btn">
					<i class="icon-comment-btn"></i>
					<span class="text-comment-btn">33</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="post-workCount">
	<div class="workCount-bg"></div>
	<span class="text-workCount"><em>-</em>1 个作品<em>-</em></span>
</div>
<div class="post-workShow artWorkShow">
	<div class="sectionHeader clearfix">
		<img src="/images/user-portrait.png" alt="用户头像" class="userPortrait">
		<span class="userName">咩咩咩remy</span>
	</div>
	<a href="/services/downloadOrigin/downloadOrigin" class="sectionContent">
		<img src="/images/origin-work.png" alt="原图">
	</a>
	<div class="sectionFooter">
		<a href="/services/downloadOrigin/downloadOrigin" class="workDesc">求大神p</a>
		<div class="footerBottom clearfix">
			<span class="pubdate">
				<span class="excDate">2016-3-14</span>
				<span class="excTiming">12:12</span>
			</span>
			<div class="communicate">
				<div class="like-btn">
					<i class="icon-like-btn"></i>
					<span class="text-like-btn">33</span>
				</div>
				<div class="comment-btn">
					<i class="icon-comment-btn"></i>
					<span class="text-comment-btn">33</span>
				</div>
			</div>
		</div>
	</div>
	<div class="commentDetail">
		<div class="commentLine commentReply">
			<div class="commentHead clearfix">
				<span class="userNameGroup">
					<span class="userName-reply">咩咩</span>
					<em>回复</em>
					<span class="userName-beReplied">空耳君:</span>
				</span>
				<div class="commentOption">
					<span class="optionItem reply">回复</span>
					<span class="optionItem delete">删除</span>
				</div>
			</div>
			<span class="commentText">咩咩</span>
		</div>
		<div class="commentLine">
			<div class="commentHead clearfix">
				<span class="userName">空耳君：</span>
				<div class="commentOption">
					<span class="optionItem reply">回复</span>
					<span class="optionItem delete">删除</span>
				</div>
			</div>
			<span class="commentText">大神能帮我转一个吗大神能帮我转一个吗大神能帮我转一个吗大神能帮我转一个吗</span>
		</div>
		<div class="commentLine">
			<div class="commentHead clearfix">
				<span class="userName">azalea:</span>
				<div class="commentOption">
					<span class="optionItem reply">回复</span>
					<span class="optionItem delete hide">删除</span>
				</div>
			</div>
			<span class="commentText">大神能帮我转一个吗</span>
		</div>
	</div>
	<a href="javascript:;" class="viewMore">查看更多</a>
</div>
<div class="post-footer clearfix">
	<a href="javascript:;" class="footerHelp">
		<i class="icon-help"></i>
		帮P
	</a>
	<a href="javascript:;" class="footerUpload">
		上传作品
	</a>
</div>
<div class="window-fix hide" id="replyWindow">
	<div class="windowBg"></div>
	<div class="window clearfix">
		<div class="windowHeader">
			<span>回复</span>
			<span class="replyTo">@咩美：</span>
		</div>
		<textarea class="windowContent"></textarea>
		<div class="windowOperation">
			<input type="button" value="取消" class="cancel">
			<input type="submit" value="发送" class="send">
		</div>
	</div>
</div>
<div class="window-fix hide" id="commentWindow">
	<div class="windowBg"></div>
	<div class="window clearfix">
		<textarea class="windowContent" placeholder="评论"></textarea>
		<div class="windowOperation">
			<input type="button" value="取消" class="cancel">
			<input type="submit" value="发送" class="send">
		</div>
	</div>
</div>