<div class="channel-header">
	<div class="channel-go clearfix">
		<div class="vertical"></div>
		<h2><%= display_name %></h2>
		<a href="#channel/index" class="channel-more">更多频道</a>
	</div>
	<div class="channel-banner">
		<div class="pic-box"><img src="<%= app_pic %>" alt=""></div>
<!-- 		<div class="channel-num clearfix">
			<div class="works-num">
				<i class="works-icon"></i>
				<span>233</span>
			</div>			
			<div class="today-num">
				<i class="today-icon"></i>
				<span>66</span>
			</div>
		</div> -->
	</div>
	<ul class="tap clearfix">
		<li class="new works-tap activity"  data-type="works">
			<div class="new-tap clearfix">
				<span>作品区</span>
			</div>
		</li>
		<li class="works-tap hot" data-type="seek">
			<div class="hot-tap clearfix">
				<span>求P区</span>
			</div>
		</li>
	</ul>
	<a href="#upload/ask/<%= id %>" class="upload">
		<img src="/images/upload2.png" alt="">
	</a>
</div>
