<div class="ask-item-header">
    <a  target="_blank" href="#homepage/reply/<%= uid %>">
        <span class="is-loading">
            <img src="<%= avatar %>" alt="<%= nickname %>">
        </span>
    </a>
    <span class="ask-item-info">
    <a target="_blank" target="_blank" href="#homepage/reply/<%= uid %>">
        <span class="ask-item-user">
            <%= nickname %>
        </span>
    </a>
        <span class="ask-item-created">
            <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
        </span>
    </span>
    <% if(type == 1) { %>
    <span class="dowload-actionbar">
         <a data-type="<%= type %>" data-id="<%= id %>" class="download">
            <span class="download-original">下载原图</span>
            <span class="download-icon bg-sprite"></span>
        </a>
    </span>
    <% } %>
</div>                

    <div class="ask-item-picture">
    <%  if(ask_uploads.length > 1 && type == 1) _.each(ask_uploads, function(ask) {   %>
            <span class="ask-more-1">
                <img src="<%= ask.image_url %>" alt="">
            </span>
     
    <% }); else { %>
        <a class="fancybox" href="#picture-popup">
            <span class="is-loading">
                <img src="<%= image_url %>">
            </span>
        </a>
    <% } %>
        
    </div> 

    <div class="ask-content">
            <%= desc %>
    </div>

<div class="ask-item-actionbar"> 
    <% if( type == 2 ) { %>  
    <span data-type="<%= type %>" data-id="<%= id %>" class="like like_toggle <%= (uped)? 'liked': '' %>">
        <i class="bg-sprite-new  icon-like-large"></i>
        <span class="like-count"><%= up_count %></span> 
    </span>
    <% } %>
    <span class="comment-reply"> 
        <i class="bg-sprite-new icon-comment-large askItem-actionbar-comment-icon"></i>
        <span class="askItem-actionbar-comment-count"><%= comment_count %></span>
    </span>
</div>
<div class="comment-frame">
    <textarea name="" id="commentContent"  placeholder="写评论...."></textarea>
    <span id="comment-btn" class="comment-btn right">评论</span>   
</div>
<div class="clear"></div>
