   <div class="ask-item-header">
        <a  href="#home/ask/<%= uid %>">
            <span class="is-loading">
                <img src="<%= avatar %>" alt="<%= nickname %>">
            </span>
        </a>
        <span class="ask-item-info">
        <a target="_blank" href="#home/ask/<%= uid %>">
            <span class="ask-item-user">
                <%= nickname %>
            </span>
        </a>
            <span class="ask-item-created">
                <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
            </span>
        </span>
       <span class="dowload-actionbar">
             <a data="<%= type %>" data-id="<%= id %>" class="download">
                <span class="download-original">下载原图</span>
            </a>
            <span class="download-icon bg-sprite"></span>
       </span>
    </div>                

        <div class="ask-item-picture">
          <a class="fancybox" href="#picture-popup">
            <span class="is-loading">
                <img src="<%= image_url %>">
            </span>
         </a>
            <% if(1 == 1) { %>
            <div class="photo-item-reply">
                <div class="photo-item-reply-work">
                    <span class="is-loading">
                        <img src="<%= image_url %>">
                    </span>
                </div>
            </div>
            <% } %>
        </div> 

    <div class="ask-item-actionbar">   
        <span id="comment-large-link-toggle" class="bg-sprite like_toggle icon-like-large"></span> 
        <span class="askItem-actionbar-like-count"><%= up_count %></span> 
        <span class="bg-sprite icon-comment-large askItem-actionbar-comment-icon"></span>
        <span class="askItem-actionbar-comment-count"><%= comment_count %></span>
<!--         <span class="askItem-actionbar-share-icons right">
            <span class="askItem-actionbar-share-weibo bg-sprite icon-weibo-large"></span>
            <span class="askItem-actionbar-share-wechat bg-sprite icon-wechat-large"></span>
            <span class="askItem-actionbar-share-moments bg-sprite icon-moments-large"></span>
        </span> -->
    </div>
    <div class="comment-frame">
        <textarea name="" id="commentContent"  placeholder="写评论...."></textarea>
        <span id="comment-btn" class="comment-btn right">评论</span>   
    </div>
    <div class="clear"></div>