<link rel="stylesheet" href="/main/css/comment.css" type="text/css" >
<div class="ask-detail-container">
    <div class="ask-area">
        <div class="ask-item">

        <div id="commentItemView"></div>

         <div class="comment-hot-content">
            <span class="comment-hot-title hide">
                <span class="hot-icon bg-sprite"></span>
                <span class="hot-font">最热评论</span>
            </span>
                <!-- 热门评论 hotCommentRegion -->
                <div id="hotCommentView"></div>
        </div>
        <div class="comment-newest-content">
            <span class="comment-newest-title hide">
                <span class="newest-icon bg-sprite"></span>
                <span class="newest-font">最新评论</span>
            </span>
            <!-- 最新评论 newCommentRegion -->
            <div id="newCommentView"></div>
        </div>
        </div>
    </div>
    <!-- QRCODE -->
    <div class="comment-QRCode">
        <span class="picture-QRCode">
                <img src="/main/img/WachatQrcode.png" alt="">
        </span>
        <span class="load-iphone-btn">
            <span class="iphone-icon bg-sprite"></span>
        </span>
        <span class="load-android-btn">
            <span class="android-icon bg-sprite"></span>
        </span>
    </div>
</div>

