<!-- 最新评论 -->
<div id="newest-content" class="newest-content">
    <a href="#home/ask/<%= uid %>">
        <span class="comment-user-information">
            <span class="comment-head-portrait">
                <span class="is-loading">
                    <img src="<%= avatar %>" alt="<% nickname %>">
                </span>
            </span>
            <span class="comment-nickname"><%= nickname %></span>
        </span>
    </a>
    <span class="comment-item-content">
        <span class="comment-content">
            <%= content %>
           <!-- <span class="">//<i class="reply-symbol">@</i><%= nickname %>:<%= content %></span> -->
        </span>
        <span class="newest-item-actionbar">
            <span class="comment-release-time">
                <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
            </span>
            <span class="actionbar-reply-link right">
                <span class="reply-btn">回复</span>
                <span>

                <span class="comment-link-icon comment-link-toggle bg-sprite"></span>
                <span class="actionbar-like-count"><%= up_count %></span>
                </span>
            </span>
        </span>
    </span>
    <span class="comment-reply-content hide">
        <span class="comment-reply-area">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </span>
       <span class="command-item-reply-btn">
            <span class="comment-reply-btn right">回复</span>
        </span>
    </span>
</div>
