<div class="wrap-page comWidth clearfix">
	<div class="work-section-wrapper clearfix">
		<div class="work-section download-origin-section">
			<div class="section-top clearfix">
				<div class="section-portrait">
					<img class="section-portrait-img" src="/img/section-portrait-1.png" alt="用户头像">
				</div>
				<ul class="section-info">
					<li class="user-name">Ariadne</li>
					<li class="pubdate">1天前</li>
				</ul>
			</div>
			<div class="work-desc">
				<span class="description origin-desc">求把我女票p成范女神p图描述p图描述p图描述p图描述p图描述p图描述</span>
				<div class="work-wrapper origin-download">
					<img src="/img/work.png" class="work">
					<i class="icon-origin icon-download"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="side-bar">
		<ul class="operation-list">
			<li class="op-item aboutToPs"><a href="#">添加至帮P</a></li>
			<li class="op-item uploadMyWork"><a href="#">上传我的作品</a></li>
			<li class="op-item shareToWechat"><a href="#">分享至我的朋友圈</a></li>
		</ul>
		<div class="userCount-grid">
			<span class="grid-header">66个人正在帮P</span>
			<ul class="portrait-grid clearfix">
				<li class="grid-item"><img src="/img/grid-item-1.png" alt="用户1"></li>
				<li class="grid-item"><img src="/img/grid-item-2.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-3.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-4.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-5.png" alt="用户2"></li>
				<li class="grid-item"><img src="/img/grid-item-6.png" alt="用户2"></li>
			</ul>
		</div>
		<div class="userCount-grid-nought hide">
			<span class="grid-header">P图第一人就是你啦
				<i class="dot">.</i>
			</span>
			<span class="grid-nought">快来帮P</span>
		</div>
	</div>
</div>