<link rel="stylesheet" href="/main/css/ask-detail.css" type="text/css" >
<div class="ask-detail-container">
    <div class="ask-area">
        <div class="ask-item">
            <div id="detailViewAsk"></div>
 

            <div id="detailViewComment"></div>
        </div>
    </div>
    <!-- QRCODE -->
    <div class="comment-QRCode">
        <span class="picture-QRCode">
                <img src="/main/img/WachatQrcode.png" alt="">
        </span>
        <span class="load-iphone-btn">
            <span class="iphone-icon bg-sprite"></span>
        </span>
        <span class="load-android-btn">
            <span class="android-icon bg-sprite"></span>
        </span>
    </div>
</div>

