<div class="money-wrap">
	<img src="img/ic_money.png" alt="" class="pic">
	<div class="my-money">我的零钱</div>
	<div class="money"><em>¥</em><span class="num">2,00</span><var>元</var></div>
	<div class="recharge">充值</div>
	<div class="withdraw">提现</div>
	<div class="fonbox blo">
		<div class="box blo">
			<div class="box-head">请输入充值金额（元）</div>
			<input id="amount" type="text" class="box-money" placeholder="¥ 0.00">
			<div id="confirm" class="confirm weixinPay">确定</div>
		</div>
		<div class="payment-method">
			<div class="ali" id="alipay_pc_direct" data-pay="alipay_pc_direct">支付宝</div>
			<div class="weix" id="wx" data-pay="wx">微信</div>
			<div class="money-cancel">取消</div>
		</div>
	</div>
</div>
