<div class="home-ask">
	<div class="ask-pic clearfix">
		<div class="ask-old-pic">
			<a href="">
			<img src="<%= image_url %>" alt=""></a>
			<i class="bg-sprite-new"></i>
		</div>	
		<div class="ask-work-pic">
			<a class="ask-main-pic clearfix" href="">
				<%  _.each( replies , function(reply) { %>
					<span class="ask-box">
						<img src="<%= reply.image_url %>" alt="">
					</span>
				<% }) %>
			</a>
		</div>
		<div class="ask-time"><% var timeMatrixing = time(create_time); %><%= timeMatrixing %></div>
	</div>
	<div class="ask-write clearfix">
		<input class="desc" type="text" value="要求: <%= desc %>">
		<i class="reset-icon bg-sprite-new" data-id="<%= id %>"></i>

	</div>
</div>