<div class="download-container">
   <div class="app-introduce">
    <div id="headerView"></div>
       <span class="app-introduce-picture">
        <img src="/main/img/phonePicture.png" alt="">
       </span>
       <span class="app-item-introduce">
           <span class="app-relation">联系方式</span>
           <span class="app-intro">地址：深圳市南山区华中科技大学深圳产学研基地</span>
           <span class="app-intro">反馈QQ：2974252463</span>
           <span class="app-intro">反馈微信：正在审核中</span>
           <span class="app-intro">用户QQ群：511828428</span>
           <span class="app-intro">意见反馈邮箱：i@tupppai.com</span>
           <span class="attention-me">
            <span class="attention">关注我们</span>
             <span class="weibo">
               <i class="weibo-icon bg-sprite-new"></i>
               <span class="call-tupai">@图派itupai</span>
             </span>
             <span class="weixin">
               <i class="weixin-icon bg-sprite-new"></i>
               <span class="official">官方微信：正在审核中</span>
             </span>
           </span>
       </span>
   </div>
</div>

