<ul class="menu">
	<li class="menuTop hide">
		<div class="menuBg"></div>
		<i class="icon-top"></i>
	</li>
	<li class="menuMy">
		<div class="menuBg"></div>
		<i class="icon-My"></i>
		<ul class="menuMy-list hide">
			<li class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-hall"></i>
				<span class="text-menuItem">求P大厅</span>
			</li>
			<li class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-ask"></i>
				<span class="text-menuItem">我的求P</span>
			</li>
			<li class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-help"></i>
				<span class="text-menuItem">我的帮P</span>
			</li>
			<li class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-work"></i>
				<span class="text-menuItem">我的作品</span>
			</li>
		</ul>
	</li>
	<li class="menuPs">
		<div class="menuBg"></div>
		<i class="icon-Ps"></i>
		<ul class="menuPs-list hide">
			<li class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-ask"></i>
				<span class="text-menuItem">求P</span>
			</li>
			<li class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-switch"></i>
				<span class="text-menuItem">换一换</span>
			</li>
		</ul>
	</li>
</ul>
<div class="sectionHeader clearfix">
	<img src="/images/user-portrait.png" alt="用户头像" class="userPortrait">
	<span class="userName">我的求P</span>
</div>
<div class="myAsk-page">
	<div class="myAsk-pageSection">
		<div class="sectionContent">
			<img src="/images/origin-work.png" alt="原图">
		</div>
		<div class="sectionFooter">
			<span class="workDesc">求大神p</span>
			<div class="footerBottom clearfix">
				<span class="pubdate">
					<span class="excDate">2016-3-14</span>
					<span class="excTiming">12:12</span>
				</span>
				<div class="workCount">
					<i class="icon-workCount"></i>
					<span class="text-workCount">0作品</span>
				</div>
			</div>
		</div>
	</div>
	<div class="myAsk-pageSection">
		<div class="sectionContent">
			<img src="/images/origin-work.png" alt="原图">
		</div>
		<div class="sectionFooter">
			<span class="workDesc">求大神p</span>
			<div class="footerBottom clearfix">
				<span class="pubdate">
					<span class="excDate">2016-3-14</span>
					<span class="excTiming">12:12</span>
				</span>
				<div class="workCount">
					<i class="icon-workCount"></i>
					<span class="text-workCount">0作品</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="my-none hide" id="myHelp-none">
	<div class="none-bg"></div>
	<div class="emptyZone">
		<i class="icon-empty"></i>
		<span class="text-empty">还没有发布过求P</span>
	</div>
</div>