i {
  font-style: normal;
}

.photo-container-admin.invalid {
  background-color: lavenderblush;
}
.photo-container-admin.ready {
  background-color: #fff;
}
.photo-container-admin.valid {
  background-color: lightcyan;
}
.photo-container-admin[data-status="0"] {
  background-color: lightgray;
}
.photo-container-admin {
  width: 340px;
  display: inline-block;
  font-size: 13px;
  border: 1px solid gray;
}
.photo-container-admin .photo-item-header {
  padding: 5px 5px 0;
  position: relative;
}
.photo-item-header > div{
  display: inline-block;
}
.photo-container-admin .photo-item-header .user-label {
  display: inline-block;
  vertical-align: top;
  width: 2em;
  color: #f1353d;
}
.photo-container-admin .photo-item-header .right-head-portrait {
  display: inline-block;
  text-align: center;
}
.photo-container-admin .photo-item-header .right-head-portrait img {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
}
.photo-container-admin .photo-item-header .left-item-message {
  display: inline-block;
  width: 210px;
  height: 50px;
  vertical-align: top;
  text-align: left;
}
.photo-container-admin .photo-item-header .left-item-message .personage-message {
  text-align: left;
}
.photo-container-admin .photo-item-header .left-item-message .personage-message .user-nickname {
  display: inline-block;
  overflow: hidden;
}
div.user-device-info,
div.personage-message {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

div.user-device-info > span,
div.personage-message > span {
    -webkit-flex: 1 auto;
    flex: 1 auto;
}

.photo-container-admin .set-item-actionbar {
  margin-bottom: 10px;
}
.photo-container-admin .set-item-actionbar .set-option {
  display: inline-block;
}
.photo-container-admin .set-item-actionbar .set-option select {
  width: 100px;
  height: 34px;
  display: inline-block;
}
.photo-container-admin .set-item-actionbar .set-value {
  display: inline-block;
  width: 205px;
}
.photo-container-admin .set-item-actionbar .set-value span {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 5px !important;
  margin-left: 5px;
  padding: 0;
}
.photo-container-admin .set-item-actionbar .set-value .cancel-user-recommend {
  width: 85px;
}
.photo-container-admin .card-message {
  padding: 0 5px;
}
.photo-container-admin .card-message .card-created-time {
  display: inline-block;
  width: 140px;
  height: 30px;
  line-height: 30px;
}
.photo-container-admin .card-message .card-created-id {
  display: inline-block;
  width: 140px;
  height: 20px;
  line-height: 20px;
}
.photo-container-admin .photo-main .item-picture {
  height: 400px;
  line-height: 400px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.photo-container-admin .photo-main .item-picture img {
  width: 100%;
}
.photo-container-admin .photo-main .item-picture .small-picture {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 0px;
}
.photo-container-admin .photo-main .item-picture .small-picture img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.photo-container-admin .photo-main .photo-description {
  display: block;
  height: 20px;
  padding: 0 5px;
  margin-top: 5px;
}
.photo-container-admin .foot-item-actionbar {
  display: block;
  padding: 0 5px 5px;
}
.photo-container-admin .foot-item-actionbar .foot-item-value {
  display: block;
  text-align: center;
}
.photo-container-admin .foot-item-actionbar .foot-item-value .reply_count,
.photo-container-admin .foot-item-actionbar .foot-item-value .shield-cantent,
.photo-container-admin .foot-item-actionbar .foot-item-value .cancel-hot-recommend {
  display: inline-block;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 5px !important;
  float: left;
  vertical-align: top;
  margin-right: 5px;
  padding: 0;
}
.photo-container-admin .foot-item-actionbar .foot-item-value .reply_count {
  background-color: #7BD3F9;
}
.photo-container-admin .foot-item-actionbar .foot-item-value .cancel-hot-recommend {
  width: 83px;
  margin-right: 0px;
}
.photo-container-admin .foot-item-actionbar .photo-item-count {
  width: 190px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0;
}
.photo-container-admin .foot-item-actionbar .photo-item-count .photo-replies-count,
.photo-container-admin .foot-item-actionbar .photo-item-count .photo-load {
  display: inline-block;
  width: 60px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px !important;
  vertical-align: top;
}
.photo-container-admin .foot-item-actionbar .photo-detail {
  vertical-align: top;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 5px 0;
}

