<div class="sectionHeader clearfix">
	<img src="/images/user-portrait.png" alt="用户头像" class="userPortrait">
	<span class="userName">我的求P</span>
</div>
<div class="myAsk-page">
	<div class="myAsk-pageSection">
		<a href="/services/download/index" class="sectionContent">
			<img src="/images/origin-work.png" alt="原图">
		</a>
		<div class="sectionFooter">
			<a href="/services/download/index" class="workDesc">求大神p</a>
			<div class="footerBottom clearfix">
				<span class="pubdate">
					<span class="excDate">2016-3-14</span>
					<span class="excTiming">12:12</span>
				</span>
				<div class="workCount">
					<i class="icon-workCount"></i>
					<span class="text-workCount">0作品</span>
				</div>
			</div>
		</div>
	</div>
	<div class="myAsk-pageSection">
		<a href="/services/download/index" class="sectionContent">
			<img src="/images/origin-work.png" alt="原图">
		</a>
		<div class="sectionFooter">
			<a href="/services/download/index" class="workDesc">求大神p</a>
			<div class="footerBottom clearfix">
				<span class="pubdate">
					<span class="excDate">2016-3-14</span>
					<span class="excTiming">12:12</span>
				</span>
				<div class="workCount">
					<i class="icon-workCount"></i>
					<span class="text-workCount">0作品</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="my-none hide" id="myHelp-none">
	<div class="none-bg"></div>
	<div class="emptyZone">
		<i class="icon-empty"></i>
		<span class="text-empty">还没有发布过求P</span>
	</div>
</div>