    <div class="photo-item left">
        <div class="photo-item-content">
             <% if( reply_count > 0 ) { %>
             
                <a target="_blank" href="#show/<%= uid %>">

            <% } else { %> 

                <a target="_blank" href="#detail/<%= uid %>">

            <% } %>

                <img src="<%= image_url %>" alt="<%= nickname %>">
                </a>
            <div class="photo-item-reply">
                <div class="photo-item-reply-work">
                    <img src="<%= avatar %>">
                </div>
             </div>
        </div>
        <div class="ask-tiem-actionbar">
            <div class="ask-content">
                <%= desc %>
             </div>
            <span class="download-item-actionbar">
                <span class="download-icon bg-sprite"></span>
                <a href="<% image_url %>">
                    <span class="download-work">下载作品</span>
                </a>
            </span>
            <span class="work-count right"><%= up_count %></span>
        </div>
    </div>
