    <div class="photo-item left">
        <div class="photo-item-content">
             <% if( reply_count > 0 ) { %>
             
                <a target="_blank" href="#show/<%= uid %>">

            <% } else { %> 

                <a target="_blank" href="#detail/<%= uid %>">

            <% } %>

                <span class="is-loading">
                    <img src="<%= image_url %>" alt="<%= nickname %>">
                </span>
                </a>
            <div class="photo-item-reply">
                <a href="#home/ask/<%= uid %>">
                    <div class="photo-item-reply-work">
                        <span class="is-loading">
                            <img src="<%= avatar %>">
                        </span>
                    </div>
                </a>
             </div>
        </div>
        <div class="ask-tiem-actionbar">
            <div class="ask-content">
                <%= desc %>
             </div>
            <span class="download-item-actionbar">
                <a data="<%= type %>" data-id="<%= id %>" class="download">
                    <span class="download-icon bg-sprite"></span>
                    <span class="download-work">下载作品</span>
                </a>
            </span>
            <span class="work-count right"><%= reply_count %>个作品</span>
        </div>
    </div>
