    <div class="photo-item left">
        <div class="photo-item-content">
            <img src="<%= image_url %>" alt="<%= nickname %>">
            <div class="photo-item-reply">
                <div class="photo-item-reply-work">
                    <img src="<%= avatar %>">
                </div>
             </div>
        </div>
        <div class="ask-tiem-actionbar">
            <div class="ask-content">
                <%= desc %>
             </div>
            <span class="download-item-actionbar">
                <span class="download-icon bg-sprite"></span>
                <span class="download-work">下载作品</span>
            </span>
            <span class="work-count right"><%= reply_count %></span>
        </div>
    </div>
