<link rel="stylesheet" href="/main/css/home.css" type="text/css">

<div class="inner-container">
	<div class="personage-container">
	<!-- 个人页面的左侧 -->
		<div class="personage-message left">
			<div class="personage-header">
				<span class="home-page-icon bg-sprite"></span>
				<span class="return-home-page">后退一步</span>
			</div>
			<!-- 个人页面main -->
			<div class="personage-details">
				<a href="#home/ask/<%= uid %>">
					<span class="personage-head-protrait">
						<span class="is-loading">
	                    	<img src="<%= avatar %>" alt="<%= username %>">
						</span>
					</span>
				</a>
				<span class="personage-name"><%= nickname %></span>
				<ul class="personage-actionbar-count">
					<li class="personage-attention">
						<i><%= fellow_count %></i>
						<span class="personage-attention" >关注</span>
					</li>
					<li class="personage-fans">
						<i><%= fans_count %></i>
						<span>粉丝</span>
					</li>
					<li class="personage-link">
						<i><%= uped_count %></i>
						<span>点赞<%= own_uid %></span>
					</li>
				</ul>
				<span  class="toggle-attention">
			<%  
				var own_uid = $('#headerView .user-message').attr('data-id');
				if(uid != own_uid ) { %>
					<% if (is_follow ){ %> 
						<span id="attention" class="attention hide" data-id="<%= uid %>">+关注</span>
						<span id="cancel_attention" class="cancel-attention" data-id="<%= uid %>">取消关注</span>
					<% }else{ %>
						<span id="attention" class="attention" data-id="<%= uid %>">+关注</span>
						<span id="cancel_attention" class="cancel-attention hide" data-id="<%= uid %>">取消关注</span>
					<% } %>
				<% } %>
				</span>
			</div>
			<!-- 个人页面nav -->
			<div class="personage-nav">
					<span id="load_ask" class="personage-seek-help">
						<span class="seek-help-icon bg-sprite left"></span>
	                       <span class="seek-help left">求P</span>
	                    <span class="seek-help-count right"><%= ask_count %></span>
	                </span>
	                <span id="load_reply" class="personage-photo-product">
	                    <span class="photo-product-icon bg-sprite left"></span>
	                       <span class="photo-product left">作品</span>
	                    <span class="photo-product-count right"><%= reply_count %></span>
                	</span>
	                <span id="load_inprogress" class="personage-under-way">
	                    <span class="under-way-icon bg-sprite left"></span>
						   <span class="under-way left">进行中</span>
						<span class="under-way-count right"><%= inprogress_count %></span>
					</span>
				</a>
			</div>
		</div>
		<!-- 个人页面右边 进行中 图片详情 -->
		<!-- section -->
		<div class="under-way-container left" id="homeListView">
		</div>
	</div>
</div>
<div class="clear"></div>
