<div class="photo-item left">
    <div class="photo-item-content">
        <img src="<%= image_url %>" alt="">
        <div class="photo-item-reply">
            <div class="photo-item-reply-work">
                <img src="<%= image_url %>">
            </div>
         </div>
    </div>
    <div class="photo-item-personage">
        <img src="<%= avatar %>">
        <span class="photo-item-author">
            陈晨
        </span>
        <span class="photo-item-created">
            2小时前
        </span>
     </div>
     <div class="uploading-delete" data-remodal-target="uploading-modal" href="#uploading-modal">
        <span class="uploading-icon bg-sprite left"></span>
        <span class="uploading left">上传作品</span>
        <span class="delete right">删除</span>
     </div>
</div>
    