<div class="photo-item left">
    <div class="photo-item-content">
        <% if( reply_count > 0 ) { %>

            <a target="_blank" href="#show/<%= uid %>">

        <% } else { %> 

            <a target="_blank" href="#comment/ask/<%= uid %>">

        <% } %>
        
            <span class="is-loading">
                <% var ask_view = ask_uploads.shift(); %>
                <img src="<%= ask_view.image_url %>" alt="">
            </span>
        </a>
        <div class="photo-item-reply">
            <% _.each(ask_uploads, function(ask) {  %>
            <div class="photo-item-reply-work">
                <span class="is-loading">
                    <img src="<%= image_url %>">
                </span>
            </div>
            <% }); %>
         </div>
    </div>
    <div class="photo-item-personage">
        <a href="#home/ask/<%= uid %>">
            <span class="is-loading">
                <img src="<%= avatar %>">
            </span>
        </a>
        <span class="photo-item-author">
            <%= nickname %>
        </span>
        <a href="#error-popup" class="error-popup">
        <span class="photo-item-created">
            <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
        </span>
        </a>
     </div>
     <div class="uploading-delete" >
        <span class="uploading-icon bg-sprite left"></span>
        <a href="#uploading-popup" class="uploading-popup" ask-id="<%= ask_id %>">
            <span class="uploading left">上传作品</span>
        </a>
        <span class="delete-card right" data-id="<%= id %>">删除</span>
     </div>
</div>
    
