<div class="photo-item left">
    <div class="photo-item-content">
        <% if( reply_count > 0 ) { %>

            <a target="_blank" href="#show/<%= uid %>">

        <% } else { %> 

            <a target="_blank" href="#comment/ask/<%= uid %>">

        <% } %>
        
            <span class="is-loading">
                <img src="<%= image_url %>" alt="">
            </span>
        </a>
        <div class="photo-item-reply">
            <div class="photo-item-reply-work">
                <span class="is-loading">
                    <img src="<%= image_url %>">
                </span>
            </div>
         </div>
    </div>
    <div class="photo-item-personage">
        <a href="#home/ask/<%= uid %>">
            <span class="is-loading">
                <img src="<%= avatar %>">
            </span>
        </a>
        <span class="photo-item-author">
            <%= nickname %>
        </span>
        <span class="photo-item-created">
            <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
        </span>
     </div>
     <div class="uploading-delete" >
        <span class="uploading-icon bg-sprite left"></span>
            <a href="#uploading-popup" class="uploading-popup">
                <span class="uploading left">上传作品</span>
            </a>
        <span id="delete_card" class="delete right">删除</span>
     </div>
</div>
    
