    <div class="photo-item left">
        <div class="photo-item-content">
            <a target="_blank" href="/#show/<%= ask_id %>/<%= id %>">
                <span class="is-loading">
                    <img src="<%= image_url %>" alt="<%= nickname %>">
                </span>
            </a>
        </div>
<!--          <div class="operate-item-actionbar">
            <% if( 1=='1' ) { %>
            <span class="check">审核中</span>
            <span id="delete_card" class="delete right">删除</span>
            <% }else if( 1 == '1') { %>
            <span class="grade right">评分:<i><%= 1 %></i></span>
            <% }else if( 1 == '1' ) { %>
            <span class="refuse-content right">效果不好</span>
            <% } %>
         </div> -->
    </div>
