    <div class="photo-item left">
        <div class="photo-item-content">
            <img src="<% image_url %>" alt="">
            <div class="photo-item-reply">
                <div class="photo-item-reply-work">
                    <img src="<% image_url %>">
                </div>
             </div>
        </div>
         <div class="operate-item-actionbar">
            <!-- <span class="check">审核中</span>
            <span class="delete right">删除</span> -->
            <span class="grade right">评分:<i><%= 1 %></i></span>
            <!-- <span class="refuse-content right">效果不好</span> -->
         </div>
    </div>