    <div class="photo-item left">
        <div class="photo-item-content">
            <a target="_blank" href="#show/<%= uid %>">
                <span class="is-loading">
                    <img src="<%= image_url %>" alt="<%= nickname %>">
                </span>
            </a>
            <div class="photo-item-reply">
                <a href="#home/<%= uid %>">
                    <div class="photo-item-reply-work">
                        <span class="is-loading">
                            <img src="<%= avatar %>">
                        </span>
                    </div>
                </a>
             </div>
        </div>
         <div class="operate-item-actionbar">
            <!-- <span class="check">审核中</span>
            <span class="delete right">删除</span> -->
            <span class="grade right">评分:<i><%= 1 %></i></span>
            <!-- <span class="refuse-content right">效果不好</span> -->
         </div>
    </div>
