    <div class="share-avatar">
        <div class="share-success-tips"></div>
        <div class="avatar-style ">
            <img class="after" src="/images/liyifeng_big@2x.png">
            <img class="before" src="/images/liyifeng_little@2x.png">
            <div class="fans"></div>
        </div>
        <div class="effect-list">
            <a href=""><img src="/images/4btn_c@3x.png"></a>
            <a href=""><img src="/images/4btn_a@3x.png"></a>
            <a href=""><img src="/images/4btn_b@3x.png"></a>
        </div>
        <div class="tips"><img src="/images/04tips01.png"></div>
        <div id="uploadImage" class="btn-panel">
            <div  class="upload"></div>
        </div>
    </div>