<div class="uploadHeader" >
	<div class="backPage">
		<i class="icon-backPage"></i>
		<span class="text-backPage">发布求P</span>
	</div>
	<input type="text" value="发布" class="confirm">
</div>
<div class="uploadContent">
	<div class="uploadPic-none hide">
		<div class="picPlaceHolder clearfix">
			<div class="holderBorder"></div>
			<div class="holderMain"></div>
		</div>
		<span class="uploadText">上传图片</span>
	</div>
	<div class="uploadPic">
		<div class="picPlaceHolder clearfix">
			<div class="holderBorder"></div>
			<div class="holderMain"></div>
		</div>
	</div>
	<textarea class="uploadDesc" placeholder="请输入至少10字说明求P"></textarea>
</div>