<div class="praise-contain praise-me clearfix">
	<div class="praise-head">
		<a href="" class="praise-head-pic">
			<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151225-091340567c984449e6f.jpg?imageView2/2/w/480" alt="">
		</a>
	</div>
	<div class="praise-ifo">
		<div class="ifo-top clearfix">
			<a href="">xingming</a>
			<span>1xiaoshi</span>
		</div>
		<div class="ifo-bottom">
			赞了你的图片
		</div>
	</div>
	<div class="parise-right">
		<a href="" class="parise-right-pic">
			<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151225-091340567c984449e6f.jpg?imageView2/2/w/480" alt="">
			<i class="pic-icon bg-sprite-rebirth"></i>
		</a>
	</div>
</div>