<div class="message-container">
	<div class="message">
		<div class="message-title">
			消息
		</div>
        <div class="nav comment-nav <%= (type=='comment')? 'nav-pressed':'' %>" data="comment">
            <i class="comment-icon  comment-icon-pressed bg-sprite-new"></i>
            <span class="comment">评论</span>
        </div>
		<div class="nav paste-nav <%= (type=='reply')? 'nav-pressed':'' %>" data="reply">
			<i class="paste-icon paste-icon-pressed bg-sprite-new"></i>
			<span class="paste">帖子回复</span>
		</div>

<!-- 		<div class="nav praise-nav <%= (type=='praise')? 'nav-pressed':'' %>" data="praise">
			<i class="praise-icon praise-icon-pressed bg-sprite-new"></i>
			<span class="praise">赞</span>
		</div> -->
		
		<div class="nav attenion-nav <%= (type=='follow')? 'nav-pressed':'' %>" data="follow">
			<i class="attention-icon attention-icon-pressed bg-sprite-new"></i>
			<span class="attenion">关注通知</span>
		</div>
		<div class="nav system-nav <%= (type=='system')? 'nav-pressed':'' %>" data="system">
			<i class="system-icon system-icon-pressed bg-sprite-new"></i>
			<span class="system">系统消息</span>
		</div>
    </div>
	<div class="nav-title"></div>
    <div id="message-item-list" class="message-section">
        <!--
        <div class="title">
            评论
        </div>
        -->
    </div>
</div>
