<div class="praise-contain praise-me clearfix">
	<div class="praise-head">
		<a target="_blank" href="#homepage/reply/<%= sender %>" class="praise-head-pic">
			<img src="<%= avatar %>" alt="">
		</a>
	</div>
	<div class="praise-ifo">
		<div class="ifo-top clearfix">
			<a href=""><%= nickname %></a>
			<span><%= update_time %></span>
		</div>
		<div class="ifo-bottom">
			<%= content %>
		</div>
	</div>
	<div class="parise-right">
		<a target="_blank" href="/#replydetailplay/<%= ask_id %>/<%= target_id %>" class="parise-right-pic">
			<img src="<%= pic_url %>" alt="">
			<i class="pic-icon bg-sprite-rebirth"></i>
		</a>
	</div>
</div>