<div class="praise-contain praise-me clearfix">
	<div class="praise-head">
		<a target="_blank" href="#homepage/reply/<%= uid %>" class="praise-head-pic">
			<img src="<%= avatar %>" alt="">
		</a>
	</div>
	<div class="praise-ifo">
		<div class="ifo-top clearfix">
			<a href=""><%= nickname %></a>
			<span><% var timeMatrixing = time(update_time); %><%= timeMatrixing %></span>
		</div>
		<div class="ifo-bottom">
			<%= desc %>
		</div>
	</div>
	<div class="parise-right">
		<% if(type == 2) { %>
		<a target="_blank" href="/#replydetailplay/<%= id %>/<%= id %>" class="parise-right-pic">
		<% } %>
		<% if(type == 1) { %>
		 <a class="person-show" target="_blank" href="#askdetail/ask/<%= ask_id %>" class="parise-right-pic">
		<% } %>

			<img src="<%= image_url %>" alt="">
			<% if(type == 2) { %>
			<i class="pic-icon bg-sprite-rebirth"></i>
			<% } %>		
			<% if(type == 1) { %>
			<i class="old-icon bg-sprite-rebirth"></i>
			<% } %>
		</a>
	</div>
</div>