.channel-ask {
    width: 880px;
    margin: 30px auto 0 50px;
    float: left;
	.work-content {
		.work-card {
		    width: 260px;
		    float: left;
		    border: 1px solid #d6d5da;
			.header {
			    height: 60px;
				line-height: 60px;
				.avatar {
				    float: left;
				    width: 40px;
				    height: 40px;
				    border-radius: 5px;
				    overflow: hidden;
				    margin: 10px;
					img {
						width: 100%;
					}
				}
				.user-name {
				    font-size: 14px;
				    float: left;
				}
				.follow-btn {
				    float: right;
				    margin: 16px 10px;
				    font-size: 14px;
				    width: 60px;
				    height: 25px;
				    background: #f8d360;
				    color: #fff;
				    border-radius: 2px;
				    text-align: center;
				    line-height: 25px;
				}
			}
			.content {
			    height: 35px;
			    font-size: 16px;
			    line-height: 35px;
			    padding-left: 10px;
			}
			.work-img {
				img {
					width: 100%
				}
			}
			.ask-btn {
			    text-align: center;
			    padding: 20px;
				img {
				}
			}

		}
	}
}
