	<div class="work-content">
		<div class="work-card">
			<div class="header">
				<div class="avatar">
					<img class="imageLoad" data-original="<%= avatar %>" alt="">
				</div>
				<div class="user-name">
					<%= nickname %>
				</div>
				<div class="follow-btn">
					关注
				</div>
			</div>
			<div class="content">
				<%= desc %>
			</div>
			<div class="work-img">
				<img src="<%= image_url %>" alt="">
			</div>
			<div class="ask-btn">
				<img src="/web/img/bangp_gray.png" alt="">
			</div>
		</div>
	</div>
