<div class="channel-ask">
	<div class="work-content">
		<div class="work-card">
			<div class="header">
				<div class="avatar">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				<div class="user-name">
					名字
				</div>
				<div class="follow-btn">
					关注
				</div>
			</div>
			<div class="content">
				作品回答内容
			</div>
			<div class="work-img">
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
			</div>
			<div class="ask-btn">
				<img src="/web/img/bangp_gray.png" alt="">
			</div>
		</div>
	</div>
</div>
