<div class="activity-header clearfix">
	<div class="bg-header">
		<div class="header-content">
			<div class="banner">
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
			</div>
			<div class="activity-title">
				<i class="activity-icon"></i>
				阿斯顿发生法撒旦法士大夫
			</div>
		</div>
	</div>
	<div class="foot clearfix">
		<div class="right-mssage">
			<ul>
				<li>
					<i class="person-icon"></i>
					<span>123</span>
				</li>
				<li>
					<i class="browse-icon"></i>
					<span>123</span>
				</li>
				<li>
					<i class="work-icon"></i>
					<span>123</span>
				</li>
			</ul>
		</div>
		<div class="middle-content">
			活动截止日期: 2016-1-1
		</div>
		<div class="left-button">
			我要参加
		</div>
	</div>
</div>
