<div class="activity-header clearfix">
	<div class="bg-header">
		<img class="shadow" src="<%= pc_pic %>" alt="">
		<div class="header-content">
			<div class="banner">
				<img src="<%= pc_pic %>" alt="">
			</div>
			<div class="activity-title">
				<i class="activity-icon"></i>
				<%= display_name %>
			</div>
		</div>
	</div>
	<div class="foot clearfix">
		<div class="right-mssage">
			<ul>
				<li>
					<i class="person-icon"></i>
					<span><%= click_count %></span>
				</li>
				<li>
					<i class="browse-icon"></i>
					<span><%= download_count %></span>
				</li>
				<li>
					<i class="work-icon"></i>
					<span><%= replies_count %></span>
				</li>
			</ul>
		</div>
		<div class="middle-content">
			活动截止日期: <%= end_time %>
		</div>
		<div class="left-button">
			我要参加
		</div>
	</div>
</div>
