<div class="search-user">
	<span class="avatar">
		<a target="_blank" href="#homepage/reply/<%= uid %>"><img src="<%= avatar %>" alt=""></a>
	</span>
	<span class="person-message">
		<a target="_blank" href="#homepage/reply/<%= uid %>" class="clearfix">
			<span class="name"><%= nickname %></span>
            <% if (is_star) { %>
        		<i class="bg-sprite-rebirth small-v-icon"></i>
            <% } %>
		</a>
		<ul>
			<li class=""><%= reply_count %>作品</li>
			<li class=""><%= fans_count %>粉丝</li>
			<li class=""><%= uped_count %>获赞</li>
		</ul>
	</span>
		<% 
			var own_uid = $('.user-message').attr('data-id'); 
		    if( own_uid != uid ) {
	    %>
			<% if ( is_follow && is_fan ){ %> 
			<div class="attention-btn" data-id="<%= uid %>">互相关注</div>
			<% } else if( is_follow ){ %>
			<div class="attention-btn" data-id="<%= uid %>">已关注</div>
			<% } else if( is_fan ){ %>
			<div class="attention-btn" data-id="<%= uid %>">互相关注</div>
			<div class="attention-btn attention-btn-pressed" data-id="<%= uid %>">+关注</div>
			<% } else { %>
			<span class="attention-btn" data-id="<%= uid %>">已关注</span>
			<span id="attention" class="attention-btn attention-btn-pressed" data-id="<%= uid %>">+关注</span>
			<% } %>
		<% } %>
</div>

