<div class="message-detail">
    <a href="home.html#home/ask/<%= sender %>">
        <span class="head">
            <img src="<%= avatar %>" alt="">
        </span>
    </a>
    <span class="message-person">
        <a href="home.html#home/ask/<%= sender %>">
            <span class="name"><%= nickname %></span>
        </a>
        <span class="time"><% var timeMatrixing = time(update_time); %><%= timeMatrixing %></span>
    </span>
    <p class="message-content">
        <%= content %>
    </p>
    <span class="picture">
        <% if(pic_url) {%>
            <% if( type == 1 ) { %>
                <% if (thread.ask_id != thread.id) { %>
                <a target="_blank" href="/#show/<%= thread.ask_id %>/<%= thread.id %>">
                <% } else { %>
                <a target="_blank" href="/#comment/ask/<%= thread.ask_id %>">
                <% } %>
                    <img src="<%= pic_url %>" alt="">
                </a>
            <% } else if(type == 2) { %> 
            <a target="_blank" href="/#show/<%= ask_id %>/<%= reply_id %>">
                    <img src="<%= pic_url %>" alt="">
                </a>
            <% } else { %> 
                <img src="<%= pic_url %>" alt="">
            <% } %>
        <% } %>
    </span>
<!--     <div class="call-back">
        <span class="call-back-content">
            <span class="call-back-comment">回复了我的评论:</span>
            <span class="comment-content">这个非常好 非常不错</span>

           <div class="photo-item-reply">
                <div class="photo-item-reply-work">
                    <i class="bookmark">原图</i>
                    <img src="<%= pic_url %>">
                </div>
            </div>
            <div class="clear"></div>
        </span>
        <span class="reply-comment">回复</span>
    </div> -->
</div>
