<link rel="stylesheet" href="/main/css/message.css" type="text/css">
<div class="message-container">
	<div class="message">
		<div class="message-title">
			消息
		</div>
		<div class="comment-nav">
				<i class="comment-icon bg-sprite-new"></i>
				<span class="comment">评论</span>
			</div>
		<div class="paste-nav">
			<i class="paste-icon bg-sprite-new"></i>
			<span class="paste">帖子回复</span>
		</div>
		<div class="attenion-nav">
			<i class="attention-icon bg-sprite-new"></i>
			<span class="attenion">关注通知</span>
		</div>
		<div class="system-nav">
			<i class="system-icon bg-sprite-new"></i>
			<span class="system">系统消息</span>
		</div>
	</div>
	<div class="message-section">
		<div class="title">
			评论
		</div>
		<div class="message-detail">
			<span class="head">
				<img src="/main/img/2.png" alt="">
			</span>
			<span class="message-person">
				<span class="name">刘金平</span>
				<span class="time">1小时</span>
			</span>
			<span class="message-content">
				怎么样孩子
			</span>
			<span class="picture">
				<img src="/main/img/2.png" alt="">
			</span>
		</div>
	</div>
</div>
