<div class="message-detail">
    <a href="#home/<%= sender %>">
        <span class="head">
            <img src="<%= avatar %>" alt="">
        </span>
    </a>
    <span class="message-person">
        <a href="#home/<%= sender %>">
            <span class="name"><%= nickname %></span>
        </a>
        <span class="time"><%= update_time %></span>
    </span>
    <span class="message-content">
        <%= content %>
    </span>
    <span class="picture">
        <img src="<%= pic_url %>" alt="">
    </span>
</div>
