.index-starHeader {
    width: 1096px;
    margin: 20px auto 0;
	.star-nav {
	    height: 85px;
	    line-height: 85px;
		.star {
		    font-size: 20px;
			color: #b9b8be;
			margin-left: 10px;
		    text-align: center;

		}
	}
}
