<div class="my-make">
	<div class="pic-box  swiper-container men-box">
		<ul class="men-god clearfix swiper-wrapper">
			<li class="swiper-slide next"><img class="main-img" src="/images/huge.png" alt=""></li>
			<li class="swiper-slide"><img class="main-img" src="/images/liyifeng.png" alt=""></li>
			<li class="swiper-slide"><img class="main-img" src="/images/songzhongji.png" alt=""></li>
			<li class="swiper-slide"><img class="main-img" src="/images/wangjunkai.png" alt=""></li>
			<li class="swiper-slide"><img class="main-img" src="/images/wangyuan.png" alt=""></li>
			<li class="swiper-slide"><img class="main-img" src="/images/wuyifan.png" alt=""></li>
			<li class="swiper-slide prev"><img class="main-img" src="/images/yiyangqianxi.png" alt=""></li>
		</ul>
	</div>

	<ul class="designer-name clearfix">
		<li><img src="/images/design.png" alt=""></li>
		<li><img src="/images/design.png" alt=""></li>
		<li><img src="/images/design.png" alt=""></li>
	</ul>	

	<ul class="designer-pic clearfix">
		<li><img src="/images/huge_little.png" alt=""></li>
		<li><img src="/images/wangyuan.png" alt=""></li>
		<li><img src="/images/wangyuan.png" alt=""></li>
		<li><img src="/images/wangyuan.png" alt=""></li>
	</ul>	

	<ul class="designer-effect clearfix">
		<li><img src="/images/btn_a.png" alt=""></li>
		<li><img src="/images/btn_b.png" alt=""></li>
		<li><img src="/images/btn_c.png" alt=""></li>
		<li><img src="/images/btn_d.png" alt=""></li>
	</ul>

	<ul class="receive-user clearfix">
		<li><img src="/images/user.png" alt=""></li>
		<li><img src="/images/user.png" alt=""></li>
		<li><img src="/images/user.png" alt=""></li>
		<li><img src="/images/user.png" alt=""></li>
		<li><img src="/images/user.png" alt=""></li>
		<li><img src="/images/user.png" alt=""></li>
	</ul>

	<div class="want-mank">
		<img src="/images/girl.png" alt="">
	</div>
</div>