<span>©2015图派</span>
<div class="footer-coding"><a target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备15019015号-1</a></div>

<div class="hide">
    <!-- 查看图片详情弹窗 -->
    <a id="show-error-popup" href="#error-popup"></a>
    <div class="error" id="error-popup">
        <span class="title">提示</span>   
        <span class="error-content"></span>
        <div class="actionbar-btn">
            <span class="cancel">取消</span>
            <span class="confirm">确定</span>
        </div>
    </div>
    

    <a id="show-toast-popup" href="#toast-popup"></a>
    <div class="toast" id="toast-popup">
        <span class="error-content"></span>
    </div>

    <!-- 上传弹窗  -->
    <!-- uploading-production -->
    <div class="upload-work-modal" id="ask-uploading-popup">
        <span class="upload-header">我要求P</span>
        <div class="upload-main clearfix">
            <span class="upload-case">
                <img class="show-picture opacity" src=" " alt="作品图品">
                <div class="upload-middle">
                    <span class="upload-icon bg-sprite-new">
                        <input id="upload_picture" type="file" accept="image/gif, image/jpeg" class="" >
                        <input type="hidden" name="show-picture">
                        <span class="upload-remind">上传原图</span>
                    </span>
                </div>
            </span>
            <em></em>
                <span class="ask-description">
                    <span class="expression" >
                        <i class="ask-expression-btn expression-icon bg-sprite-new"></i>
                    </span>   
                    <textarea maxlength="101" id="ask-content-textarea" name="ask-content-textarea" class="ask-content" type="text" placeholder="求P描述得更清楚点,大神们可能会更愿意BANG你哦~~"></textarea>   
                </span>
                <div class="new-label">
                    <div id="tagGroup"></div>
                    <i>（选择一个标签噢）</i>
                </div>
        </div>
        <div class="upload-accomplish right disable">
            发布求P
        </div>
    </div>
    <!-- 上传作品 -->
    <div class="upload-refuse-modal" id="refuse-uploading-popup" ask-id="">
<div class="reject-box">
   <h2 class="title">请选择拒绝原因</h2>
   <div class="container">
     <div class="check-item" >
       <input type="checkbox" class='checkbox'>
       原图质量过低
     </div>
     <div class="check-item">
       <input type="checkbox" class='checkbox'>
       求P要求过高，无法完成
     </div>
     <div class="check-item">
       <input type="checkbox" class='checkbox'>
       求P描述不明确
     </div>
     <div class="check-item">
       <input type="checkbox" class='checkbox'>
       对此求P不敢兴趣
     </div>
     <div class="order-item">
       其他原因：
       <input type="text" class="order-input">
     </div>
     <input type="submit" value="提交" class="reject-submit">
     
   </div>
</div>
    </div>

    <!-- 上传作品 -->
    <div class="upload-work-modal" id="reply-uploading-popup" ask-id="">
        <span class="upload-header">发布作品_填写作品描述</span>
        <div class="upload-main">
            <span class="upload-case">
                <img class="show-picture opacity" src=" " alt="作品图品">
                <div class="upload-middle">
                    <span class="upload-icon bg-sprite-new">
                        <input id="upload_picture-reply" type="file" accept="image/gif, image/jpeg" class="" >
                        <input type="hidden" name="show-picture">
                        <span class="upload-remind">上传作品</span>
                    </span>
                </div>
            </span>
            <em class="division-line"></em>
                <span class="reply-description">
                    <span class="expression" >
                        <i class="reply-expression-btn expression-icon bg-sprite-new"></i>
                    </span>   
                    <textarea id="reply-content-textarea" name="reply-content-textarea" class="reply-content" type="text" placeholder="#作品有话说#  添加描述，让作品更有生命力~"></textarea>
                    <span class="bookmark"><i class="bookmark-icon">原图</i></span>
                    <span id="ask_image" class="ask-image">
                        <img  src="" alt="">
                    </span>
                </span>
        </div>
        <div class="upload-accomplish right disable">
            发布作品
        </div>
    </div>

    <!-- 上传作品 -->
    <div class="upload-popup" id="inprogress-popup" style="min-width: 700px">
        <div class="inprogress-container">
            <div class="inprogress-head">
                    发布作品_选择对应的帮P内容
            </div>
            <div class="inprogress-section">
                <div id="InprogressItemView"></div>
            </div>
        </div>
    </div>
    <!-- 空页面 -->
    <div class="emptyContentView">
        <span class="remind-content">
            <i class="empty-icon bg-sprite-new"></i>
            <p class="empty-content">这页面没有任何内容哦!</p>
        </span>
    </div>
</div>
<script>
    $(function() {
        $('.ask-expression-btn').emojiSelector({
            assign: 'ask-content-textarea',
            path: '/res/lib/face-selector/face/'
        });

        $('.reply-expression-btn').emojiSelector({
            assign: 'reply-content-textarea',
            path: '/res/lib/face-selector/face/'
        });
    });

    //百度统计
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?9415cc640f8eb9775c3298cd6822119b";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
