/* 重置样式 [[*/
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu,
article,
pre,
figure,
figcaption {
  margin: 0;
  padding: 0;
  color: #515151;
  font-family: "Microsoft YaHei";
}
pre {
  white-space: normal;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
select {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
label {
  font-size: 100%;
  font-weight: 100;
  vertical-align: middle;
}
ul,
dl,
ol {
  list-style: none;
}
img,
fieldset,
input[type="submit"] {
  border: none;
}
input {
  outline: none;
  background: transparent;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
  border: none;
}
textarea {
  word-wrap: break-word;
  resize: none;
}
i {
  display: inline-block;
  font-style: normal;
}
/* 去除IE下拉菜单箭头 */
select::-ms-expand {
  display: none;
}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check {
  display: none;
}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input,
textarea,
select {
  border: none;
  outline: none;
}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder {
  color: #B2B2B2;
}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,
button,
input {
  -webkit-touch-callout: none;
  outline: none;
}
a,
a:visited {
  text-decoration: none;
  -webkit-touch-callout: none;
}
/* 重置样式 ]]*/
/* 设置webkit内核下文字大小不小于12px */
html,
body {
  -webkit-text-size-adjust: none;
  height: 100%;
}
* {
  font-size: 12px;
}
.flex {
  display: -webkit-box;
  /* android 2.1-3.0, ios 3.2-4.3 */
  display: -webkit-flex;
  /* Chrome 21+ */
  display: -ms-flexbox;
  /* WP IE 10 */
  display: flex;
  /* android 4.4 */
}
.flex-1 {
  -webkit-box-flex: 1;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex: 1;
  /* Chrome 21+ */
  -ms-flex: 1;
  /* WP IE 10 */
  flex: 1;
  /* android 4.4 */
}
.flex-2 {
  -webkit-box-flex: 2;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex: 2;
  /* Chrome 21+ */
  -ms-flex: 2;
  /* WP IE 10 */
  flex: 2;
  /* android 4.4 */
}
.flex-3 {
  -webkit-box-flex: 3;
  /* android 3.1-3.0, ios 3.3-4.3 */
  -webkit-flex: 3;
  /* Chrome 31+ */
  -ms-flex: 3;
  /* WP IE 10 */
  flex: 3;
  /* android 4.4 */
}
body {
  padding-bottom: 50%;
}
.share-reply-container {
  margin-bottom: 300px;
}
.share-reply-container .reply-content {
  padding: 33px 46px 0 36px;
  padding-bottom: 50%;
}
.share-reply-container .header-section {
  margin-bottom: 14px;
}
.share-reply-container .header-section .header-portrait {
  display: inline-block;
}
.share-reply-container .header-section .header-portrait .max-block {
  display: none;
}
.share-reply-container .header-section .header-portrait img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.share-reply-container .header-section .personage-message {
  display: inline-block;
  height: 32px;
  margin-left: 5px;
  vertical-align: top;
  line-height: 34px;
}
.share-reply-container .header-section .personage-message .name {
  display: block;
  font-size: 14px;
  color: #4A4A4A;
}
.share-reply-container .picture {
  position: relative;
}
.share-reply-container .picture .max-block {
  display: none;
}
.share-reply-container .picture img {
  width: 100%;
}
.share-reply-container .picture .reply-picture {
  position: absolute;
  bottom: -25px;
  right: -30px;
  width: 105px;
  height: 105px;
  -webkit-box-shadow: 0 0 5px -2px #000000;
  -moz-box-shadow: 0 0 5px -2px #000000;
  box-shadow: 0 0 5px -2px #000000;
  background-color: #fff;
}
.share-reply-container .picture .reply-picture span {
  overflow: hidden;
  line-height: 93px;
  display: inline-block;
  width: 93px;
  height: 93px;
  position: absolute;
  top: 6px;
  left: 6px;
}
.share-reply-container .picture .reply-picture span .max-block {
  display: none;
}
.share-reply-container .picture .reply-picture span .bookmark {
  width: 37px;
  height: 23px;
  line-height: 23px;
  color: #50484B;
  background: #FFEF00;
  transform: scale(0.7);
  font-size: 14px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: -4px;
  left: -7px;
}
.share-reply-container .picture .reply-picture span img {
  width: 100%;
  vertical-align: middle;
}
.share-reply-container .footer-reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #E1E1E1;
  background: #F3F3F3;
}
.share-reply-container .footer-reply .tupai-description {
  padding: 17px 20px;
  position: relative;
  height: 65px;
}
.share-reply-container .footer-reply .tupai-description .code-remind {
  opacity: 0.8;
  color: #010101;
  font-size: 13px;
}
.share-reply-container .footer-reply .tupai-description .code-remind span {
  display: block;
  position: absolute;
  width: 200px;
  text-align: right;
}
.share-reply-container .footer-reply .tupai-description .code-remind .remind-content-1 {
  top: 46px;
  right: 97px;
}
.share-reply-container .footer-reply .tupai-description .code-remind .remind-content-2 {
  top: 70px;
  right: 97px;
}
.share-reply-container .footer-reply .tupai-description .code-picture {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 17px;
}
.share-reply-container .footer-reply .tupai-description .code-picture .max-block {
  display: none;
}
.share-reply-container .footer-reply .tupai-description .code-picture img {
  width: 70px;
  height: 70px;
}
.share-reply-container .footer-reply .share-for-tupai {
  position: absolute;
  top: 23px;
  right: 97px;
  font-size: 13px;
}
.share-reply-container .footer-reply .share-for-tupai .tupai-icon img {
  width: 15px;
  height: 15px;
}
