/* 重置样式 [[*/
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu,
article,
pre,
figure,
figcaption {
  margin: 0;
  padding: 0;
  color: #515151;
  font-family: "Microsoft YaHei";
}
pre {
  white-space: normal;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
select {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
label {
  font-size: 100%;
  font-weight: 100;
  vertical-align: middle;
}
ul,
dl,
ol {
  list-style: none;
}
img,
fieldset,
input[type="submit"] {
  border: none;
}
input {
  outline: none;
  background: transparent;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
  border: none;
}
textarea {
  word-wrap: break-word;
  resize: none;
}
i {
  display: inline-block;
  font-style: normal;
}
/* 去除IE下拉菜单箭头 */
select::-ms-expand {
  display: none;
}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check {
  display: none;
}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input,
textarea,
select {
  border: none;
  outline: none;
}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder {
  color: #B2B2B2;
}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,
button,
input {
  -webkit-touch-callout: none;
  outline: none;
}
a,
a:visited {
  text-decoration: none;
  -webkit-touch-callout: none;
}
/* 重置样式 ]]*/
/* 设置webkit内核下文字大小不小于12px */
html,
body {
  -webkit-text-size-adjust: none;
  height: 100%;
}
* {
  font-size: 12px;
}
.flex {
  display: -webkit-box;
  /* android 2.1-3.0, ios 3.2-4.3 */
  display: -webkit-flex;
  /* Chrome 21+ */
  display: -ms-flexbox;
  /* WP IE 10 */
  display: flex;
  /* android 4.4 */
}
.flex-1 {
  -webkit-box-flex: 1;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex: 1;
  /* Chrome 21+ */
  -ms-flex: 1;
  /* WP IE 10 */
  flex: 1;
  /* android 4.4 */
}
.flex-2 {
  -webkit-box-flex: 2;
  /* android 2.1-3.0, ios 3.2-4.3 */
  -webkit-flex: 2;
  /* Chrome 21+ */
  -ms-flex: 2;
  /* WP IE 10 */
  flex: 2;
  /* android 4.4 */
}
.flex-3 {
  -webkit-box-flex: 3;
  /* android 3.1-3.0, ios 3.3-4.3 */
  -webkit-flex: 3;
  /* Chrome 31+ */
  -ms-flex: 3;
  /* WP IE 10 */
  flex: 3;
  /* android 4.4 */
}
.design-btn {
  width: 100px;
  height: 100px;
}
.hide {
  display: none;
}
/*register dialog*/
.register-dialog {
  margin-top: 122px;
  position: relative;
    width: 400px;
    height: 350px;
    border-radius: 5px;
    padding: 30px 30px;
    position: absolute;
    background: #fff;
    left: 50%;
    margin-left: -230px;
    box-shadow: 0px 1px 20px 2px #444;
    -moz-box-shadow: 0px 1px 20px 2px #444;
    -webkit-box-shadow: 0px 1px 20px 2px #444;
    z-index: 999;
}
.register-dialog .register-panel {
  text-align: left;
  width: 360px;
  margin: 0 auto;
}
.register-dialog .register-panel .or {
  color: #919191;
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
}
.register-dialog .register-panel .weibo-login-btn {
  background-color: #FE8282;
  text-align: center;
  width: 360px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.register-dialog .register-panel .weibo-login-btn .weibo-icon {
  display: inline-block;
  width: 22px;
  height: 20px;
  background-position: -182px -307px;
  vertical-align: text-bottom;
}
.register-dialog .register-panel .weibo-login-btn em {
  color: #fff;
  font-size: 12px;
}
.register-dialog .register-panel .login-header {
  color: #4A4A4A;
  position: relative;
}
.register-dialog .register-panel .login-header .login-title {
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  color: #4A4A4A;
}
.register-dialog .register-panel .login-header .login-line-between {
  border-right: 1px solid #C1CBD5;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
.register-dialog .register-panel .login-header .register-title {
  display: inline-block;
  color: #4A4A4A;
  font-size: 18px;
  padding-left: 15px;
  font-weight: 900;
}
.register-dialog .register-panel input:focus {
  border: 1px solid #75C5FF;
}
.register-dialog .register-panel input {
  outline: none;
  width: 343px;
  height: 38px;
  border-radius: 2px;
  border: 1px solid #f1f2f3;
  padding-left: 15px;
  line-height: 30px;
  line-height: 30px\9;
  *line-height: 30px;
  _line-height: 30px;
}
.register-dialog .register-panel .register-nickname {
  position: relative;
  margin-top: 30px;
}
.register-dialog .register-panel .option-sex {
  display: none;
  margin-top: 18px;
  color: #4A4A4A;
  font-size: 14px;
}

.register-dialog .register-panel .option-sex input {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-left: 15px;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  border: none;
  -webkit-touch-callout: none;
}
.register-dialog .register-panel .option-sex .option-boy {
  display: inline-block;
}
.register-dialog .register-panel .option-sex .option-boy .boy-option {
  background-position: -6px -797px;
}
.register-dialog .register-panel .option-sex .option-boy .boy-pressed {
  background-position: -129px -722px;
}
.register-dialog .register-panel .option-sex .option-girl {
  display: inline-block;
}
.register-dialog .register-panel .option-sex .option-girl .girl-option {
  background-position: -6px -823px;
}
.register-dialog .register-panel .option-sex .option-girl .girl-pressed {
  background-position: -130px -699px;
}
.register-dialog .register-panel .register-phone {
  margin-top: 10px;
  position: relative;
}
.register-dialog .register-panel .verification-code {
  margin-top: 10px;
  position: relative;
  width: 358px;
}
.H5FullscreenPage .arrow  {
  transform: rotate(223deg);
    -ms-transform: rotate(223deg);
    -moz-transform: rotate(223deg);
    -webkit-transform: rotate(223deg);
    -o-transform: rotate(223deg);
}
.register-dialog .register-panel .verification-code .send-verification-code {
  font-size: 12px;
  display: inline-block;
  width: 80px;
  height: 24px;
  color: white;
  padding-left: 0;
  background-color: #9B9B9B;
  text-align: center;
  border-radius: 20px;
  line-height: 21px;
  position: absolute;
  top: 6px;
  right: 0px;
  cursor: pointer;
}
.register-dialog .register-panel .verification-code .again-verification-code {
  font-size: 12px;
  display: inline-block;
  width: 80px;
  height: 24px;
  color: white;
  background-color: #000000;
  text-align: center;
  border-radius: 20px;
  line-height: 24px;
  position: absolute;
  top: 7px;
  right: 0px;
  display: none;
}
.register-dialog .register-panel .register-password {
  margin-top: 10px;
  position: relative;
}
.register-dialog .register-panel .agree-deal {
  margin-top: 10px;
}
.register-dialog .register-panel .agree-deal input {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.register-dialog .register-panel .agree-deal span {
  display: inline-block;
  font-size: 12px;
  color: #4A4A4A;
}
.register-dialog .register-panel .register-btn {
  background-color: #EBEBEB;
  text-align: center;
  width: 360px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  color: #5C5C5C;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
  padding: 0;
}
body {
  contenteditable=false;
}
.login-clone {
    background: url('../css/fancybox/fancybox_sprite@2x.png');
    background-size: 44px 152px;
    display: inline-block;
    width: 37px;
    height: 36px;
    right: -18px;
    position: absolute;
    top: -11px;
    cursor: pointer;
}
  @media screen and (min-width:630px){
        .toast {
            background-color: rgba(0,0,0,0.7);
            color: #fff;
            width: 330px;
            height: 30px;
            position: absolute;
            top: 1650px;
            left: 50%;
            margin-left: -165px;
            margin-top: -10px;
            z-index: 999;
            font-size: 16px;
            line-height: 30px;
            border-radius: 5px;
            opacity: 0;
        }
        .loginview.middle {
            background-color: rgba(0,0,0,0.7);
            color: #fff;
            width: 220px;
            height: 30px;
            position: absolute;
            top: 1664px;
            left: 50%;
            margin-left: -110px;
            margin-top: -10px;
            font-size: 16px;
            line-height: 30px;
            border-radius: 20px;
            opacity: 0;
            z-index: 99999;

        }
        .design-btn.middle {
          width: 200px;
          height: 100px;
          position: absolute;
          top: 600px;
          cursor: pointer;
          margin-left: -100px;
      -webkit-tap-highlight-color: rgba(255,255,255,0);
          left: 50%;
        }
        .design-btn.bottom {
          
      -webkit-tap-highlight-color: rgba(255,255,255,0);

            width: 200px;
            height: 100px;
            position: absolute;
            bottom: 14px;
            right: 51px;
            cursor: pointer;
        }
        .activity-pic {
          position: relative;
        }
        .activity-pic img {
            display: flex;
        }
    .activity-container {
        width: 640px !important;
      margin: 0 auto;
    }
  }
    @media screen and (max-width:630px){
      .activity-pic {
        position: relative;
      }
      .activity-pic img {
        width: 100%;
        height: auto;
        display: flex;
      }
      .activity-pic-1 {
      }
      .activity-pic-1  img {
          width: 100%;
        }
        .activity-pic-2 img {
          width: 100%;
          
        }
      .activity-pic-3  img {
          width: 100%;
          
        }
      .toast {
            background-color: rgba(0,0,0,0.7);
            color: #fff;
            width: 330px;
            height: 30px;
            position: absolute;
            top: 1450px;
            left: 50%;
            margin-left: -165px;
            margin-top: -10px;
            z-index: 999;
            font-size: 16px;
            line-height: 30px;
            border-radius: 5px;
            opacity: 0;
        }
        .loginview.middle {
            background-color: rgba(0,0,0,0.7);
            color: #fff;
            width: 220px;
            height: 30px;
            position: absolute;
            top: 1464px;
            left: 50%;
            margin-left: -110px;
            margin-top: -10px;
            font-size: 16px;
            line-height: 30px;
            border-radius: 20px;
            opacity: 0;
            z-index: 99999;

        }
        .design-btn.middle {
          width: 200px;
          height: 100px;
          position: absolute;
          top: 600px;
          cursor: pointer;
          margin-left: -100px;
          left: 50%;
      -webkit-tap-highlight-color: rgba(255,255,255,0);

          line-height: normal;
        }
        .design-btn.bottom {
          
      -webkit-tap-highlight-color: rgba(255,255,255,0);
            width: 200px;
            height: 100px;
            position: absolute;
            bottom: 14px;
            right: 51px;
            cursor: pointer;
          line-height: normal;
        }

        .design-btn.middle {
          line-height: normal;
            position: absolute;
      -webkit-tap-highlight-color: rgba(255,255,255,0);

            top: 58%;
            left: 47%;
            width: 100px;
            height: 200px;
            margin-top: -50px;
            margin-left: -50px;
        }
        .design-btn.bottom {
            position: absolute;
          line-height: normal;
            bottom: 0;
      -webkit-tap-highlight-color: rgba(255,255,255,0);

            right: 0;
            width: 200px;
            height: 50px;
        }
  }
    html, body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: arial;
        text-align: center;
    }
    
    * {
        margin:0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    .item {
        position: relative;
    }
    .item img {
        width: 100%;
        height: auto;
        display: flex;
    }
/* register style */
.login-dialog {
      margin-top: 100px;
    position: relative;
    width: 400px;
        margin-left: -230px;
    height: 300px;
    border-radius: 5px;
    padding: 15px 30px;
    position: absolute;
    background: #fff;
    left: 50%;
    box-shadow: 0px 1px 20px 2px #444;
    -moz-box-shadow: 0px 1px 20px 2px #444;
    -webkit-box-shadow: 0px 1px 20px 2px #444;
    z-index: 999;

}
.login-dialog .login-panel {

  text-align: left;
  width: 360px;
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
}
.login-dialog .login-panel .login-header {
  color: #4A4A4A;
  position: relative;
}
.login-dialog .login-panel .login-header .login-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  padding-right: 15px;
  color: #4A4A4A;
}
.login-dialog .login-panel .login-header .login-line-between {
  border-right: 1px solid #C1CBD5;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
.login-dialog .login-panel .login-header .register-title {
  display: inline-block;
  color: #4A4A4A;
  font-size: 14px;
  padding-left: 15px;
}
.login-dialog .login-panel input:focus {
  border: 1px solid #75C5FF;
}
.login-dialog .login-panel input {
  outline: none;
  width: 343px;
  height: 38px;
  border-radius: 2px;
  border: 1px solid #f1f2f3;
  padding-left: 15px;
  line-height: 30px;
  line-height: 30px\9;
  *line-height: 30px;
  _line-height: 30px;
}
.login-dialog .login-panel .login-name {
  margin-top: 35px;
  position: relative;
}
.login-dialog .login-panel .login-password {
  margin-top: 15px;
  position: relative;
}
.login-dialog .login-panel .bg-color input {
  background: #f1f2f3;
}
.login-dialog .login-panel .forget-password {
  text-align: right;
  color: #9B9B9B;
  font-size: 12px;
  margin-top: 10px;
}
.login-dialog .login-panel .login-btn {
  width: 360px;
  height: 35px;
  color: #4A4A4A;
  background-color: #EBEBEB;
  text-align: center;
  line-height: 35px;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
  padding: 0;
}
.login-dialog .login-panel .line-or {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #9B9B9B;
  border-top: 1px solid #C1C1C1;
  margin-bottom: 20px;
  position: relative;
}
.login-dialog .login-panel .line-or .social {
  position: relative;
  top: -10px;
  background: #fff;
  width: 100px;
  margin: 0 auto;
}
.login-dialog .login-panel .line-or .icon-container {
  margin-top: 10px;
}
.login-dialog .login-panel .line-or .weibo-icon {
  background-position: -183px -277px;
}
.login-dialog .login-panel .line-or .weixin-icon {
  background-position: -143px -277px;
}
.login-dialog .login-panel .line-or .QQ-icon {
  background-position: -103px -277px;
}
.login-dialog .login-panel .line-or i {
  display: inline-block;
  width: 22px;
  height: 20px;
  vertical-align: text-top;
  margin: 0 20px;
}
.login-title, .register-title {
    display: inline-block;
    font-size: 18px;
    padding-right: 15px;
    color: #4A4A4A;
        font-family: 'Microsoft Yahei';
}