<div class="work-details clearfix">
	<div class="reply-pic clearfix">
		<div class="big-pic clearfix">
			<div class="bic-pica">
				<img class="main-pic" src="http://7u2spr.com1.z0.glb.clouddn.com/20151029-1421385631baf2690d2.jpg?imageView2/2/w/720	">
				<span class="bg-sprite-new reply-left reply-btn" id="reply-left"></span>
				<span class="bg-sprite-new reply-right reply-btn" id="reply-right"></span>
			</div>
			
			<div class="reply-content clearfix">
				<div class="user-information">
					<a href="">
						<var>
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151027-170416562f3e10814ee.jpg?imageView2/2/w/480">
						</var>
						<span>Miemie黄</span>
						<em>2小时前</em>
					</a>
				</div>
				<p class="message">可以转成油画吗</p>
				
				<div class="other-works">
					<div class="original">
						<span>原图</span>
						<em>
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151027-170416562f3e10814ee.jpg?imageView2/2/w/480">
						</em>
					</div>
					<span>其他作品</span>
					<div class="other-pic clearfix" otherNum=0>
						<span>
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151029-1421385631baf2690d2.jpg?imageView2/2/w/720" class="img-change" id="other-pho">
						</span>
						<span>
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151030-173440563339b041a59.jpg?imageView2/2/w/720" id="other-pho">
						</span>
						<span>
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151027-170416562f3e10814ee.jpg?imageView2/2/w/480" id="other-pho">
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="reply-praise clearfix">
			<span class="like">
				<var class="bg-sprite-new like_toggle like-icon likedtog"></var>
				<i class="like-count">123</i>
			</span>
			<em>
				<var class="bg-sprite-new"></var>
				<i>BANG</i>
			</em>
		</div>
		<div class="written-content" id="replyCommentView"></div>
	</div>
</div>


