<div class="work-details">
	<div class="reply-pic clearfix">
		<div class="big-pic">
			<a href="">
				<img src="">
			</a>
			<span></span>
			<em></em>
		</div>
		<div class="reply-praise">
			<span>123</span>
			<em>13254</em>
		</div>
		<div class="reply-comment">

		</div>
	</div>
	<div class="reply-content clearfix">
		<div class="user-information">
			<a href="">
				<img src="">
				<span>Miemie黄</span>
				<em>2小时前</em>
			</a>
		</div>
		<p class="message">可以转成油画吗</p>
		<div class="original">
			<span></span>
			<img src="">
		</div>
		<div class="other-works">
			<img src="">
			<img src="">
			<img src="">
		</div>
	</div>

</div>


