<div class="work-details clearfix">
	<div class="reply-pic clearfix">
		<div class="big-pic clearfix">
			<div class="bic-pica">
				<div id="replyImageView"></div>
				<span class="bg-sprite-new reply-left reply-btn" id="reply-left"></span>
				<span class="bg-sprite-new reply-right reply-btn" id="reply-right"></span>
			</div>
			
			<div class="reply-content clearfix">
				<div id="replyPersonView"></div>
				<div class="other-works">
					<div class="original clearfix" originalNum="0">
						<em>原图</em>
						<% _.each(ask.ask_uploads, function(asks) {  %>
						<span class="original-pic person ask-person" data-type="1" data-id="<%= ask.id %>">
						 	<img class="trigger-click comment_data" src="<%= asks.image_url %>"  />
						</span>
						<% }) %>
					</div>
					<span>其他作品</span>
					<div class="works-pic">
						<div class="other-pic clearfix" otherNum="0">
							<% var i = 0; _.each(replies, function(reply,i) { i++ %>
							<span class="reply-trigger pic person reply-person" data-idx="<%= i %>" data-type="2" data-id="<%= reply.id %>"  >
								<img class="other-pho" src="<%= reply.image_url %>" />
							</span>
							<% }) %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="reply-praise clearfix">
			<div id="barView"></div>
			<div class="praise-comment">
				<textarea name="" id="" cols="30" rows="10" id="commentContent" placeholder="发表下评论咯"></textarea>
				<span class="detail-comment clearfix" id="comment_btn" data-id="" data-type="" >评论</span>
			</div>
		</div>
		<div class="written-content" id="replyCommentView"></div>
	</div>
</div>


