<div class="comment-content clearfix">
	<div class="user-ifo">
		<a href="">
			<img src="http://q.qlogo.cn/qqapp/100371282/1537EFBECC3A02109DE69E4CA2EB102A/100">
		</a>
	</div>
	<div class="reply-ifo clearfix">
		<span>是安可大家</span>
		<em>1个小时前</em>
		<p>必要大神排行榜：1.排名 2.大神头像喝姓名 3.等级 4.经验值 5.排名变化 6.关注按钮</p>
	</div>
	<div class="written-reply">
		回复
	</div>
	<div class="reply-inp">
		<input type="input" placeholder="回复 是安可大家:">
		<div class="reply-submit clearfix">
			<em>回复</em>
			<span>取消</span>
		</div>
	</div>
</div>
