<div class="setting-safe clearfix">
	<div class="safe">
		<div class="safe-title">
			账号安全
		</div>
		<div class="safe-section">
			<div class="login-user">
				<div class="user">
					登录账号
				</div>
				<div class="user-input">
					<input type="text">
				</div>
				<div class="Bingding-phone">
					绑定手机号码
				</div>
			</div>
			<div class="user-password">
				<div class="user-pw">
					账号密码
				</div>
				<div class="password">
					<input type="text">
				</div>
				<div class="change-password">
					修改密码
				</div>
			</div>
			<div class="social-user">
				<div class="social-media-user">
					社交账号
				</div>
				<div class="Bingding-user">
					<div class="Bingding-wx">
						<i class="wx-icon"></i>
						绑定微信账号
					</div>
					<div class="Bingding-QQ">
						<i class="qq-icon"></i>
						绑定QQ账号
					</div>
					<div class="Bingding-wb">
						<i class="wb-icon"></i>
						绑定微博账号
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
