<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>图派教程</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/sharecourse.css">

</head>
<body>
	<div class="share-course-content">
		<div class="header">
			<div class="header-box clearfix">
				<a href="sharecourse.html" class="course-p share-channge">详情</a>
				<a href="task.html" class="task-p">作业</a>
			</div>
		</div>
		<div class="course-header clearfix">
			<a href="" class="course-head-left">
				<span><img src="" alt=""></span>
	    		<i class="middle-v-icon blo"></i>
			</a>
			<div class="course-head-right">
				<a href="" class="course-name"><%= nickname %></a>
				<span class="course-name-time">
					<% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
				</span>
			</div>
		</div>

		<div class="course-explain">
			<h2 class="explain-header"><%= title %></h2>
			<p class="explain-p"><%= description %></p>
			<div class="share-course-fun clearfix">
				<div class="task-like task-super-like" data-type="<%= type %>" data-id="<%= id %>" data-love="0">
					<i class="like-icon"></i>
					<span class="like-num like-count <%= (uped)? 'like-color': '' %>"><%= up_count %></span>
				</div>
				<div class="see-num">
					<i class="see-icon"></i>
					<span>111</span>
				</div>
				<div class="other-work blo">
					<i class="other-icon"></i>
					<span>其他作品</span>
				</div>
			</div>
	 
			<div class="course-big-pic">
				<a href=""><img src="" alt=""></a>
			</div>
			<div class="insert blo"></div>
		</div>

		<a class="course-fix">
			<p>点击下载App，查看更多PS图片和教程</p>
			<div class="logo">
				<img src="../img/tulogo.png" alt="">
			</div>
		</a>
	</div>
	<script src="../js/zepto.min.js" type="text/javascript"></script>
	<script src="../js/touch.js" type="text/javascript"></script>
    <script src="../js/swiper.3.1.7.jquery.min.js" type="text/javascript"></script>
    <script src="../js/swiper.animate1.0.2.min.js" type="text/javascript"></script>
    <script src="../js/fx.js" type="text/javascript"></script>
	<script src="../js/moment.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/getVariable.js" type="text/javascript"></script>
	<script src="../js/sharecourse.js" type="text/javascript"></script>
</body>
</html>