<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>图派作业</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/task.css">

</head>
<body>
	<div class="task-content">
		<div class="header">
			<div class="header-box clearfix">
				<a href="sharecourse.html" class="course-p">详情</a>
				<a href="task.html" class="task-p share-channge">作业</a>
			</div>
		</div>
		<div class="task-contain">
			

			<div class="task-header clearfix">
				<a class="task-head-left">
					<span><img src="" alt=""></span>
		    		<i class="middle-v-icon"></i>
				</a>
				<div class="task-head-right">
					<a class="task-name"></a>
					<span class="task-name-time">
					</span>
				</div>
			</div> 
			
			<div class="task-pic-content">
				<div class="task-big-pic">
					<div class="task-work">

						<div class="frosted-glass">
							<img src="" alt="" class="ask-pic">
						</div>
						<img src="" alt="" class="task-ask-pic">
					</div>
				</div>
	<!-- 			<div class="task-artwork" id="aaaa">
					<div class="arwork-pic">
						<%  var i = 0;  _.each(ask_uploads, function(ask,i) { i++; %>
						<% if(i == 1) { %>
						<img src="<%= ask.image_url %>" alt="" width="<%= image_width %>" height="<%= image_height %>" id="aaaa">
							<% } %>
						<% }) %>
					</div>
					<span class="artwork-icon"></span>
				</div> -->
			</div>

			<div class="introduce-fun">
				<p class="introduce"></p>
				<div class="task-fun clearfix">
					<a class="other-work blo">
						<i class="other-icon"></i>
						<span>其他作品</span>
					</a>
					<div class="forward-num">
						<i class="forward-icon"></i>
						<span></span>
					</div>
					<a class="task-comment">
						<i class="comment-icon"></i>
						<span></span>
					</a>
					<div class="task-like task-super-like">
						<i class="like-icon"></i>
						<span class="like-num"></span>
					</div>
				</div>
			</div>
		</div>	
		<div class="course-fix">
			<p>点击下载App，查看更多PS图片和教程</p>
			<div class="logo">
				<img src="/img/tulogo.png" alt="">
			</div>
		</div>
	</div>
	<script src="../js/zepto.min.js" type="text/javascript"></script>
	<script src="../js/touch.js" type="text/javascript"></script>
    <script src="../js/swiper.3.1.7.jquery.min.js" type="text/javascript"></script>
    <script src="../js/swiper.animate1.0.2.min.js" type="text/javascript"></script>
    <script src="../js/fx.js" type="text/javascript"></script>
	<script src="../js/moment.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/getVariable.js" type="text/javascript"></script>
	<script src="../js/task.js" type="text/javascript"></script>
</body>
</html>