<div class="homepage comWidth">
	<div class="homepage-header clearfix">
		<div class="user-info">
			<div class="user-portrait">
				<img class="portrait-img" src="/img/homepage-portrait.png" alt="用户头像">
			</div>
			<span class="user-name">Ariadne</span>
		</div>
		<ul class="operation-list clearfix">
			<li class="list-item myRequest"><a href="javascript:;">我的求P</a></li>
			<li class="list-item myOffer unactive"><a href="javascript:;">我的帮P</a></li>
			<li class="list-item myWork unactive"><a href="javascript:;">我的作品</a></li>
		</ul>
		<span class="setting">
			<i class="icon-setting"></i>
			设置
		</span>
		<i class="icon-toggle-arrow"></i>
	</div>
	<div class="homepage-content comWidth">
		<div class="content-myRequest">
			<div class="content-section">
				<div class="line-break clearfix">
					<div class="break-date">
						<i class="icon-break"></i>
						<span class="date-text">2016-03-09<em>12:00</em></span>
					</div>
					<div class="break-line"></div>
					<div class="delete-button hide">
						<input type="button" value="删除">
					</div>
				</div>
				<div class="content-header clearfix">
					<div class="header-left">
						<span class="header-desc">求把我女票p成范女神</span>
					</div>
					<div class="header-right">
						<input class="header-button offerps" type="button" value="帮P">
						<input class="header-button share" type="button" value="分享">
						<div class="qrcode hide">
							<i class="icon-arrow"></i>
							<div class="icon-qrcode">
								<img src="/img/qrcode.png" alt="二维码" class="qrcode-img">
							</div>
							<span class="qrcode-footer">分享到朋友圈</span>
						</div>
					</div>
				</div>
				<div class="work-zone clearfix">
					<div class="origin-work"><img src="/img/origin-work-1.png"></div>
					<div class="art-work"><img src="/img/art-work-1.png"></div>
				</div>
			</div>
			<div class="content-section">
				<div class="line-break clearfix">
					<div class="break-date">
						<i class="icon-break"></i>
						<span class="date-text">2016-03-09<em>11:00</em></span>
					</div>
					<div class="break-line"></div>
					<div class="delete-button hide">
						<input type="button" value="删除">
					</div>
				</div>
				<div class="content-header clearfix">
					<div class="header-left">
						<span class="header-desc">求把二哈p得可爱点</span>
					</div>
					<div class="header-right">
						<input class="header-button offerps" type="button" value="帮P">
						<input class="header-button share" type="button" value="分享">
						<div class="qrcode hide">
							<i class="icon-arrow"></i>
							<div class="icon-qrcode">
								<img src="/img/qrcode.png" alt="二维码" class="qrcode-img">
							</div>
							<span class="qrcode-footer">分享到朋友圈</span>
						</div>
					</div>
				</div>
				<div class="work-zone clearfix">
					<div class="origin-work">
						<img src="/img/origin-work-2.png">
						<i class="icon-origin"></i>
					</div>
					<div class="art-work"></div>
				</div>
			</div>
		</div>
		<div class="content-myOffer hide">
			<div class="content-section">
				<div class="content-header clearfix">
					<div class="content-header-portrait">
						<img class="header-portrait-img" src="/img/section-portrait-2.png" alt="用户头像">
					</div>
					<ul class="header-info">
						<li class="user-name">猫玖</li>
						<li class="pubdate">1天前</li>
						<li class="ps-desc">请把二哈p成跳舞</li>
					</ul>
					<div class="header-btn-wrapper">
						<input type="button" value="上传作品" class="header-btn upload">
						<input type="button" value="分享" class="header-btn share">
						<div class="qrcode hide">
							<i class="icon-arrow"></i>
							<div class="icon-qrcode">
								<img src="/img/qrcode.png" alt="二维码" class="qrcode-img">
							</div>
							<span class="qrcode-footer">分享到朋友圈</span>
						</div>
					</div>
					<div class="delete-button"><input type="button" value="删除"></div>
					<!-- delete button应为hover时效果 -->
				</div>
				<div class="work-zone clearfix">
					<div class="origin-work">
						<img src="/img/photo-2-origin.png">
						<i class="icon-origin"></i>
					</div>
					<div class="art-work">
						<img src="/img/photo-2-artwork-1.png">
						<i class="icon-myOffer"></i>
					</div>
				</div>
			</div>
			<div class="content-section">
				<div class="content-header clearfix">
					<div class="content-header-portrait">
						<img class="header-portrait-img" src="/img/section-portrait-3.png" alt="用户头像">
					</div>
					<ul class="header-info">
						<li class="user-name">苍井少侠</li>
						<li class="pubdate">1天前</li>
						<li class="ps-desc">请随意p~</li>
					</ul>
					<div class="header-btn-wrapper">
						<input type="button" value="上传作品" class="header-btn upload">
						<input type="button" value="分享" class="header-btn share">
						<div class="qrcode hide">
							<i class="icon-arrow"></i>
							<div class="icon-qrcode">
								<img src="/img/qrcode.png" alt="二维码" class="qrcode-img">
							</div>
							<span class="qrcode-footer">分享到朋友圈</span>
						</div>
					</div>
					<div class="delete-button hide"><input type="button" value="删除"></div>
					<!-- delete button应为mouseover时效果 -->
				</div>
				<div class="work-zone clearfix">
					<div class="origin-work">
						<img src="/img/photo-3-origin.png">
						<i class="icon-origin"></i>
					</div>
					<div class="art-work hide">
						<img src="/img/photo-3-artwork-1.png">
						<i class="icon-myOffer"></i>
					</div>
					<!--此处无帮P图，因此添加了hide类-->
				</div>
			</div>
		</div>
		<div class="content-myWork hide">
			<div class="content-section">
				<div class="line-break clearfix">
					<div class="break-date">
						<i class="icon-break-blue"></i>
						<div class="date-text">2016-03-09</div>
					</div>
					<div class="break-line"></div>
				</div>
				<div class="work-zone clearfix">
					<div class="work-item">
						<div class="work-wrapper">
							<img src="/img/work-item-1.png" alt="用户作品">
							<input class="work-delete-btn" type="button" value="删除">
							<!-- delete-button为hover时效果 -->
						</div>
						<div class="work-detail clearfix">
							<span class="pubtime">12:00</span>
							<span class="communicate">
								<span class="comment">
									<i class="icon-comment-small"></i>
									<span class="comment-text-small">6</span>
								</span>
								<span class="like">
									<i class="icon-like-small"></i>
									<span class="like-text-small">233</span>
								</span>
							</span>
						</div>
					</div>
					<div class="work-item">
						<div class="work-wrapper">
							<img src="/img/work-item-2.png" alt="用户作品">
							<input class="work-delete-btn hide" type="button" value="删除">
							<!-- delete-button为hover时效果 -->
						</div>
						<div class="work-detail clearfix">
							<span class="pubtime">11:30</span>
							<span class="communicate">
								<span class="comment">
									<i class="icon-comment-small"></i>
									<span class="comment-text-small">6</span>
								</span>
								<span class="like">
									<i class="icon-like-small"></i>
									<span class="like-text-small">233</span>
								</span>
							</span>
						</div>
					</div>
					<div class="work-item">
						<div class="work-wrapper">
							<img src="/img/work-item-3.png" alt="用户作品">
							<input class="work-delete-btn hide" type="button" value="删除">
							<!-- delete-button为hover时效果 -->
						</div>
						<div class="work-detail clearfix">
							<span class="pubtime">10:30</span>
							<span class="communicate">
								<span class="comment">
									<i class="icon-comment-small"></i>
									<span class="comment-text-small">6</span>
								</span>
								<span class="like">
									<i class="icon-like-small"></i>
									<span class="like-text-small">233</span>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>