.ask-container {
  width: 1270px;
  margin: 0 auto;
}
.ask-container .ask-main {
  display: inline-block;
  margin: 5px 8px;
  width: 300px;
  position: relative;
  vertical-align: top;
}
.ask-container .ask-main .ask-picture {
  width: 100%;
  display: inline-block;
}
.ask-container .ask-main .ask-picture img {
  width: 100%;
}
.ask-container .ask-main .person-message {
  color: #fff;
  background: url('/main/img/backShadow.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 4px;
  height: 45px;
  display: inline-block;
  width: 100%;
  left: 0px;
}
.ask-container .ask-main .person-message li {
  display: inline-block;
  font-size: 12px;
}
.ask-container .ask-main .person-message .avatar {
  width: 50px;
  height: 45px;
  position: relative;
}
.ask-container .ask-main .person-message .avatar .avatar-border {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #fff;
  position: absolute;
  top: 1px;
  left: 13px;
}
.ask-container .ask-main .person-message .avatar .avatar-border img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.ask-container .ask-main .person-message .message {
  vertical-align: top;
  width: 235px;
}
.ask-container .ask-main .person-message .message .name {
  color: #fff;
  display: block;
  font-size: 12px;
}
.ask-container .ask-main .person-message .message .ask-desc {
  margin-top: 5px;
  display: block;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.ask-container .ask-main .person-message .message .download-img {
  display: none;
}
.ask-container .ask-main .anim_fade_image {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.ask-container .ask-main .person-message:hover {
  color: #000;
  background: url('/main/img/backOpacity.png');
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
}
.ask-container .ask-main .person-message:hover ul {
  margin-top: 15%;
  display: inline-block;
}
.ask-container .ask-main .person-message:hover li {
  display: inline-block;
  font-size: 12px;
}
.ask-container .ask-main .person-message:hover .avatar {
  width: 50px;
  height: 45px;
  position: relative;
}
.ask-container .ask-main .person-message:hover .avatar .avatar-border {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #fff;
  position: absolute;
  top: 1px;
  left: 13px;
}
.ask-container .ask-main .person-message:hover .avatar .avatar-border img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.ask-container .ask-main .person-message:hover .message {
  vertical-align: top;
  width: 235px;
}
.ask-container .ask-main .person-message:hover .message .name {
  color: #000;
  display: block;
  font-size: 12px;
}
.ask-container .ask-main .person-message:hover .message .ask-desc {
  display: block;
  width: 200px;
  margin-top: 5px;
}
.ask-container .ask-main .person-message:hover .message .download-img {
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  bottom: 15px;
  right: 18px;
  background-position: -176px -232px;
}
