* {
  margin: 0;
  padding: 0;
}
body {
  background: #F6F6F6;
  font-family: '微软雅黑', 'Microsoft Yahei';
}
*::-webkit-input-placeholder {
  color: #4A4A4A;
  font-size: 14px;
}
*:-moz-placeholder {
  color: #4A4A4A;
  font-size: 14px;
}
*:-ms-input-placeholder {
  /* IE10+ */
  color: #4A4A4A;
  font-size: 14px;
}
ul {
  list-style: none;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
}
.bg-sprite {
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none !important;
}
/*icon-styles*/
.icon-logo {
  width: 50px;
  height: 50px;
  background-position: -1px -81px;
  display: inline-block;
}
.icon-tip {
  width: 20px;
  height: 27px;
  background-position: -232px -43px;
  display: inline-block;
}
.icon-setting {
  width: 26px;
  height: 26px;
  background-position: -190px -42px;
  display: inline-block;
  vertical-align: middle;
}
.icon-wechat-pressed {
  display: inline-block;
  width: 23px;
  height: 19px;
  background-position: -71px -45px;
}
/*header-styles*/
.header {
  width: 100%;
  background: #FFFFFF;
  margin-bottom: 24px;
}
.header .title-bar {
  height: 80px;
  line-height: 80px;
  width: 1260px;
  margin: 0 auto;
}
.header .title-bar .title-bar-logo {
  vertical-align: middle;
}
.header .title-bar .user-avatar img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
}
.header .title-bar .title-bar-tip {
  margin-left: 23px;
  vertical-align: middle;
}
.header .title-bar .title-bar-setting {
  margin-left: 23px;
  vertical-align: middle;
}
.header .title-bar .title-bar-setting #setting_panel {
  position: relative;
  top: 35px;
  width: 113px;
  height: auto;
  border: 2px solid #F6F6F6;
  font-size: 14px;
  color: #8B8B8B;
  background-color: #FFFFFF;
}
.header .title-bar .title-bar-setting #setting_panel a {
  padding-left: 13px;
  display: block;
  line-height: 40px;
  height: 40px;
  background-color: #FFFFFF;
}
.header .title-bar .title-bar-setting #setting_panel a:hover {
  background-color: #F9F9F9;
  color: #000000;
}
.header .title-bar .title-bar-rank {
  margin-left: 23px;
  font-size: 15px;
  color: #8b8b8b;
}
.header .title-bar .login-by-wechat {
  font-size: 15px;
  color: #4A4A4A;
  line-height: 80px;
  margin-right: 25px;
}
.header .title-bar .login-btn {
  font-size: 15px;
  color: #4A4A4A;
  line-height: 80px;
  margin-right: 15px;
}
.header .title-bar .register-btn {
  font-size: 15px;
  color: #4A4A4A;
  line-height: 80px;
}
.header .menu-bar .menu-bar-area {
  width: 900px;
  height: 53px;
  margin: 0 auto;
  background-color: #FFFFFF;
  /* remove inline-block margin */
  font-size: 0;
  -webkit-text-size-adjust: none;
}
.header .menu-bar .menu-bar-area .active {
  color: #000000 !important;
  border-bottom: 3px solid #FFDE01;
}
.header .menu-bar .menu-bar-area .menu-bar-item,
.header .menu-bar .menu-bar-area .menu-bar-item-last {
  display: inline-block;
  height: 38px;
  line-height: 46px;
  cursor: pointer;
  text-align: center;
  color: #BDBDBD;
  font-size: 14px;
  margin-left: 40px;
}
.header .menu-bar .menu-bar-area .menu-bar-item:hover,
.header .menu-bar .menu-bar-area .menu-bar-item-last:hover {
  color: #000000 !important;
  cursor: pointer;
}
.header .menu-bar .menu-bar-area .menu-bar-upload-btn {
  float: right;
  background-color: #fff;
  width: 105px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #909090;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: #9B9B9B;
  margin-top: 20px;
}
/* register style */
.login-dialog {
  width: 416px;
  height: 393px;
  border-radius: 5px;
  padding: 35px 30px;
}
.login-dialog .login-panel {
  text-align: left;
}
.login-dialog .login-panel .login-header {
  color: #4A4A4A;
  position: relative;
}
.login-dialog .login-panel .login-header .login-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  padding-right: 15px;
}
.login-dialog .login-panel .login-header .login-line-between {
  border-right: 1px solid #C1CBD5;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
.login-dialog .login-panel .login-header .register-title {
  display: inline-block;
  color: #4A4A4A;
  font-size: 14px;
  padding-left: 15px;
}
.login-dialog .login-panel input {
  width: 345px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #f1f2f3;
  padding-left: 15px;
}
.login-dialog .login-panel .login-name {
  margin-top: 45px;
}
.login-dialog .login-panel .login-password {
  margin-top: 15px;
}
.login-dialog .login-panel .bg-color input {
  background: #f1f2f3;
}
.login-dialog .login-panel .forget-password {
  text-align: right;
  color: #000000;
  font-size: 14px;
  margin-top: 10px;
}
.login-dialog .login-panel .login-btn {
  width: 360px;
  height: 35px;
  color: #fff;
  background-color: #000000;
  text-align: center;
  line-height: 35px;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
}
.login-dialog .login-panel .line-or {
  margin: 30px 0px 10px ;
  text-align: center;
  font-size: 14px;
  color: #4A4A4A;
}
.login-dialog .login-panel .login-wechat-btn {
  width: 360px;
  height: 35px;
  color: #fff;
  background-color: #91de96;
  text-align: center;
  line-height: 35px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.login-dialog .login-panel .login-wechat-btn .login-wechat-icon {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-position: -209px -432px;
  vertical-align: middle;
}
/* Wechar qr code */
.Wechat-Qrcode {
  width: 300px;
  height: 300px;
}
/*register dialog*/
.register-dialog {
  width: 416px;
  height: 446px;
  border-radius: 5px;
  padding: 32px 30px;
}
.register-dialog .register-panel {
  text-align: left;
}
.register-dialog .register-panel .login-header {
  color: #4A4A4A;
  position: relative;
}
.register-dialog .register-panel .login-header .login-title {
  display: inline-block;
  font-weight: 900;
  padding-right: 15px;
  font-size: 14px;
}
.register-dialog .register-panel .login-header .login-line-between {
  border-right: 1px solid #C1CBD5;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 50px;
}
.register-dialog .register-panel .login-header .register-title {
  display: inline-block;
  color: #4A4A4A;
  font-size: 18px;
  padding-left: 15px;
}
.register-dialog .register-panel input {
  width: 345px;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #f1f2f3;
  padding-left: 15px;
  font-weight: 900;
}
.register-dialog .register-panel .register-nickname input {
  background: #f1f2f3;
  margin-top: 45px;
}
.register-dialog .register-panel .option-sex {
  margin-top: 18px;
  color: #4A4A4A;
  font-size: 14px;
}
.register-dialog .register-panel .option-sex input {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-left: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
}
.register-dialog .register-panel .option-sex .option-boy {
  display: inline-block;
}
.register-dialog .register-panel .option-sex .option-boy .option-boy-input {
  background-position: -130px -723px;
}
.register-dialog .register-panel .option-sex .option-girl {
  display: inline-block;
}
.register-dialog .register-panel .option-sex .option-girl .option-girl-input {
  background-position: -130px -699px;
}
.register-dialog .register-panel .register-phone {
  margin-top: 18px;
}
.register-dialog .register-panel .register-phone input {
  background-color: #f1f2f3;
}
.register-dialog .register-panel .verification-code {
  margin-top: 10px;
  position: relative;
}
.register-dialog .register-panel .verification-code input {
  background-color: #f1f2f3;
}
.register-dialog .register-panel .verification-code .send-verification-code {
  font-size: 12px;
  display: inline-block;
  width: 80px;
  height: 24px;
  color: white;
  background-color: #000000;
  text-align: center;
  border-radius: 20px;
  line-height: 24px;
  position: absolute;
  top: 6px;
  right: 0px;
}
.register-dialog .register-panel .verification-code .again-verification-code {
  font-size: 12px;
  display: inline-block;
  width: 80px;
  height: 24px;
  color: white;
  background-color: #000000;
  text-align: center;
  border-radius: 20px;
  line-height: 24px;
  position: absolute;
  top: 7px;
  right: 0px;
  display: none;
}
.register-dialog .register-panel .register-password {
  margin-top: 10px;
}
.register-dialog .register-panel .register-password input {
  background-color: #f1f2f3;
}
.register-dialog .register-panel .agree-deal {
  margin-top: 10px;
}
.register-dialog .register-panel .agree-deal input {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.register-dialog .register-panel .agree-deal span {
  display: inline-block;
  font-size: 12px;
  color: #8B99A6;
}
.register-dialog .register-panel .register-btn {
  background-color: #000000;
  text-align: center;
  width: 360px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  color: white;
  border-radius: 20px;
  margin-top: 30px;
}
/*upload ps works*/
.upload-work-modal {
  width: 240px;
  height: 390px;
  position: relative;
  padding: 0px;
  border-radius: 5px;
}
.upload-work-modal .close-icon {
  width: 45px;
  height: 45px;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: -23px;
  background-position: -173px -115px;
}
.upload-work-modal .upload-header {
  color: #4A4A4A;
  font-size: 16px;
  border-bottom: 1px solid #C1CBD5;
  display: block;
  text-align: left;
  padding: 10px 15px;
}
.upload-work-modal .upload-main {
  width: 240px;
  height: 280px;
  margin-top: 15px;
  border-bottom: 1px solid #C1CBD5;
}
.upload-work-modal .upload-main .upload-case {
  display: inline-block;
  width: 188px;
  height: 250px;
  border: 2px dashed #C1CBD5;
}
.upload-work-modal .upload-main .upload-case .upload-middle {
  margin-top: 65px;
}
.upload-work-modal .upload-main .upload-case .upload-middle .upload-icon {
  background-position: -5px -475px;
  width: 55px;
  height: 55px;
  display: inline-block;
}
.upload-work-modal .upload-main .upload-case .upload-remind {
  color: #687A8C;
  margin-top: 10px;
  display: block;
}
.upload-work-modal .upload-accomplish {
  background-color: #000000;
  color: #fff;
  width: 75px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 12px;
}
/* picture popup */
.picture-popup {
  max-width: 940px;
  height: 600px;
  padding: 0px;
  text-align: left;
  position: relative;
  border-radius: 5px;
}
.picture-popup .close-icon {
  width: 45px;
  height: 45px;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: -23px;
  background-position: -173px -115px;
}
.picture-popup .picture-product {
  width: 407px;
  display: inline-block;
  padding: 0px 0px 45px 42px;
}
.picture-popup .picture-product .popup-header {
  height: 82px;
  line-height: 82px;
  display: block;
}
.picture-popup .picture-product .popup-header .download-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: -97px -170px;
  vertical-align: sub;
}
.picture-popup .picture-product .popup-header .picture-download {
  color: #5FBCFF;
}
.picture-popup .picture-product .picture-show img {
  width: 100%;
}
.picture-popup .picture-original {
  width: 407px;
  display: inline-block;
  padding: 0px 0px 45px 42px;
  vertical-align: top;
}
.picture-popup .picture-original .popup-header {
  height: 82px;
  line-height: 82px;
  display: block;
}
.picture-popup .picture-original .popup-header .download-gray-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: -136px -170px;
  vertical-align: sub;
}
.picture-popup .picture-original .popup-header .picture-download {
  color: #4A4A4A;
}
.picture-popup .picture-original .picture-show img {
  width: 100%;
}
.footer {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
  color: #D6D6D6;
  font-size: 13px;
  margin-top: 280px;
}
/*
    404 错误页面样式
 */
.error-container {
  background-color: #ECE272;
  width: 100%;
  height: 100%;
  color: #FEAA2B;
}
.error-container .error-reminder {
  display: block;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
}
.error-container .error-reminder .page-nonentity {
  margin-top: 50px;
  display: block;
  font-size: 16px;
}
.error-container .error-reminder .error-caution {
  display: block;
  font-size: 76px;
}
.error-container .error-reminder .error-value {
  display: inline-block;
  width: 265px;
  height: 45px;
  border: 1px solid #FEAA2B;
  border-radius: 5px;
  text-align: left;
  margin-top: 60px;
}
.error-container .error-reminder .error-value .arrrow-icon {
  display: inline-block;
  width: 36px;
  height: 30px;
  background-position: -152px -690px;
  margin-left: 18px;
  margin-top: 8px;
}
.error-container .error-reminder .error-value .home-link {
  display: inline-block;
  width: 150px;
  height: 45px;
  vertical-align: top;
  line-height: 45px;
  text-align: center;
}
