.inner-container {
  width: 100%;
  height: 100%;
}
/*
* icon styles
*/
.icon-like {
  display: inline-block;
  width: 17px;
  height: 20px;
  background-position: 0px -5px;
  cursor: pointer;
}
.icon-like-pressed {
  display: inline-block;
  width: 17px;
  height: 20px;
  background-position: 0px -42px;
  cursor: pointer;
}
.icon-like:hover {
  background-position: 0px -42px;
}
.icon-comment {
  display: inline-block;
  width: 18px;
  height: 20px;
  background-position: -38px -5px;
  cursor: pointer;
}
.icon-comment-pressed {
  display: inline-block;
  width: 18px;
  height: 20px;
  background-position: -38px -44px;
  cursor: pointer;
}
.icon-comment:hover {
  background-position: -38px -44px;
}
.icon-weibo {
  display: inline-block;
  width: 20px;
  height: 17px;
  background-position: -151px -6px;
  cursor: pointer;
}
.icon-weibo:hover {
  background-position: -150px -47px;
}
.icon-moments {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: -112px -5px;
  cursor: pointer;
}
.icon-moments:hover {
  background-position: -113px -44px;
}
.icon-wechat {
  display: inline-block;
  width: 23px;
  height: 19px;
  background-position: -71px -5px;
  cursor: pointer;
}
.icon-wechat:hover {
  background-position: -72px -45px;
}
.icon-download {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: -97px -171px;
  vertical-align: middle;
}
.photo-container {
  width: 1280px;
  margin: 0 auto;
}
.photo-container .photo-item {
  width: 300px;
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 18px;
}
.photo-container .photo-item .QRCode {
  background: url('/main/img/QRCode.png');
  background-size: 100%;
  display: inline-block;
  position: relative;
  height: 570px;
  width: 100%;
}
.photo-container .photo-item .QRCode .appDownload {
  display: inline-block;
  width: 228px;
  height: 58px;
  background-color: #75c5ff;
  color: white;
  text-align: center;
  line-height: 58px;
  position: absolute;
  left: 45px;
  top: 395px;
  border-radius: 30px;
  cursor: pointer;
}
.photo-container .photo-item .photo-item-header {
  height: 59px;
  position: relative;
}
.photo-container .photo-item .photo-item-header img {
  margin: 14px 6px 14px 12px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}
.photo-container .photo-item .photo-item-header .photo-item-author {
  position: absolute;
  height: 59px;
  line-height: 59px;
  color: #888888;
  font-size: 16px;
  margin-left: 5px;
}
.photo-container .photo-item .photo-item-header .photo-item-created {
  position: absolute;
  right: 0;
  height: 59px;
  line-height: 59px;
  padding-right: 12px;
  color: #bcbcbc;
  font-size: 13px;
}
.photo-container .photo-item .photo-item-header .new-item-info {
  display: inline-block;
  width: 200px;
  height: 59px;
}
.photo-container .photo-item .photo-item-header .new-item-info .new-item-user {
  position: relative;
  top: 15px;
  width: 130px;
  float: left;
  height: 50%;
  font-size: 13px;
  color: #888888;
}
.photo-container .photo-item .photo-item-header .new-item-info .new-item-created {
  width: 200px;
  float: left;
  height: 50%;
  font-size: 11px;
  color: #C3C3C3;
}
.photo-container .photo-item .photo-item-header .download-action {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 57px;
  right: 0px;
  line-height: 57px;
  margin-right: 4px;
}
.photo-container .photo-item .photo-item-header .download-action .download-btn {
  font-size: 14px;
  color: #75C5FF;
}
.photo-container .photo-item .photo-item-content {
  position: relative;
  height: 400px;
  width: 300px;
  line-height: 400px;
  overflow: hidden;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
}
.photo-container .photo-item .photo-item-content img {
  width: 100%;
  vertical-align: middle;
}
.photo-container .photo-item .photo-item-content .photo-item-reply {
  position: absolute;
  bottom: -163px;
  left: 12px;
}
.photo-container .photo-item .photo-item-content .photo-item-reply .photo-item-reply-work img {
  width: 52px;
  height: 52px;
  border-radius: 4px;
}
.photo-container .photo-item .photo-item-actionbar {
  padding-left: 12px;
  padding-right: 12px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #F6F6F6;
  font-size: 13px;
}
.photo-container .photo-item .photo-item-actionbar .actionbar-like-icon {
  vertical-align: sub;
}
.photo-container .photo-item .photo-item-actionbar .actionbar-like-count {
  color: #75C5FF;
}
.photo-container .photo-item .photo-item-actionbar .actionbar-comment-icon {
  vertical-align: sub;
  margin-left: 14px;
}
.photo-container .photo-item .photo-item-actionbar .actionbar-comment-count {
  color: #75C5FF;
}
.photo-container .photo-item .photo-item-actionbar .actionbar-share-icons {
  float: right;
}
.photo-container .photo-item .photo-item-actionbar .actionbar-share-icons .actionbar-share-weibo {
  margin-right: 5px;
}
.photo-container .photo-item .photo-item-actionbar .actionbar-share-icons .actionbar-share-moments {
  margin-right: 5px;
}
.photo-container .photo-item .photo-item-replies {
  height: 55px;
  line-height: 55px;
  padding-left: 12px;
  padding-right: 12px;
}
.photo-container .photo-item .photo-item-replies img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
}
.photo-container .photo-item .photo-item-replies .reply-count {
  float: right;
  font-size: 13px;
  color: #bcbcbc;
}
