.work-details {
  width: 731px;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
}
.work-details .reply-pic {
  float: left;
  width: 441px;
  margin: 0 30px 20px 0;
}
.work-details .reply-pic a {
  display: block;
}
.work-details .reply-pic a img {
  display: block;
  width: 441px;
}
.work-details .reply-pic .reply-praise {
  margin: 20px 0 30px;
}
.work-details .reply-pic .reply-praise span,
.work-details .reply-pic .reply-praise em {
  float: left;
  width: 41px;
  height: 30px;
  padding-left: 28px;
  margin-right: 10px;
  background-color: #F6F6F6;
  font-family: "Helvetica";
  font-size: 12px;
  line-height: 30px;
}
.work-details .reply-pic .written-content {
  /*display: block;*/
}
.work-details .reply-pic .written-content .reply-comment span {
  margin-right: 5px;
  font-size: 14px;
  color: #4A4A4A;
  background-position: -332px -372px;
}
.work-details .reply-pic .written-content .comment-content {
  border-top: 1px;
}
