.reply-detail-content {
  background-color: #F6F6F6;
}
.reply-detail-content .detail-content {
  width: 1180px;
  height: 750px;
  margin: 0 auto;
  background-color: #fff;
}
.reply-detail-content .detail-content .replydetail-pic {
  float: left;
  width: 805px;
  height: 750px;
  margin-right: 20px;
  background-color: #000;
}
.reply-detail-content .detail-content .replydetail-pic .reply-pic {
  position: relative;
  /*width: 610px;*/
  height: 610px;
  padding: 25px 0;
}
.reply-detail-content .detail-content .replydetail-pic .reply-pic .dig-pic {
  width: 610px;
  height: 610px;
  margin: 0 auto;
  background-color: #fff;
}
.reply-detail-content .detail-content .replydetail-pic .reply-pic .dig-pic a {
  position: relative;
  display: block;
}
.reply-detail-content .detail-content .replydetail-pic .reply-pic .dig-pic a img {
  width: 100%;
  height: 100%;
}
.reply-detail-content .detail-content .replydetail-pic .reply-pic .dig-pic a span {
  position: absolute;
}
.reply-detail-content .detail-content .replydetail-pic .reply-pic .reply-left {
  position: absolute;
  left: 5px;
  top: 50%;
  width: 16px;
  height: 45px;
  margin-top: -22px;
  background-position: -146px -446px;
}
.reply-detail-content .detail-content .replydetail-pic .reply-pic .reply-right {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 16px;
  height: 45px;
  margin-top: -22px;
  background-position: -192px -446px;
}
.reply-detail-content .detail-content .replydetail-pic .work-pic {
  overflow: hidden;
  width: 340px;
  height: 70px;
  margin: 0 auto;
}
.reply-detail-content .detail-content .replydetail-pic .work-pic .detail-pic {
  width: 3000px;
}
.reply-detail-content .detail-content .replydetail-pic .work-pic .detail-pic .old-pic {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  background-color: #555;
}
.reply-detail-content .detail-content .replydetail-pic .work-pic .detail-pic .old-pic img {
  display: block;
  width: 100%;
}
.reply-detail-content .detail-content .replydetail-pic .work-pic .detail-pic .other-pic {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  background-color: #555;
}
.reply-detail-content .detail-content .replydetail-pic .work-pic .detail-pic .other-pic img {
  display: block;
  width: 100%;
}
.reply-detail-content .detail-content .reply-detail-ifo {
  overflow: hidden;
  float: left;
  width: 355px;
  height: 750px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user {
  /*height: 50px;*/
  padding-top: 20px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .personal-user {
  margin-bottom: 20px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .personal-user a {
  display: block;
  height: 50px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .personal-user a var {
  overflow: hidden;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .personal-user a var img {
  display: block;
  width: 100%;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .personal-user a span {
  overflow: hidden;
  float: left;
  width: 270px;
  height: 25px;
  font-size: 14px;
  color: #787878;
  line-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .personal-user a em {
  float: left;
  width: 270px;
  height: 25px;
  color: #929292;
  font-size: 12px;
  line-height: 25px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .personal-user p {
  margin-top: 10px;
  font-size: 16px;
  color: #4A4A4A;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .share {
  float: left;
  width: 54px;
  height: 30px;
  padding-left: 15px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #EDEDED;
  border-radius: 2px;
  cursor: pointer;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .share .share-icon {
  float: left;
  width: 15px;
  height: 30px;
  margin-right: 5px;
  background-position: -116px -459px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .share em {
  float: left;
  width: 34px;
  height: 30px;
  font-size: 12px;
  color: #9B9B9B;
  line-height: 30px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .seek {
  float: left;
  width: 54px;
  height: 30px;
  padding-left: 15px;
  background-color: #EDEDED;
  border-radius: 2px;
  cursor: pointer;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .seek .seek-icon {
  float: left;
  width: 15px;
  height: 30px;
  margin-right: 5px;
  background-position: -139px -363px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-user .seek em {
  float: left;
  width: 34px;
  height: 30px;
  font-size: 12px;
  color: #9B9B9B;
  line-height: 30px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment {
  clear: both;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment {
  margin-bottom: 10px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment span {
  float: left;
  font-size: 14px;
  color: #6E6E6E;
  margin-right: 5px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment em {
  float: left;
  font-size: 14px;
  color: #6E6E6E;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content {
  width: 335px;
  height: 500px;
  padding-top: 24px;
  background: url("/main/img/replycommon.png") 0 0 no-repeat;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .reply-inp {
  padding-bottom: 13px;
  border-bottom: 1px solid #ddd;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .reply-inp input {
  display: block;
  width: 303px;
  height: 33px;
  padding-left: 10px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo {
  padding: 20px 10px 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  background-color: #EDEDED;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .sculpture {
  overflow: hidden;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .sculpture img {
  display: block;
  width: 100%;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .reply-ifo {
  float: left;
  width: 280px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .reply-ifo .reply-name {
  float: left;
  font-size: 14px;
  color: #6A6A6A;
  line-height: 18px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .reply-ifo .reply-time {
  float: right;
  font-size: 12px;
  color: #6A6A6A;
  line-height: 18px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .reply-ifo p {
  margin: 15px 0 10px;
  font-size: 14px;
  color: #333;
  line-height: 24px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .reply-ifo .reply-play {
  display: block;
  float: right;
  height: 14px;
  font-size: 14px;
  color: #9B9B9B;
  cursor: pointer;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame {
  float: left;
  position: relative;
  width: 315px;
  margin: 10px auto 0;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame .play-inp {
  display: block;
  width: 277px;
  height: 35px;
  padding-left: 38px;
  margin-bottom: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  line-height: 35px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame input:-moz-placeholder {
  color: #666;
  font-size: 14px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame input:-ms-input-placeholder {
  /* IE10+ */
  color: #666;
  font-size: 14px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame input::-webkit-input-placeholder {
  color: #666;
  font-size: 14px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame input::t-input-placeholder {
  color: #666;
  font-size: 14px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame var {
  position: absolute;
  display: block;
  top: 0;
  left: 8px;
  /*width: 18px;*/
  height: 35px;
  color: #A0A0A0;
  font-size: 14px;
  line-height: 35px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame .play-icon {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  width: 18px;
  height: 18px;
  background-position: -62px -5px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame .inp-reply {
  float: right;
  width: 70px;
  height: 28px;
  background-color: #4A4A4A;
  font-size: 12px;
  color: #ddd;
  line-height: 28px;
  text-align: center;
  border-radius: 2px;
}
.reply-detail-content .detail-content .reply-detail-ifo .right-content .reply-comment .comment-content .user-ifo .inp-frame .reply-cancel {
  float: right;
  width: 70px;
  height: 28px;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
