.reply-container {
  width: 1280px;
  margin: auto;
}
.reply-container .reply-item {
  width: 280px;
  padding: 0 5px;
  color: #4A4A4A;
  background-color: #fff;
  display: inline-block;
  margin: 0 15px 20px;
}
.reply-container .reply-item .reply-head {
  height: 40px;
  line-height: 40px;
}
.reply-container .reply-item .reply-head .reply-avatar {
  display: inline-block;
  line-height: 25px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.reply-container .reply-item .reply-head .reply-avatar img {
  width: 100%;
  vertical-align: middle;
}
.reply-container .reply-item .reply-head .reply-name {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}
.reply-container .reply-item .reply-head .reply-create-time {
  font-size: 14px;
  color: #cacaca;
  float: right;
  margin-right: 10px;
}
.reply-container .reply-item .reply-main {
  overflow: hidden;
  float: left;
  width: 288px;
  height: 229px;
}
.reply-container .reply-item .reply-main a {
  display: block;
  width: 864px;
  height: 229px;
}
.reply-container .reply-item .reply-main a img {
  float: left;
  width: 288px;
  height: 229px;
}
.reply-container .reply-item .reply-footer {
  height: 60px;
  line-height: 60px;
}
.reply-container .reply-item .reply-footer .nav {
  float: left;
  position: relative;
  height: 25px;
  padding-top: 23px;
  margin-left: 10px;
  /*em {
					margin:0 5px;
					color: #eee;
				}*/
}
.reply-container .reply-item .reply-footer .nav .nav-pressed {
  color: #4A4A4A !important;
}
.reply-container .reply-item .reply-footer .nav span {
  float: left;
  width: 48px;
  height: 20px;
  border-right: 2px solid #eee;
  font-size: 15px;
  color: #DEDEDE;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
}
.reply-container .reply-item .reply-footer .nav .reply-nav {
  font-size: 15px;
  display: inline-block;
  color: #eee;
  cursor: pointer;
}
.reply-container .reply-item .reply-footer .nav .nav-bottom {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 48px;
  height: 2px;
  background-color: #ffde01;
}
.reply-container .reply-item .reply-footer .reply-section-icon {
  float: right;
  margin-right: 10px;
}
.reply-container .reply-item .reply-footer .reply-section-icon .like {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.reply-container .reply-item .reply-footer .reply-section-icon .like .liked {
  background-position: -163px -185px !important;
}
.reply-container .reply-item .reply-footer .reply-section-icon .like .like-icon {
  vertical-align: sub;
  display: inline-block;
  width: 19px;
  height: 16px;
  background-position: -163px -150px;
  cursor: pointer;
}
.reply-container .reply-item .reply-footer .reply-section-icon .like .like-count {
  color: #c4c4c4;
  font-size: 12px;
  vertical-align: middle;
}
.reply-container .reply-item .reply-footer .reply-section-icon .comment {
  margin-left: 10px;
}
.reply-container .reply-item .reply-footer .reply-section-icon .comment .comment-icon {
  vertical-align: sub;
  display: inline-block;
  width: 19px;
  height: 20px;
  background-position: -199px -181px;
  cursor: pointer;
}
.reply-container .reply-item .reply-footer .reply-section-icon .comment .comment-count {
  color: #c4c4c4;
  font-size: 12px;
}
