@charset 'utf-8';
/* CSS reset */
html {
  color: #000;
  background: #FFF;
  font-family: 'Microsoft Yahei';
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
  padding: 0;
  margin: 0;
  font-family: Arial, 'Microsoft Yahei';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #666666;
  outline: none;
}
/*此处待添加默认链接颜色*/
var,
em,
strong {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.inner-container .dynamics-section {
  width: 900px;
  margin: 0 auto;
  /*原图作品*/
}
.inner-container .dynamics-section .dynamics-person {
  float: left;
  margin-right: 52px;
}
.inner-container .dynamics-section .dynamics-person a {
  float: left;
}
.inner-container .dynamics-section .dynamics-person a img {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  -ms-border-radius: 50%;
  -mos-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.inner-container .dynamics-section .dynamics-person a span {
  display: block;
  width: 60px;
  font-size: 15px;
  color: #4a4a4a;
  text-align: center;
}
.inner-container .dynamics-section .dynamics-right-content {
  float: left;
  width: 728px;
  padding: 30px;
  background-color: #fff;
}
.inner-container .dynamics-section .dynamics-right-content .dynamics-content .dynamics-header {
  margin-bottom: 10px;
}
.inner-container .dynamics-section .dynamics-right-content .dynamics-content .dynamics-header p {
  float: left;
  color: #cacaca;
  font-size: 14px;
}
.inner-container .dynamics-section .dynamics-right-content .dynamics-content .dynamics-header .dynamics-time {
  float: right;
}
.inner-container .dynamics-section .dynamics-right-content .dynamics-content .dynamics-header .dynamics-time .time-icon {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-position: -200px -149px;
}
.inner-container .dynamics-section .dynamics-right-content .dynamics-content .dynamics-header .dynamics-time span {
  color: #cacaca;
  font-size: 14px;
}
.inner-container .dynamics-section .dynamics-right-content .dynamics-content .reply-content {
  margin-bottom: 30px;
  color: #4a4a4a;
  font-size: 14px;
}
.inner-container .dynamics-section .picture-content {
  background-color: #f5f5f5;
}
.inner-container .dynamics-section .picture-content .pic-center {
  position: relative;
  float: left;
  width: 409px;
  height: 180px;
  margin-right: 10px;
}
.inner-container .dynamics-section .picture-content .pic-center .reply-picture {
  float: left;
  width: 320px;
  padding-top: 22px;
  margin-right: 30px;
}
.inner-container .dynamics-section .picture-content .pic-center .reply-picture a {
  position: relative;
  float: right;
  height: 138px;
}
.inner-container .dynamics-section .picture-content .pic-center .reply-picture a img {
  display: block;
  /*width: 182px;*/
  height: 138px;
}
.inner-container .dynamics-section .picture-content .pic-center .reply-picture a span {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-position: -45px -225px;
}
.inner-container .dynamics-section .picture-content .pic-center .old-pic {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 22px;
  width: 60px;
  height: 60px;
}
.inner-container .dynamics-section .picture-content .pic-center .old-pic a {
  display: block;
}
.inner-container .dynamics-section .picture-content .pic-center .old-pic img {
  display: block;
  width: 60px;
}
.inner-container .dynamics-section .picture-content .pic-center .old-pic span {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-position: 10px -225px;
}
.inner-container .dynamics-section .picture-content .hover-pic {
  position: relative;
  float: left;
  height: 138px;
  margin-top: 22px;
}
.inner-container .dynamics-section .picture-content .hover-pic .hover-pho {
  float: left;
}
.inner-container .dynamics-section .picture-content .hover-pic .hover-pho img {
  display: block;
  height: 138px;
}
.inner-container .dynamics-section .picture-content .hover-pic .trends-attention {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: #444;
}
.inner-container .dynamics-section .picture-content .hover-pic .trends-attention a {
  float: left;
  padding-top: 6px;
}
.inner-container .dynamics-section .picture-content .hover-pic .trends-attention a img {
  float: left;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #fcfcf9;
}
.inner-container .dynamics-section .picture-content .hover-pic .trends-attention span {
  float: right;
}
