<div class="detail-work clearfix">
	<div class="ask-section clearfix">
		<div class="work-content clearfix">
			<div class="work-card">
				<div class="header">
					<div class="avatar">
						<img class="imageLoad" data-original="<%= avatar %>" alt="">
					</div>
					<div class="user-message">
						<div class="user-name">
							<%= nickname %>
						</div>
						<div class="time">
							<%= created_at %>
						</div>
					</div>
					<div class="follow-btn">
						关注
					</div>
				</div>
				<div class="content">
					<%= desc %>
				</div>
				<div class="work-img">
					<img class="imageLoad" data-original="<%= image_url %>" alt="">
				</div>
				<div class="channel clearfix">
					<i class="channel-icon"></i>
					<span class="channel-content">频道内容</span>
					<span class="channel-content">频道内容</span>
					<span class="channel-content">频道内容</span>
				</div>
				<div class="footer">
					<div class="like">
						<i class="like-icon"></i>
						66
					</div>
					<div class="share">
						<i class="share-icon"></i>
						分享
					</div>
					<div class="comment">
						<i class="comment-icon"></i>
						66
					</div>
				</div>
			</div>
			<div class="comment-section clearfix">
				<div class="write-comment">
					<input type="text">
					<div class="send-comment">评论</div>
				</div>
				<% _.each(comment,function(ct){ %>
					<div class="comment-content clearfix">
						<div class="comment-list clearfix">
							<div class="comemnt-avatar">
								<img class="imageLoad" data-original="<%= ct.avatar %>" alt="">
							</div>
							<div class="commnet-meesage">
								<div class="message clearfix">
									<div class="name"><%= ct.nickname %></div>
									<div class="create-comment"><%= ct.create_time %></div>
								</div>
							</div>
							<div class="created-content">
								<%= ct.content %>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>
