<div class="hot-main grid-item">
	<div class="person-message">
		<span class="avatar">
			<a href="home.html#home/hot/<%= uid %>">
				<span class="avatar-border">
					<img src="<%= avatar %>" alt="<%= nickname %>">
				</span>
			</a>
		</span>

		<span class="message">
			<a class="name" href="home.html#home/hot/<%= uid %>">
				<%= nickname %>			
			</a>
		</span>

		<span class="time"><% var timeMatrixing = time(create_time); %><%= timeMatrixing %></span>
	</div>


	<!-- TODO 多张求p图的情况 -->
	<a target="_blank" href="#show/<%= ask_id %>/<%= id %>">
		<div class="hot-picture">
			<img class="origin-image" src="<%= ask_uploads[0].image_url %>">
            <img class="reply-image" src="<%= image_url %>" data-type="2" alt="<%= nickname %>" image_ratio='<%= image_ratio %>'>
		</div>
	</a>

   	<div class="photo-item-reply">
    <% _.each(ask_uploads, function(ask) {  %>
        <div class="photo-item-reply-work">
            <i class="bookmark">原图</i>
            <img data-type="1" src="<%= ask.image_url %>" image_ratio="<%= ask.image_ratio %>">
        </div>
    <% }); %>
    </div>

    <div class="hot-flow-actionbar">
    	<span class="actionbar-icon">
    		<span class="comment-item">
				<i class="comment-icon bg-sprite-new"></i>
				<span class="comment-count"><%= comment_count %></span>
			</span>
			<span class="like-item">
				<i class="like-icon bg-sprite-new like_toggle <%= (uped)? 'liked': '' %>" data-type="<%= type %>" data-id="<%= id %>"></i>
				<span class="like-count <%= (uped)? 'like-color': '' %>"><%= up_count %></span>
			</span>
    	</span>
    </div>

</div>
