<div class="setting-information clearfix">
	<div class="information">
		<div class="information-section">
			<div class="information-title">
				基本资料
			</div>
			<div class="avatar-section flex-box">
				<div class="avtat-title flex-1">
					头像
				</div>
				<div class="update-avatar flex-6">
					<div class="avatar-img">
						<img src="/web/img/default.png" alt="">
					</div>
					<div class="update-btn">
						上传头像
					</div>
				</div>
			</div>
			<div class="nickname-section flex-box">
				<div class="nickname-title flex-1">
					昵称
				</div>
				<div class="nickname-change flex-6">
					<input type="text">
				</div>
			</div>
			<div class="sex-section flex-box">
				<div class="sex-title flex-1">性别</div>
				<div class="sex-input flex-6 flex-box">
					<div class="sex-boy flex-1">
						<input name="sex" type="radio">
						男
					</div>
					<div class="sex-girl flex-1">
						<input name="sex" type="radio">
						女
					</div>
					<div class="maintain flex-6">
						<input name="sex" type="radio">
						保密
					</div>
				</div>
			</div>
			<div class="desc flex-box">
				<div class="desc-title flex-1">简介</div>
				<div class="flex-6 desc-content">
					<textarea>
						textarea
					</textarea>
				</div>
			</div>
		</div>
	</div>
</div>
