<div class="reply-item grid-item">
	<div class="reply-head">
		<span class="reply-avatar">
			<a target="_blank" href="#homepage/reply/<%= uid %>">
				<img src="<%= avatar %>" alt="头像">
			</a>
		</span>
		<span class="reply-name">
			<a href="#homepage/reply/<%=  uid %>" class="reply-name-v clearfix">
               	<var><%= nickname %></var>
                <% if (is_star) { %>
                	<i class="bg-sprite-rebirth small-v-icon"></i>
                <% } %>
			</a>
		</span>
		<span class="reply-create-time">
			<% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
		</span>
	</div>
	
	<div class="reply-main" time="1"> 
		<a target="_blank" href="#replydetailplay/reply/<%= id %>" class="clearfix reply-pic">
			<img src="<%= image_url %>" data-type="2" alt="活动作品" class="reply-artwork-pic">
			<%  var i = 0;  _.each(ask_uploads, function(ask,i) { i++; %>
				<% if( i == 1) { %>
					<img src="<%= ask.image_url %>" data-type="1" alt="原图" class="reply-works-pic">
				<% } %>
			<% }) %>
		</a>
	</div>
	<div class="reply-footer">
		<div class="nav">
			<span class="pressed reply-nav nav-pressed" ask="0">作品</span>
			<span class="pressed ask-nav" ask="2"> 原图</span>
			<var class="nav-bottom"></var>
		</div>
		<div class="reply-section-icon">
			<span class="love-like super-like" data-type="<%= type %>" data-id="<%= id %>" value="0">
			 	<i class="like-icon bg-sprite-rebirth"></i>
			 	<em class="like-count <%= (uped)? 'like-color': '' %>"><%= up_count %></em>
			</span>
			<a class="comment">
				<i class="comment-icon bg-sprite-new"></i>
				<em class="comment-count"><%= comment_count %></em>
			</a>
		</div>
	</div>
</div>
