<div class="channel-contain">
	<div class="channel-header clearfix">
		<div class="channel-header-nav clearfix">
			<div href="/#askflows" class="header-nav present-nav activitHide"  data-type="ask"><img src="http://7u2spr.com1.z0.glb.clouddn.com/20151221-1501515677a3df9af43.png" alt=""><span>随意求P</span></div>
			<div href="/#askflows" class="header-nav present-nav activitHide" data-type="reply"><img src="http://7u2spr.com1.z0.glb.clouddn.com/20151221-14341856779d6a0ee90.png" alt=""><span>最新作品</span></div>
			<div id="channelNav" class="channel-nav clearfix" >
			</div>
		</div>
	</div>
	<div class="channel-big-pic hide">
		<a href="" class="attr-href">
			<img src="/img/channelPic.png" alt="" class="channel-big-img">
		</a>

		<div class="channel-fix hide">
			<div id="activityIntro"></div>				
		</div>
	</div>
	<div class="demand-p hide">
		<div class="demand-header clearfix">
			<span>求P区</span>
			<div id="check_more" class="askUrl">
				<em>更多</em>
				<i class="bg-sprite-new demand-p-icon"></i>
			</div>
		</div>
		<div id="channelDemand" class="channel-demmand clearfix" ></div>
	</div>

	<div class="channel-works clearfix">
		<!-- 频道 -->
		<div class="channel-all-ask clearfix hide">
			<h3>全部求P</h3>
		</div>
		<div class="channel-ask clearfix hide">
			<h3>求P区</h3>
		</div>
		<div class="channel-reply clearfix hide">
			<h3>最新作品</h3>
		</div>
		<div class="channel-works-header clearfix hide">
			<h3>作品区</h3>
			<div class="channel-style">
				<span class="fold-icon bg-sprite-new"></span>
				<span class="pic-icon bg-sprite-new"></span>
			</div>
		</div>
		<!-- 活动 -->
		<div class="channel-activity-works clearfix hide">
			<span id="hot-reply" class="color-change">最新作品</span>
			<!-- <em>|</em>	 -->
			<!-- <span id="new-reply">最新作品</span> -->
		</div>
		<div id="channelWorksPic" class="channel-reply-pic channel-reply-fold"></div>
	</div>	
	<div id="askflowsShow"></div>


</div>
