<% if(replies.length > 0) { %>
<div class="fold-contain">
	<div class="fold-header clearfix">
		<div class="fold-works">
			<span>已有作品:</span>
			<em><%= reply_count %></em>
		</div>
		<% var i = 0; var picWidth = 0; var pan = true; _.each(replies, function(reply, i) {  i++ %>  
		<% picWidth += parseInt(reply.image_width * 238 / reply.image_height); if(picWidth > 980 && pan) { pan = false %>
		<a class="fold-more" href="#replydetailplay/<%= reply.uid %>/<%= reply.id %>" target="_blank">
			<em>查看更多</em>
			<i class="bg-sprite-new fold-more-icon"></i>
		</a>
		<% } %>
		<% }) %>
		<div class="fold-time">
			<% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
		</div>
	</div>

	<div class="fold-pic-contain clearfix">
		<div class="channel-artwork ">
			<a target="_blank" href="#homepage/reply/<%= uid %>" class="artwork-header clearfix">
				<span>
					<img src="<%= avatar %>" alt="头像">
				</span>
				<em><%= nickname %></em>
			</a>

			<div class="artwork-contain center-loading-image-container">
				<span class="center-loading">
					<a target="_blank" href="#askdetail/<%= $(".bgc-change").attr("data-id") %>/<%= ask_id %>" >
						<img src="<%= image_url %>" data-type="1" alt="原图">
						<i class="artwork-icon bg-sprite-new"></i>
					</a>
				</span>
			</div>	
			<p><%= desc %></p> 
			<div class="fold-function clearfix">
				<a class="fold-comments" target="_blank" href="#askdetail/<%= $(".bgc-change").attr("data-id") %>/<%= ask_id %>">
					<i class="comments-icon bg-sprite-new"></i>
					<span><%= comment_count %></span>
				</a>
				<div class="fold-bang-icon download bg-sprite-rebirth" data-type="<%= type %>" data-id="<%= id %>">
				</div>
			</div>
		</div>
		<!-- 作品 -->
		<div class="channel-works">
<!-- 		<div class="arrow-left bg-sprite-rebirth"></div> 
		<div class="arrow-right bg-sprite-rebirth"></div> -->
			
			<div class="long-pic clearfix">
				<% var i = 0; var picWidth = 0; var pan = true; _.each(replies, function(reply, i) {  i++%>  
				 <% picWidth += parseInt(reply.image_width * 238 / reply.image_height); if(picWidth > 980 && pan) { pan = false %>
				<a class="view-details" href="#replydetailplay/<%= reply.uid %>/<%= reply.id %>" target="_blank">查看更多</a> 
				<% } %>
				<div class="channel-works-contain">
					<a target="_blank" href="#homepage/reply/<%= reply.uid %>" class="works-header" >
						<span>
							<img src="<%= reply.avatar %>" alt="头像">
						</span>
						<em><%= reply.nickname %></em>  
					</a>
					<div class="works-contain da-as" data-width="<%= reply.image_width %>">
						<a target="_blank" href="#replydetailplay/<%= reply.ask_id %>/<%= reply.id %>" >	
							<img src="<%= reply.image_url %>" alt="">
							<span class="bg-sprite-new works-icon"></span>
						</a>
					</div>
					<p class="reply-desc"><%= reply.desc %></p>
					<div class="fold-function">
						<a target="_blank" class="fold-comments" href="#replydetailplay/<%= reply.ask_id %>/<%= reply.id %>">
							<i class="comments-icon bg-sprite-new"></i>
							<span><%= reply.comment_count %></span>
						</a>
						<div class="like-actionbar">
							<span class="reply-like love-like super-like <%= (reply.love_count == 1)? 'liked': '' %><%= (reply.love_count == 2)? 'liked': '' %><%= (reply.love_count == 3)? 'liked': '' %>" data-type="<%= reply.type %>" data-id="<%= reply.id %>" data-type="<%= reply.type %>" data-id="<%= reply.id %>" data-love="<%= reply.love_count %>">
							 	<i class="like-icon bg-sprite-rebirth <%= (reply.love_count == 1)? 'like-icon-one': '' %><%= (reply.love_count == 2)? 'like-icon-two': '' %><%= (reply.love_count == 3)? 'like-icon-three': '' %>"></i>
							 	<em class="like-count"><%= reply.up_count %></em>
							</span>
						</div>
					</div>
				</div>
					<% 
						var i = []; 
						var width = $(".da-as").attr("data-width");
						var i = width;
					%>
				<% }) %>
			</div>
		</div>
		<div class="channel-going">
			<% var i = 0; _.each(users, function( user, i) { i++; %>
				<%  if( i == 1 && user.avatar) { %>
					<em>进行中:</em>
				<% } %>
					<a target="_blank" href="#homepage/reply/<%= user.uid %>">
						<img src="<%= user.avatar %>" alt="进行中">
					</a>
			<% }) %>
		</div>
	</div>
</div>
<% } %>
