<div class="activity-header">
	<div class="banner">
		<img src="/images/banner.png" alt="">
	</div>
	<div class="activity-content">
		<div class="activity-title">
			毕业照创意大比拼
		</div>
		<div class="activity-rule">
			<!-- <h3>活动规则</h3> -->
			<ol class="rule">
				<li>只要是毕业照就可以，关键是好玩有创意~</li>
				<li>毕业照的点赞数和评论数是上热门的评分指标</li>
				<li>热门top1：宋钟基深圳粉丝见面会门票两张</li>
				<li>热门top2：现金200元</li>
				<li>参与方式：点击上传照片即可参与</li>
			</ol>
			<div class="deadline">
				截止日期：2016.05.27（公众号搜“we图派“掌握活动实时动态）
			</div>
		</div>
	</div>
	<ul class="tap clearfix">
		<li class="new works-tap activity"  data-type="new">
			<div class="new-tap clearfix">
				<i class="new-icon"></i>
				<span>最新</span>
			</div>
		</li>
		<li class="works-tap hot" data-type="hot">
			<div class="hot-tap clearfix">
				<i class="hot-icon"></i>
				<span>热门</span>
			</div>
		</li>
	</ul>
	<a href="#upload/reply/0/1017" class="upload">
		<img src="/images/upload1.png" alt="">
	</a>
	<div class="mongolia-layer hide">
		<img src="/images/activityshare.png" alt="">
	</div>
</div>
