<div class="inner-container">
	<div class="dynamics-section clearfix">
		<div class="dynamics-person">
			<a href="">
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151027-153625562f2979a216c.jpg" alt="">
				<span class="name">功夫猫</span>
			</a>
		</div>
		<div class="dynamics-right-content">	
			<div class="dynamics-content">
				<div class="dynamics-header clearfix">
					<p>上传了一张作品</p>
					<div class="dynamics-time">
						<em class="time-icon bg-sprite-new"></em>
						<span>2015-6-16 20:47</span>
					</div>
				</div>
				<p class="reply-content">并留言：别介意！！！</p>
			</div>
			<!-- 原图作品 -->
			<div class="picture-content clearfix">
				<div class="pic-center">
					<div class="reply-picture">
						<a href="">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20150616-20242155801575242e4mark.jpg?imageView2/2/w/480" alt="">
							<span class="bg-sprite-new"></span>
						</a>
					</div>
					<div class="old-pic">
						<a href="">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20150616-20242155801575242e4mark.jpg?imageView2/2/w/480" alt="">
							<span class="bg-sprite-new"></span>
						</a>
					</div>
				</div>
				<div class="hover-pic">
					<a href="" class="hover-pho">
						<img src="http://7u2spr.com1.z0.glb.clouddn.com/20150616-20242155801575242e4mark.jpg?imageView2/2/w/480" alt="">
					</a>
					<div class="trends-attention clearfix">
						<a href="">
							<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151027-153625562f2979a216c.jpg" alt="">
							<em>465465</em>
						</a>
						<span>+关注</span>
					</div>
				</div>
			</div>
			
			<!-- 功能 -->
			<div class="dynamics-item-actionbar">
				<!-- 点赞 -->
				<div class="like-actionbar">
					<span></span>
					<em>1</em>
				</div>
				<!-- 评论 -->
				<div class="comment-actionbar">
					<span></span>
					<em>11</em>
				</div>
				<div class="share-actionbar">
					<span></span>
					<em>111</em>
				</div>
			</div>
		</div>
	</div>
</div>