<div class="uploadHeader" >
	<div class="backPage">
		<!-- <i class="icon-backPage"></i> -->
		<span class="text-backPage">发布作品</span>
	</div>
	<input type="button" value="发布" class="confirm-none" id="fnSubmitDynamic">
</div>
<div class="uploadContent">
	<div class="uploadPic-none">
		<div class="hide" id="save_images"></div>
		<div class="leftArea" id="append_image"></div>
		<div class="picPlaceHolder clearfix" id="uploadWork">
			<img src="/images/upload.png" class="cross">
		</div>
		<span class="uploadText">上传图片</span>
	</div>
<!-- 	<div class="uploadPic">
		<div class="uploadThumb clearfix">
			<div class="thumb"></div>
		</div>
	</div> -->
	<textarea autofocus="autofocus" class="uploadDesc" placeholder="请添加作品描述" maxLength="50"></textarea>
</div>