.main-ask{
    .main-ask-section{
        width: 100%;
        background-color: #f7f7f7;
        .ask-section{
            float: left;
            width: 47%;
            margin: 1.5%;
            background-color: #fff;
            border-radius: 0.21rem;
            box-shadow: 0 0.04rem  0 #e2e2e2;
            .ask-section-main{
                .workPic{
                    width: 100%;
                }
                .desc{
                    display: block;
                    width: 100%;
                    height: 2.86rem;
                    box-sizing:border-box;
                    padding: 0.71rem 0 0 0.43rem;
                    font-size: 0.71rem;
                    color: rgba(0,0,0,0.8);
                    border-bottom: 0.12rem dotted rgba(0,0,0,0.49);
                }
            }
            .ask-section-bottom{
                width: 100%;
                height: 2.5rem;
                box-sizing:border-box;
                padding: 0.64rem 0.64rem 0 0.75rem;
                border-radius: 0.18rem;
                overflow: hidden;
                .help{
                    float: left;
                    .icon-help{
                        float: left;
                        margin-right: 0.68rem;
                        width: 0.93rem;
                        height: 0.89rem;
                        background:url(/img/icon-help.png)no-repeat 0 0;
                        background-size: 100%;
                    }
                    .text-help{
                        float: left;
                        font-size: 0.71rem;
                        color: rgba(0,0,0,0.49);
                    }
                }
                .work{
                    float: right;
                    .icon-work{
                        float: left;
                        margin-right: 0.68rem;
                        width: 0.93rem;
                        height: 0.89rem;
                        background:url(/img/icon-work.png)no-repeat 0 0;
                        background-size: 100%;
                    }
                    .text-work{
                        float: left;
                        font-size: 0.71rem;
                        color: rgba(0,0,0,0.49);
                    }
                }
            }
        }
    }
}