<div class="comment-content clearfix">
	<div class="user-ifo">
		<a href="">
			<img src="<%= avatar %>">
		</a>
	</div>
	<div class="reply-ifo clearfix">
		<span><%= nickname %></span>
		<em><% var timeMatrixing = time(create_time); %><%= timeMatrixing %></em>
		<p><%= content %></p>
	</div>
	<!-- <div class="written-reply">
		回复
	</div>
	<div class="reply-inp">
		<input type="input" placeholder="回复 <%= nickname %>:">
		<div class="reply-submit clearfix">
			<em>回复</em>
			<span>取消</span>
		</div>
		<div class="smiling-face">
			<i class="bg-sprite-new reply-btn"></i> 
		</div>
	</div> -->
</div>
