<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="../../../main/css/activity.css">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<title>H5</title>
</head>
<body>
	<div class="activity">
		<img src="../../../main/img/activity.png" alt="">
		<a href="https://www.baidu.com/">
			<div class="activity-btn"></div>
		</a>
		<a href="https://www.baidu.com/">
			<div class="activity-btn-1"></div>
		</a>
	</div>
</body>
</html>

