<div class="homepage comWidth">
	<div class="homepage-header clearfix">
		<div class="user-info">
			<div class="user-portrait">
				<img class="portrait-img" src="/img/homepage-portrait.png" alt="用户头像">
			</div>
			<span class="user-name">Ariadne</span>
		</div>
		<ul class="operation-list clearfix">
			<li class="list-item active"><a href="#">我的求P</a></li>
			<li class="list-item"><a href="#">我的帮P</a></li>
			<li class="list-item"><a href="#">我的作品</a></li>
		</ul>
		<span class="setting">
			<i class="icon-setting"></i>
			设置
		</span>
	</div>
	<div class="homepage-content"></div>
</div>