<div class="ask-main grid-item">
    <span class="ask-picture">
        <span class="is-loading">
            <img src="<%= image_url %>" alt="">
        </span>
	</span>
	<span class="person-message">
		<ul>
			<li class="avatar">
				<span class="avatar-border">
					<img src="<%= avatar %>" alt="">
				</span>
			</li>
			<li class="message">
				<span class="name"><%= nickname %></span>
				<span class="ask-desc"><%= desc %></span>
				<i class="download-img bg-sprite-new"></i>
			</li>
		</ul>
	</span>
</div>
