<div class="ask-main  grid-item">
	<a target="_blank" href="#comment/ask/<%= id %>">
		<span class="ask-picture">
            <img src="<%= image_url %>" alt="<%= nickname %>" width="<%= image_width %>" height="<% image_width*image_ratio %>">
		</span>
	</a>

	<span class="person-message">
		<ul>
			<li class="avatar">
				<a href="home.html#home/ask/<%= uid %>">
					<span class="avatar-border">
						<img src="<%= avatar %>" alt="<%= nickname %>">
					</span>
				</a>
			</li>
			<li class="message">
				<a href="home.html#home/ask/<%= uid %>">
					<span class="name"><%= nickname %></span></a>
					<span class="ask-desc"><%= desc %></span>
			</li>
				<a data="<%= type %>" data-id="<%= id %>" class="download">
					<i class="download-icon bg-sprite-new"></i>
				</a>
		</ul>
	</span>
	<span class="person-message-1 opacity-animate">
		<ul >
			<li class="avatar" data-status="0">
				<a href="home.html#home/ask/<%= uid %>">
					<span class="avatar-border">
						<img src="<%= avatar %>" alt="">
					</span>
				</a>
			</li>
			<li class="message">
				<a href="home.html#home/ask/<%= uid %>">
					<span class="name"><%= nickname %></span></a>
				<span class="ask-desc "><%= desc %></span>
			</li>
				<a data="<%= type %>" data-id="<%= id %>" class="download">
					<i class="download-icon bg-sprite-new"></i>
				</a>
		</ul>
	</span>
</div>
