.recommend-box {
    padding-top: 3%;
}
    .recommend{
        float: left;
        width: 47%;
        margin: 0 1.5% 3%;
        background-color: #fff;
        .workSection{
            float: left;
            width: 100%;
            border-radius: 0.29rem;
            box-shadow: 3px 3px 5px 2px #dedede;
            overflow: hidden;
            background-color: #fff;
            .pic-box {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 15rem;
                margin-bottom: 0.54rem;
                .workPic{
                    position: absolute;
                    display: block;
                    width: 100%;
                }
                .origin{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 4rem;
                    height: 4rem;
                    /*border: 0.21rem solid rgba(0,0,0,0.05);*/
                    border-bottom: 0;
                    border-radius: 0.21rem 0 0 0;
                    background-color: rgba(0,0,0,0.4);
                    .tag{
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        padding: 0.2rem;
                        /*width: 1.57rem;*/
                        height: 0.71rem;
                        line-height: 0.71rem;
                        font-size: 0.5rem;
                        text-align: center;
                        border-radius: 0.21rem 0 0 0;
                        background-color: #f9d161;
                        z-index: 1;
                        border-radius: 0.2rem;
                    }
                    .pic{
                        width: 100%;
                        height: 4rem;
                        overflow: hidden;
                        img{
                            display: block;
                            width: 100%;
                        }
                    }
                    .div-line{
                        position: absolute;
                        left: -0.21rem;
                        bottom: -0.18rem;
                        width: 4.42rem;
                        height: 0.18rem;
                        background-color: #fded5e;
                        z-index: 1;
                    }
                }
            }
            .workDesc{
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 1.3rem;
                padding-left: 0.68rem;
                line-height: 1.3rem;
                font-size: 0.9rem;
                color: #000;
                background-color: #fff;
            }
            .workSectionFooter{
                display: block;
                background-color: #fff;
                .footerWrapper{
                    float: right;
                    padding: 0.5rem 0;
                    line-height: 1rem;
                    .like{
                        float: left;
                        margin-left: 0.93rem;
                        cursor: pointer;
                        .icon-like{
                            display: block;
                            float: left;
                            width: 1.1rem;
                            height: 1rem;
                            background: url(/images/icon-like-deepCol.png) no-repeat 0 0;
                            background-size: 100%;
                        }
                        .icon-pressed-like {
                            background: url(/images/like.png) no-repeat 0 0;
                            background-size: 100%;
                        }
                        .text-like{
                            display: block;
                            float: left;
                            margin-left: 0.21rem;
                            font-size: 0.9rem;
                            font-family: "Helvetica-Light","sans-serif";
                            color: #000;
                            opacity: 0.3;
                        }
                    }
                    .comment{
                        float: left;
                        margin-left: 0.93rem;
                        cursor: pointer;
                        .icon-comment{
                            display: block;
                            float: left;
                            width: 0.97rem;
                            height: 1rem;
                            background: url(/images/icon-comment.png) no-repeat 0 0;
                            background-size: 100%;
                        }
                        .text-comment{
                            display: block;
                            float: left;
                            margin-left: 0.21rem;
                            margin-right: 0.25rem;
                            font-size: 0.9rem;
                            font-family: "Helvetica-Light","sans-serif";
                            color: #000;
                            opacity: 0.3;
                        }
                    }
                }
            }
        }
    }