<div class="photo-item left">
    <div class="photo-item-header new-item-header" data-id="<%= id %>">
        <a href="#home/ask/<%= uid %>">
            <span class="is-loading">
                <img src="<%= avatar %>">
            </span>
        </a> 
        <span class="new-item-info">
            <a href="#home/<%= uid %>">
                <span class="new-item-user"><%= nickname %></span>
            </a>
            <span class="new-item-created"><% var timeMatrixing = time(create_time); %><%= timeMatrixing %></span>    
        </span>
        <span class="download-action">
            <a data="<%= type %>" data-id="<%= id %>" class="download">
                <span class="download-btn">下载原图</span>
            </a>
            <span class="icon-download bg-sprite"></span>    
        </span>    
    </div>

    <div class="photo-item-content">
        <% if( reply_count > 0 ) { %>
        <a target="_blank" href="#show/<%= id %>">
        <% } else { %> 
        <a target="_blank" href="#comment/ask/<%= id %>">
        <% } %>
            <span class="is-loading">
                <% var ask_view = ask_uploads.shift(); %>
                <img src="<%= ask_view.image_url %>">
            </span>
        </a>
        <!-- 有没有多张求助 -->
        <% _.each(ask_uploads, function(ask) {  %>
        <div class="photo-item-reply">
            <div class="photo-item-reply-work">
                <i class="bookmark">原图</i>
                <img src="<%= ask.image_url %>">
            </div>
        </div>
        <% }); %>
    </div>
    <div class="ask-content">
        <%= desc %>
    </div>
    <div class="photo-item-actionbar">
        <span data-id="<%= id %>" class="like_toggle bg-sprite icon-like <%= (uped)?'icon-like-pressed': '' %>"></span>
        <span class="actionbar-like-count <%= (uped)?'icon-like-color': '' %>"><%= up_count %></span>
        
        <% if( reply_count > 0 ) { %>
            <a target="_blank" href="#show/<%= uid %>">
        <% } else { %> 
            <a target="_blank" href="#comment/ask/<%= uid %>">
        <% } %>
            <span class="bg-sprite icon-comment"></span>
        </a>
        <span class="actionbar-comment-count"><%= comment_count %></span>

<!--         <span class="actionbar-share-icons">
            <span class="actionbar-share-weibo bg-sprite icon-weibo"></span>
            <span class="actionbar-share-moments bg-sprite icon-moments"></span>            
            <span class="actionbar-share-wechat bg-sprite icon-wechat"></span>
        </span> -->
    </div>
</div>
