<div class="photo-item left">
    <div class="photo-item-header hot-item-header">
        <a target="_blank" href="#home/<%= uid %>">
            <img src="<%= avatar %>">
            <span class="photo-item-author">
                <%= nickname %>
            </span>
        </a>    
        <span class="photo-item-created">
            <%= create_time %>
        </span>
    </div>
    
    <div style="display:none" class="photo-item-header new-item-header">
        <a target="_blank" href="#user/<%= uid %>">
            <img src="<%= avatar %>">
        </a> 
        <span class="new-item-info">
            <a href="#home/<%= uid %>  ">
                <span class="new-item-user"><%= nickname %></span>
            </a>
            <span class="new-item-created"><%= create_time %></span>    
        </span>
        <span class="download-action">
            <span class="download-btn">下载原图</span>
            <span class="icon-download bg-sprite"></span>    
        </span>    
    </div>

    <div class="photo-item-content">
            <% if( reply_count > 0 ) { %>
            <a target="_blank" href="#show/<%= uid %>">
        <% } else { %> 
            <a target="_blank" href="#detail/<%= uid %>">
        <% } %>
            <img src="<%= uploads[0].image_url%>">
        </a>
        <div class="photo-item-reply">
            <div class="photo-item-reply-work">
                <img src="<%= image_url %>">
            </div>
        </div>
    </div>
    <div class="ask-content">
        <%= desc %>
    </div>
    <div class="photo-item-actionbar">
        <span class="bg-sprite icon-like"></span>
        <span class="actionbar-like-count"><%= up_count %></span>
        
        <% if( reply_count > 0 ) { %>
            <a target="_blank" href="#show/<%= uid %>">
        <% } else { %> 
            <a target="_blank" href="#detail/<%= uid %>">
        <% } %>
            <span class="bg-sprite icon-comment"></span>
        </a>
        <span class="actionbar-comment-count"><%= comment_count %></span>

        <span class="actionbar-share-icons">
            <span class="actionbar-share-weibo bg-sprite icon-weibo"></span>
            <span class="actionbar-share-moments bg-sprite icon-moments"></span>            
            <span class="actionbar-share-wechat bg-sprite icon-wechat"></span>
        </span>
    </div>
<!--     <div class="photo-item-replies">
        <img src="http://7u2spr.com1.z0.glb.clouddn.com/20150728-15144955b72be936de0.jpg"> 
        <img src="http://7u2spr.com1.z0.glb.clouddn.com/20150728-15144955b72be936de0.jpg">
        <span class="reply-count"><%= reply_count %>人P过</span> 
    </div> -->
</div>
