<link rel="stylesheet" href="/main/css/ask-detail.css" type="text/css" >
<div class="ask-detail-container">
    <div class="ask-area">
        <div class="ask-item">

            <div class="ask-item-header">
                <a target="_blank" href="#home/<%= uid %>">
                    <img src="<%= avatar %>" alt="{{ $ask_item['nickname']  }}">
                </a>
                <span class="ask-item-info">
                <a target="_blank" href="#home/<%= uid %>">
                    <span class="ask-item-user">
                        <%= nickname %>
                    </span>
                </a>
                    <span class="ask-item-created">
                        <%= create_time %>
                    </span>
                </span>
               <span class="dowload-actionbar">
                    <a href="<%= image_url %>">
                        <span class="download-original">下载原图</span>
                    </a>
                    <span class="download-icon bg-sprite"></span>
               </span>
            </div>                

            <div class="ask-item-picture">
                <a href="#popup/detail/<%= id %>">
                    <img src="<%= image_url %>">
                </a>
            </div> 

            <div class="ask-item-actionbar">   
                <span class="bg-sprite icon-like-large"></span> 
                <span class="askItem-actionbar-like-count"><%= 1 %></span> 
                <span class="bg-sprite icon-comment-large askItem-actionbar-comment-icon"></span>
                <span class="askItem-actionbar-comment-count"><%= 1 %></span>
                <span class="askItem-actionbar-share-icons right">
                    <span class="askItem-actionbar-share-weibo bg-sprite icon-weibo-large"></span>
                    <span class="askItem-actionbar-share-wechat bg-sprite icon-wechat-large"></span>
                    <span class="askItem-actionbar-share-moments bg-sprite icon-moments-large"></span>
                </span>
            </div>
            <div class="commend-frame">
                <textarea name="" id="" ></textarea>
                <span class="commend-btn right">评论</span>   
            </div>
            <div class="clear"></div>
            <!-- 热门评论 -->
            <div class="commend-hot-content">
                <span class="commend-hot-title">
                    <span class="hot-icon bg-sprite"></span>
                    <span class="hot-font">最热评论</span>
                </span>
                <div class="hot-content ">
                    <a target="_blank" href="#home/<%= uid %>">
                        <span class="commend-user-information">
                            <span class="commend-head-portrait">
                                <img src="<%= avatar %>" alt="{{ $comment['nickname']  }}">
                            </span>
                            <span class="commend-nickname"><%= '刘金平' %></span>
                        </span>
                    </a>
                    <span class="commend-item-content">
                        <span class="commend-content"><%= 1 %></span>
                        <span class="hot-item-actionbar">
                            <span class="commend-release-time"><%= 19900101 %></span>
                            <span class="actionbar-reply-link right">
                                <span class="reply-btn">回复</span>
                                <span class="link-icon bg-sprite"></span>
                                <span class="actionbar-like-count"><%= 1 %></span>
                            </span>
                        </span>
                    </span>
                    <span class="commend-reply-content hide">
                        <span class="commend-reply-area">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </span>
                        <span class="command-item-reply-btn">
                            <span class="commend-reply-btn right">回复</span>
                        </span>
                    </span>
                </div>
            </div>
            <!-- 最新评论 -->
            <div class="commend-newest-content">
                <span class="commend-newest-title">
                    <span class="newest-icon bg-sprite"></span>
                    <span class="newest-font">最新评论</span>
                </span>
                <div class="newest-content">
                    <span class="commend-user-information">
                        <span class="commend-head-portrait">
                            <img src="<%= avatar %>" alt="{{ $comment['nickname']  }}">
                        </span>
                        <span class="commend-nickname"><%= '刘金平' %></span>
                    </span>
                    <span class="commend-item-content">
                        <span class="commend-content">
                            <%= '你们好' %>
                           <span class="">//<i class="reply-symbol">@</i><%= '刘金平' %>:<%= '大家好' %></span>
                        </span>
                        <span class="newest-item-actionbar">
                            <span class="commend-release-time"><%= 19900101 %></span>
                            <span class="actionbar-reply-link right">
                                <span class="reply-btn">回复</span>
                                <span class="link-icon bg-sprite"></span>
                                <span class="actionbar-like-count"><%= 1 %></span>
                            </span>
                        </span>
                    </span>
                    <span class="commend-reply-content commend-area-hide">
                        <span class="commend-reply-area">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </span>
                       <span class="command-item-reply-btn">
                            <span class="commend-reply-btn right">回复</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- QRCODE -->
    <div class="commend-QRCode">
        <span class="picture-QRCode">
            <img src="/main/img/WachatQrcode.png" alt="">
        </span>
        <span class="load-iphone-btn">
            <span class="iphone-icon bg-sprite"></span>
        </span>
        <span class="load-android-btn">
            <span class="android-icon bg-sprite"></span>
        </span>
    </div>
</div>

