<link rel="stylesheet" href="/main/css/dynamics.css" type="text/css" >
<div class="dynamics-container">
    <div class="dynamics-section">
      <span class="dynamics-person">
          <span class="head-picture">
              <img src="<%= avatar %>" alt="">
          </span>
          <span class="name">
              <%= nickname %>
          </span>
      </span>
      <div class="dynamics-right-content">
        <span class="dynamics-content">
            <span class="dynamics-header">
              <span class="describe">
                上传了一张作品，并说：
              </span>
              <span class="dynamics-time">
                 <i class="time-icon bg-sprite-new"></i>
                 <span class="time"><%= time(create_time) %></span>
              </span>
            </span>
            <span class="reply-content">
              <i class="colon-left-icon bg-sprite-new"></i>
              <span  class="content"><%= desc %></span>
              <i class="colon-right-icon bg-sprite-new"></i>
            </span>
        </span>
        <span class="picture-content">
          <span class="reply-picture">
            <i class="reply-icon bg-sprite-new"></i>
            <img src="<%= image_url %>" alt="">
          </span>
          <span class="point">
            <i class="point-icon bg-sprite-new"></i>
          </span>
          <span class="ask-picture">
            <i class="ask-icon bg-sprite-new"></i>
            <img src="<%= ask_uploads[0].image_url %>" alt="">
          </span>
        </span>
        <div class="dynamics-item-actionbar">
            <span class="collection-actionbar">
                <i class="collection-icon bg-sprite-new"></i>
                <i class="collection-count"><%= collect_count %></i>
            </span>
            <span class="comment-actionbar">
                <i class="comment-icon bg-sprite-new"></i>
                <i class="comment-count"><%= comment_count %></i>
            </span>
            <span class="share-actionbar">
                <i class="share-icon bg-sprite-new"></i>
                <i class="share-count"><%= share_count %></i>
            </span>
            <span class="P-actionbar">
                <i class="P-icon bg-sprite-new"></i>
                <i class="P-count">参与帮P</i>
            </span>
            <span class="like-actionbar">
                <i class="like-icon bg-sprite-new"></i>
                <i class="like-count"><%= up_count %></i>
            </span>
        </div>
      </div>
    </div>
</div>
