<div class="dynamics-container">
    <div class="dynamics-section">
      <a class="dynamics-person" href="home.html#home/ask/<%=uid%>">
          <span class="head-picture">
              <img src="<%= avatar %>" alt="">
          </span>
          <span class="name">
              <%= nickname %>
          </span>
      </a>
      <div class="dynamics-right-content">
        <span class="dynamics-content">
            <span class="dynamics-header">
              <span class="describe">
                <% if( type == 1 ) {%>
                上传了一张求助，并说：
                <% } %>
                <% if( type == 2 ) {%>
                上传了一张作品，并说：
                <% } %>
              </span>
              <span class="dynamics-time">
                 <i class="time-icon bg-sprite-new"></i>
                 <span class="time"><%= time(create_time) %></span>
              </span>
            </span>
            <span class="reply-content">
              <i class="colon-left-icon bg-sprite-new"></i>
              <span  class="content"><%= desc %></span>
              <i class="colon-right-icon bg-sprite-new"></i>
            </span>
        </span>

        <% if( type == 2 ) {%>
        
        <span class="picture-content" data="<%= type %>">
          <a target="_blank" href="#show/<%= ask_id %>/<%= id %>">
            <span class="reply-picture center-loading-image-container">
              <i class="reply-icon bg-sprite-new"></i>
              <span>
              <span class="center-loading">
                <span class="is-loading">
                  <img src="<%= image_url %>" alt="">
                </span>
                </span>
              </span>
            </span>
          </a>
          <span class="point">
            <i class="point-icon bg-sprite-new"></i>
          </span>
          <a target="_blank" href="#comment/ask/<%= ask_id %>">
          <span class="ask-picture center-loading-image-container">
            <i class="ask-icon bg-sprite-new"></i>
            <span class="center-loading">
                <span class="is-loading">
                  <img src="<%= ask_uploads[0].image_url %>" alt="">
                <span>
            </span>
          </span>
          </a>
        </span>

        <% } else { %>

          <span class="picture-content">
          <a target="_blank" href="#comment/ask/<%= id %>">
            <span class="ask-picture-ask">
              <i class="ask-icon bg-sprite-new"></i>
              <img src="<%= image_url %>" alt="">
            </span>
          </a>
        </span>

        <% } %>

        <div class="dynamics-item-actionbar">
    <!--         <span class="collection-actionbar">
                <i class="collection-icon collection_toggle bg-sprite-new" data-type="<%= type %>" data-id="<%= uid %>"></i>
                <i class="collection-count"><%= collect_count %></i>
            </span> -->

          <% if( type == 1 ) { %>
          <a target="_blank" href="#comment/ask/<%= id %>">
            <span class="comment-actionbar">
                <i class="comment-icon bg-sprite-new"></i>
                <i class="comment-count"><%= comment_count %></i>
            </span>
          </a>
          <% } else { %>
            <a target="_blank" href="#show/<%= ask_id %>/<%= id %>">
               <span class="comment-actionbar">
                  <i class="comment-icon bg-sprite-new"></i>
                  <i class="comment-count"><%= comment_count %></i>
              </span>
            </a>
          <% } %>



            <span class="share-actionbar">
                <i class="share-icon bg-sprite-new"></i>
                <i class="share-count"><%= share_count %></i>
            </span>
          
            <% if( type == 1) { %>
          
            <span class="P-actionbar-pressed">
               <a data-type="<%= type %>" data-id="<%= id %>" class="download">
                  <i class="P-icon bg-sprite-new"></i>
                  <i class="P-count">参与帮P</i>
                </a>
            </span>

            <% }else { %>

            <span class="P-actionbar">
                  <i class="P-icon bg-sprite-new"></i>
                  <i class="P-count">参与帮P</i>
            </span>

            <% } %>

            </a>

            <span class="like-actionbar " data-type="<%= type %>" data-id="<%= id %>" >
                <i class="like-icon bg-sprite-new like_toggle <%= (uped)? 'liked': '' %>" data-type="<%= type %>" data-id="<%= id %>"></i>
                <i class="like-count <%= (uped)? 'like-color': '' %>"><%= up_count %></i>
            </span>
        </div>
      </div>
    </div>
</div>
