<link rel="stylesheet" href="/main/css/friendship.css" type="text/css" >
<div class="friendship-container">
	<div class="friendship-section">
		<div class="friendship-header">
			<ul>
				<li class="attention-nav">关注 123</li>
				<li class="fans-nav">粉丝 123</li>
			</ul>
		</div>
		<div class="friendship-main">
			<div class="friendship-avatar">
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151102-1424165637019019251.jpg?imageView2/2/w/720" alt="">
			</div>
			<div class="friendship-section-right">
				<div class="name">刘金平</div>
				<div class="district">广东,深圳</div>
				<ul>
					<li class="attention-item">
						<i class="attention-count">123</i>
						<span class="attention">关注</span>
					</li>
					<li class="fans-item">
						<i class="fans-count">123</i>
						<span class="fans">粉丝</span>
					</li>
					<li class="like-item">
						<i class="like-count">123</i>
						<span class="like">点赞</span>
					</li>
				</ul>
				<div class="attention-btn">+关注</div>
			</div>
		</div>
	</div>

	    <!-- QRCODE -->
    <div class="comment-QRCode">
        <span class="picture-QRCode">
                <img src="/main/img/WachatQrcode.png" alt="">
        </span>
        <span class="load-iphone-btn">
            <span class="iphone-icon bg-sprite"></span>
        </span>
        <span class="load-android-btn">
            <span class="android-icon bg-sprite"></span>
        </span>
    </div>
</div>