<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="../../../main/css/h5.css">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<title>H5</title>
</head>
<body>
	<div class="share-container">
		<section class="header-section">
			<span class="header-portrait">
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151024-143835562b276b2d339.png?imageView2/2/w/300" alt="">
			</span>
			<span class="personage-message">
				<span class="name">沉沉</span>
				<span class="create-time">1小时前</span>
			</span>
		</section>
		<section class="picture">
			<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151024-143835562b276b2d339.png?imageView2/2/w/300" alt="">
		</section>
		<section class="describe-content">
			<span class="content">
				给本宫p一个emoji表情真人版
			</span>
		</section>
		<section class="actionbar-container">
			<span class="comment-message">
				<i class="comment-icon spriteH5"></i>
				<i class="comment-count">123</i>
			</span>
			<span class="share-message">
				<i class="share-icon spriteH5"></i>
				<i class="share-count">123</i>
			</span>
			<i class="p-icon spriteH5"></i>
		</section>
		<section>
			<div class="comment-container">
				<div class="comment-head">
					<span  class="head-portrait">
						<img src="http://7u2spr.com1.z0.glb.clouddn.com/20151024-143835562b276b2d339.png?imageView2/2/w/300" alt="">
					</span>
					<span class="comment-message">
						<span class="comment-name">咩咩咩</span>
						<span class="comment-content">好</span>
						<span class="comment-time">1分钟前</span>
					</span>
				</div>
			</div>
		</section>
		<section class="all-comment">
			<div class="look-over-comment">查看所有评论</div>
		</section>
		<section class="footer-container">
			<span class="app-logo">
				<img src="../../../main/img/logo.jpg" alt="">
			</span>
			<span class="app-message">
				<span class="app-name">图派</span>
				<span class="app-link">tupppai.com</span>
			</span>
			<span class="app-download-btn">
				<img src="../../../main/img/downloadRemind.jpg" alt="">
			</span>
		</section>

	</div>
</body>
</html>