
<div class="user-message" data-id="<%= uid %>">
    <div class="profile-view hide">
        <ul>
            <li class="avatar">
                <span class="user-avatar">
                    <span class="title-bar-setting">
                        <div id="setting_panel" class="">
                            <a class="move-style" href="home.html#home/ask/<%= uid %>">个人主页</a>
                            <a class="move-style" href="#setting">账号设置</a>
                            <a class="move-style" href="#logout">退出登录</a>
                        </div>
                    </span>
                    <a>
                        <img src="<%= avatar %>" alt="">
                    </a>
                </span>
            </li>
      <!--           <span class="message">
                    <a href="">
                        <i class="message-icon bg-sprite-new"></i>
                        <i class="message-remind-icon"></i>
                    </a>
                </span> -->
            
            <li class="remind-message">
                <a href="#message/<%= uid %>">
                    <i class="message-remind-icon bg-sprite"></i> 
                    <!-- <i class="remind-red-dot-icon bg-sprite"></i>   -->
                </a>
            </li>
            
        </ul>
    </div>
     <div class="login-view hide">
        <!-- <li class="weibo"><i class="bg-sprite icon-weibo"></i>微博快速登录</li> -->
        <a href="#login-popup" class="login-popup"><li class="login">登录</li></a>
        <a href="#register-popup" class="register-popup"><li class="register">注册</li></a>
    </div>
    <ul>
        <!-- <li class="tupai">关于图派</li> -->
        <a target="_blank" href="download.html"><li class="contact-us">联系我们</li></a>
            <li class="app-tupai">客户端<span class="download-picture"></span></li>
            
    </ul>
</div>
<div class="logo">
    <div class="logo-icon bg-sprite-new"></div>
</div>

<div class="upload-btn"> 
    <% if(uid) { %>
        <a href="#uploading-popup" class="uploading-popup">
           <span class="upload-ask">上传求P</span>
        </a>
        <a href="home.html#home/inprogress/<%= uid %>" >
           <span class="upload-reply">上传作品</span>
        </a>
    <% } else { %>
        <a href="#login-popup" class="login-popup">
           <span class="upload-ask">上传求P</span>
        </a>
        <a href="#login-popup" class="login-popup">
           <span class="upload-reply">上传作品</span>
        </a>
    <% } %>

</div>
<!--

上个版本

 <div class="login-view ">
    <span class="bg-sprite title-bar-wehcat icon-wechat-pressed"></span>
    <a href=""><span class="login-by-wechat">微信快速登录</span></a>
    <a href="#login-popup" class="login-popup"><span class="login-btn">登录</span></a>
    <a href="#register-popup" class="register-popup"><span class="register">注册</span></a>
</div>
<div class="profile-view hide">
    <a class="menu-bar-upload-btn" href="home.html#home/inprogress/<%= uid %>">上传作品</a>
    <a href="home.html#home/ask/<%= uid %>">
        <span class="user-avatar">
            <span class="is-loading">
                <img src="<%= avatar %>">
            </span>
        </span>
    </a>
    
    <span class="title-bar-setting icon-setting bg-sprite">
        <div id="setting_panel" class="hide">
            <a>账号设置</a>
            <a>退出登录</a>
        </div>
    </span>
    <a href="#logout">
        <span class="title-bar-end icon-end bg-sprite">
        </span>
    </a>
</div>
 -->

