
<div class="user-massage">
    <div class="profile-view hide">
        <ul>
            <li class="avatar">
                <span class="user-avatar">
                    <span class="title-bar-setting">
                        <div id="setting_panel" class="">
                            <a>账号设置</a>
                            <a href="#logout">退出登录</a>
                        </div>
                    </span>
                    <a href="#home/ask/<%= uid %>">
                        <img src="<%= avatar %>" alt="">
                    </a>
                </span>
            </li>
            <li class="remind-message">
                <i class="message-remind-icon bg-sprite"></i>
                <i class="remind-red-dot-icon bg-sprite"></i>   
            </li>
        </ul>
    </div>
     <div class="login-view">
        <!-- <li class="weibo"><i class="bg-sprite icon-weibo"></i>微博快速登录</li> -->
        <a href="#login-popup" class="login-popup"><li class="login">登录</li></a>
        <a href="#register-popup" class="register-popup"><li class="register">注册</li></a>
    </div>
    <ul>
        <li class="tupai">关于图派</li>
        <li class="contact-us">联系我们</li>
        <a href="/#download">
            <li class="app-tupai">客户端</li>
        </a>
    </ul>
</div>

<!--

上个版本

 <div class="login-view ">
    <span class="bg-sprite title-bar-wehcat icon-wechat-pressed"></span>
    <a href=""><span class="login-by-wechat">微信快速登录</span></a>
    <a href="#login-popup" class="login-popup"><span class="login-btn">登录</span></a>
    <a href="#register-popup" class="register-popup"><span class="register">注册</span></a>
</div>
<div class="profile-view hide">
    <a class="menu-bar-upload-btn" href="#home/inprogress/<%= uid %>">上传作品</a>
    <a href="#home/ask/<%= uid %>">
        <span class="user-avatar">
            <span class="is-loading">
                <img src="<%= avatar %>">
            </span>
        </span>
    </a>
    
    <span class="title-bar-setting icon-setting bg-sprite">
        <div id="setting_panel" class="hide">
            <a>账号设置</a>
            <a>退出登录</a>
        </div>
    </span>
    <a href="#logout">
        <span class="title-bar-end icon-end bg-sprite">
        </span>
    </a>
</div>
 -->

