<div class="login-view ">
    <span class="bg-sprite title-bar-wehcat icon-wechat-pressed"></span>
    <a data-remodal-target="Wechar-Qrcode-modal" href="#Wechar-Qrcode-modal"><span class="login-by-wechat">微信快速登录</span></a>
    <a href="#login-popup"><span class="login-btn fancybox">登录</span></a>
    <a href="#register"><span class="register-btn">注册</span></a>
</div>
<div class="profile-view hide">
    <a class="menu-bar-upload-btn" href="#home/inprogress/<%= uid %>">上传作品</a>
    <a href="#home/ask/<%= uid %>">
        <span class="user-avatar">
            <span class="is-loading">
                <img src="<%= avatar %>">
            </span>
        </span>
    </a>
    
    <span class="title-bar-setting icon-setting bg-sprite">
        <div id="setting_panel" class="hide">
            <a>账号设置</a>
            <a>退出登录</a>
        </div>
    </span>
    <a href="#logout">
        <span class="title-bar-end icon-end bg-sprite">
        </span>
    </a>
</div>
