<link rel="stylesheet" href="/main/css/home.css" type="text/css">

<div class="inner-container">
	<div class="personage-container">
	<!-- 个人页面的左侧 -->
		<div class="personage-message left">
			<div class="personage-header">
				<span class="home-page-icon bg-sprite"></span>
				 <a target="_blank" href="#asks">
				<span class="return-home-page">返回首页</span>
				</a>
			</div>
			<!-- 个人页面main -->
			<div class="personage-details">
				<span class="personage-head-protrait">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20150917-14393355fad0a577e86.jpg" alt="刘金平">
				</span>
				<span class="personage-name"><%= 1 %></span>
				<ul class="personage-actionbar-count">
					<li class="personage-attention">
						<i><%= 1 %></i>
						<span class="personage-attention">关注</span>
					</li>
					<li class="personage-fans">
						<i><%= 1 %></i>
						<span>粉丝</span>
					</li>
					<li class="personage-link">
						<i><%= 1 %></i>
						<span>点赞</span>
					</li>
				</ul>
				<span  class="toggle-attention">
					<span class="cancel-attention">取消关注</span>
					<span class="attention">+关注</span>
				</span>
			</div>
			<!-- 个人页面nav -->
			<div class="personage-nav">
					<span id="load_ask" class="personage-seek-help">
						<span class="border-nav hide"></span>
						<span class="seek-help-icon bg-sprite left"></span>
	                       <span class="seek-help left">求P</span>
	                    <span class="seek-help-count right"><%= 1 %></span>
	                </span>
	                <span id="load_reply" class="personage-photo-product">
	                    <span class="border-nav hide"></span>
	                    <span class="photo-product-icon bg-sprite left"></span>
	                       <span class="photo-product left">作品</span>
	                    <span class="photo-product-count right"><%= 1 %></span>
                	</span>
	                <span id="load_inprogress" class="personage-under-way">
	                    <span class="border-nav hide"></span>
	                    <span class="under-way-icon bg-sprite left"></span>
						   <span class="under-way left">进行中</span>
						<span class="under-way-count right"><%= 1 %></span>
					</span>
				</a>
			</div>
		</div>
		<!-- 个人页面右边 进行中 图片详情 -->
		<!-- section -->
		<div class="under-way-container left" id="homeView">
		</div>
	</div>
</div>
<div class="clear"></div>
