<div class="photo-item left">
    <div class="photo-item-header hot-item-header" data-id="<%= id %>">
        <a href="#home/ask/<%= uid %>">
            <span class="is-loading">
                <img src="<%= avatar %>">
            </span>
            <span class="photo-item-author">
                <%= nickname %>
            </span>
        </a>    
        <span class="photo-item-created">
            <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
        </span>
    </div>

    <div class="photo-item-content">
        <a target="_blank" href="#show/<%= id %>">
            <span class="is-loading">
                <img src="<%= image_url%>">
            </span>
        </a>
        <!-- 有没有多张求助 -->
        <div class="photo-item-reply">
        <% _.each(ask_uploads, function(ask) {  %>
            <div class="photo-item-reply-work">
                <img src="<%= ask.image_url %>">
            </div>
        <% }); %>
        </div>
    </div>
    <div class="ask-content">
        <%= desc %>
    </div>
    <div class="photo-item-actionbar">
        <span data-id="<%= id %>" class="like_toggle bg-sprite icon-like <%= (uped)?'icon-like-pressed': '' %>"></span>
        <span class="actionbar-like-count <%= (uped)?'icon-like-color': '' %>"><%= up_count %></span>
            <a target="_blank" href="#show/<%= uid %>">
            <span class="bg-sprite icon-comment"></span>
        </a>
        <span class="actionbar-comment-count"><%= comment_count %></span>

  <!--       <span class="actionbar-share-icons">
            <span class="actionbar-share-weibo bg-sprite icon-weibo"></span>
            <span class="actionbar-share-moments bg-sprite icon-moments"></span>            
            <span class="actionbar-share-wechat bg-sprite icon-wechat"></span>
        </span> -->
    </div>
</div>
