<div class="ask-item">
    <div class="ask-head">
        <span class="avatar">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/20150901-11150455e5183879fb9.jpg?imageView2/2/w/721" alt="">
        </span>
        <span class="name">
            刘金平
        </span>
        <a href="#reply-uploading-popup" class="reply-uploading-popup" ask-id="<%= ask_id %>">
            <span class="upload-reply-btn">
                +作品
            </span>
        </a> 
    </div>
    <div class="ask-image">
        <img src="http://7u2spr.com1.z0.glb.clouddn.com/20150901-11150455e5183879fb9.jpg?imageView2/2/w/721" alt="">
    </div>
    <div class="desc">
        求帅点
    </div>
</div>