<!-- 查看图片详情弹窗 -->
<div class="picture-popup remodal" data-remodal-id="picture-popup-modal" role="dialog">
    <span class="close-icon bg-sprite"></span>
    <div class="picture-product hide">
        <span class="popup-header">
            <span class="download-icon bg-sprite"></span>
            <a data="reply" data-id="<%= id %>" class="download">
                <span class="picture-download">下载作品</span>
            </a>
        </span>
        <span class="picture-show">
            <span class="is-loading">
                <img src="<%= image_url %>" alt="">
            </span>
        </span>
    </div>
    <div class="picture-original">
        <span class="popup-header">
            <span class="download-gray-icon bg-sprite"></span>
            <a data="ask" data-id="<%= id %>" class="download">
                <span class="picture-download">下载原图</span>
            </a>
        </span>
        <span class="picture-show">
            <img src="<%= image_url %>" alt="">
        </span>
    </div>
</div>
