<div class="remodal register-dialog" data-remodal-id="Register-modal" role="dialog">
    <div class="register-panel">
        <div class="login-header">
            <div class="login-title">
                登录
            </div>
            <div class="login-line-between"></div>
            <a data-remodal-target="Register-modal" href="#data-remodal-id=Register-modal">
                <div class="register-title">
                    注册
                </div>
            </a>
        </div>
        <div class="register-nickname">
            <input type="text" placeholder="昵称" >
        </div>
        <div class="option-sex">
            性别:
            <div class="option-boy">
                <input type="radio" class="option-boy-input bg-sprite" name="sex" >
                <span>男</span>
            </div>
            <div class="option-girl">
                <input type="radio" class="option-girl-input bg-sprite" name="sex">
                <span>女</span>
            </div>
        </div>
        <div class="register-phone">
            <input type="text" placeholder="手机" >
        </div>
        <div class="verification-code">
            <input type="text" placeholder="验证码">
            <span class="send-verification-code">发送验证码</span>
            <span class="again-verification-code">重新发送(60s)</span>
        </div>
        <div class="register-password">
            <input type="text" placeholder="密码">
        </div>
        <div class="agree-deal">
            <input name="checkbox" type="checkbox" value="checkbox" checked="checked" />
            <a href="#"><span>我已阅读并同意图派协议</span></a>
        </div>
        <div class="register-btn">
            注册
        </div>
    </div>
</div>
