<div class="register-dialog" id="register-popup" >
    <div class="register-panel">
        <div class="login-header">
            <a href="#login-popup" class="login-popup">
                <div class="login-title">
                    登录
                </div>
            </a>
            <div class="login-line-between"></div>
                <div class="register-title">
                    注册
                </div>
        </div>
        <div class="register-nickname">
            <input id="register_nickname" name="nickname" type="text" placeholder="昵称" >
            <div id="nickname_empty" class="reminder hide">
                <span class="reminder-cantent">昵称不能为空</span>
            </div>
        </div>
        <div class="option-sex">
            性别:
            <div class="option-boy">
                <input type="radio" class="sex-pressed boy-option boy-pressed bg-sprite" name="sex" >
                <span>男</span>
            </div>
            <div class="option-girl">
                <input type="radio" class="sex-pressed girl-option bg-sprite" name="sex">
                <span>女</span>
            </div>
        </div>
        <div class="register-phone">
            <input id="register_photo" type="text" name="photo" placeholder="手机" >
            <div id="photo_empty" class="reminder hide">
                <span class="reminder-cantent">手机号码不能为空</span>
            </div>
        </div>
<!--         <div class="verification-code">
            <input id="register_code" type="text" name="registerCode" placeholder="验证码">
            <span class="send-verification-code">发送验证码</span>
            <span class="again-verification-code">重新发送(60s)</span>
        </div> -->
        <div class="register-password">
            <input id="register_password" type="text" name="registerPassword" placeholder="密码">
            <div id="password_empty" class="reminder hide">
                <span class="reminder-cantent">密码不能为空</span>
            </div>
        </div>
        <div class="hide register-avatar">
            <img id="register-avatar" src="" alt="">
        </div>
        <div  class="agree-deal">
            <input name="checkbox" type="checkbox" value="checkbox" checked="checked" />
            <a target="_blank"  href="/mobile/agreement.html"><span>我已阅读并同意图派协议</span></a>
        </div>
        <div class="register-btn">
            注册
        </div>
        <div class="or">或</div>
        <div class="weibo-login-btn">
            <i class="weibo-icon bg-sprite-new"></i>
            <em>微博注册</em>
        </div>
    </div>
</div>
