<link rel="stylesheet" href="/main/css/show.css" type="text/css" >

<div class="ask-show-container">
    <!-- ask show area  -->
    <div class="ask-show-area">
        <!-- display reply items -->
        <div class="reply-item">
            <div class="reply-item-header">
                <a href="#home/<%= uid %>">
                    <span class="is-loading">
                        <img src="<%= avatar %>">
                    </span>
                </a>
                <span class="reply-item-info">
                    <a href="#home/<%= uid %>">
                        <span class="reply-item-user">
                            <%= nickname %>
                        </span>
                    </a>
                    <span class="reply-item-created">
                        <%= create_time %>
                    </span>
                </span>
               <span class="dowload-actionbar">
                   <a data="<%= type %>" data-id="<%= id %>" class="download">
                        <span class="download-original">下载作品</span>
                    </a>
                    <span class="download-icon bg-sprite"></span>
               </span>
            </div>                

            <div class="reply-item-content">
                <a href="#popup/show/<%= uid %>">
                    <span class="is-loading">
                        <img src="<%= image_url %>">
                    </span>
                </a>
            </div> 

            <div class="reply-item-actionbar">    
                <span class="bg-sprite icon-like-large replyItem-actionbar-like-icon"></span> 
                <span class="replyItem-actionbar-like-count"><%= up_count %></span> 
                <a target="_blank" href="#comment/<%= uid %>">
                    <span class="bg-sprite icon-comment-large replyItem-actionbar-comment-icon"></span>
                </a>
                <span class="replyItem-actionbar-comment-count"><%= comment_count %></span>
                <span class="replyItem-actionbar-share-icons right">
                    <span class="replyItem-actionbar-share-weibo bg-sprite icon-weibo-large"></span>
                    <span class="replyItem-actionbar-share-wechat bg-sprite icon-wechat-large"></span>
                    <span class="replyItem-actionbar-share-moments bg-sprite icon-moments-large"></span>
                </span>
            </div>
        </div>
    </div>    

    <!-- arrow area  -->
    <div class="ask-show-arrow"></div>

    <!-- origin picture area  -->
    <div class="ask-origin-pic">
        <div class="ask-origin-header">
            <a href="#home/<%= uid %>">
                <span class="is-loading">
                    <img src="<%= avatar %>">
                </span>
            </a>
            <span class="ask-origin-info">
                <a target="_blank" href="#home/<%= uid %>">
                    <span class="ask-origin-user"><%= nickname %></span>
                    <span class="ask-origin-created"><%= create_time %></span>
                </a>
            </span>
            <span class="dowload-actionbar">
                <a data="<%= type %>" data-id="<%= id %>" class="download">
                    <span class="download-original">下载原图</span>
                </a>
                <span class="download-icon bg-sprite"></span>
            </span>
        </div> 
        <div class="ask-origin-content">
            <a href="#popup/<%= uid %>">
                <span class="is-loading">
                    <img src="<%= image_url %>">
                </span>
            </a>
        </div>
        <div class="ask-content">
                帮我P帅气点
        </div>
        <div class="photo-item-actionbar">
            <span class="ask-like-icon bg-sprite icon-like"></span>
            <span class="actionbar-like-count"><%= up_count %></span>
            <a target="_blank" href="#comment/<%= uid %>">
                <span class="actionbar-comment-icon bg-sprite icon-comment"></span>
            </a>
            <span class="actionbar-comment-count"><%= comment_count %></span>

            <span class="actionbar-share-icons right">                
                <span class="actionbar-share-weibo bg-sprite icon-weibo"></span>
                <span class="actionbar-share-moments bg-sprite icon-moments"></span>            
                <span class="actionbar-share-wechat bg-sprite icon-wechat"></span>
            </span>
        </div>
        <div class="ask-origin-actionbar"></div>
    </div>
</div>
