<!-- 上传作品弹窗  -->
<!-- uploading-production -->
<div class="upload-work-modal" id="uploading-popup">
    <span class="upload-header">上传作品</span>
    <div class="upload-main">
        <span class="upload-case ">
                 <img class="show-picture opacity" src=" " alt="作品图品">
            <div class="upload-middle">
                <span class="upload-icon bg-sprite">
                    <input id="upload_picture" type="file" accept="image/gif, image/jpeg" class="" >
                    <input type="hidden" name="show-picture">
                    <span class="upload-remind">上传图片</span>
                </span>
            </div>
        </span>
              <span class="reply-description">
            <span class="reply-description-remind" >作品内容填写:</span>   
            <input  class="reply-content" type="text"></input>   
        </span>
    </div>
    <div class="upload-accomplish right disable">
        完成
    </div>
</div>
