<!-- 上传作品弹窗  -->
<!-- uploading-production -->
<div class="upload-work-modal" id="uploading-popup">
    <span class="upload-header">上传作品</span>
    <div class="upload-main">
        <span class="upload-case">
                <span class="is-loading">
                    <img class="show-picture" src=" " alt="作品图品">
                </span>
            <div class="upload-middle">
                <span class="upload-icon bg-sprite">
                    <input id="upload_picture" type="file" accept="image/gif, image/jpeg" class="" >
                    <input type="hidden" name="show-picture">
                </span>
            </div>
            <span class="upload-remind">上传图片</span>
        </span>
    </div>
    <div class="upload-accomplish right">
        完成
    </div>
</div>