<!-- 上传作品弹窗  -->
<!-- uploading-production -->
<div class="upload-work-modal remodal" data-remodal-id="uploading-modal" role="dialog">
    <span class="close-icon bg-sprite"></span>
    <span class="upload-header">上传作品</span>
    <div class="upload-main">
        <span class="upload-case">
            <span class="is-loading">
                <span class="is-loading">
                    <img src="<% image_url %>" alt="作品图品">
                </span>
            </span>
            <div class="upload-middle">
                <span class="upload-icon bg-sprite"></span>
            </div>
            <span class="upload-remind">上传图片</span>
        </span>
    </div>
    <div class="upload-accomplish right">
        完成
    </div>
</div>