<div class="friendship-main clearfix">
    <div class="friendship-avatar">
        <a target="_blank" href="#homepage/reply/<%= uid %>" class="avatar-header">
            <img src="<%= avatar %>" alt="">
                <i class="bg-sprite-rebirth middle-v-icon"></i>
            <% if (is_star) { %>
            <% } %>
        </a>
    </div>
    <div class="friendship-section-right">
        <div class="fons-right">
            <div class="name" data-id="<%= uid %>"><%= nickname %></div>
            <!-- <div class="district">广东,深圳</div> -->
            <ul class="clearfix">
                <li class="attention-item">
                    <span class="attention">作品</span>
                    <i class="attention-count"><%= reply_count %></i>
                </li>
                <li class="fans-item attention-item">
                    <span class="fans">粉丝</span>
                    <i class="fans-count"><%= fans_count %></i>
                </li>
                <li class="like-item attention-item">
                    <span class="like">获赞</span>
                    <i class="like-count"><%= uped_count %></i>
                </li>
            </ul>
        </div>
        <% 
            var own_uid = $('.user-message').attr('data-id'); 
            if( own_uid != uid ) {
        %>
            <% if ( is_follow && is_fan ){ %> 
                <span id="one-another" class="one-another" data-id="<%= uid %>">互相关注</span>
            <% } else if( is_follow){ %>
                <span class="attention-btn" data-id="<%= uid %>">已关注</span>
            <% } else if( is_fan ){ %>
                <span id="one-another" class="one-another" data-id="<%= uid %>">互相关注</span>
                <span id="attention" class="attention-btn attention-btn" data-id="<%= uid %>">+关注</span>
            <% } else { %>
                <span class="attention-btn" data-id="<%= uid %>">已关注</span>
                <span id="attention" class="attention-btn attention-btn" data-id="<%= uid %>">+关注</span>
            <% } %>
        <% } %>
    </div>
</div>