<div class="home-conduct">
	<div class="conduct-cantainer clearfix">
		<div class="conduct-pic">
			<a target="_blank" href="#askdetail/ask/<%= ask_id %>">
				<img src="<%= image_url %>" alt="">
			</a>
		</div>
		<div class="conduct-right">
			<div class="conduct-header">
				<a target="_blank" href="#homepage/reply/<%= uid %>" class="collection-header-content">
					<em>
						<img src="<%= avatar %>" alt="">
					</em>
					<span class="name-v">
						<var><%= nickname %></var>
		                <% if (is_star) { %>
		            		<i class="bg-sprite-rebirth small-v-icon"></i>
		                <% } %>
		            </span>
				</a>
				<em class="conduct-time"><% var timeMatrixing = time(create_time); %><%= timeMatrixing %></em>
			</div>
			<p><%= desc %></p>
			<div class="uploading-delete clearfix">
				<a href="#reply-uploading-popup" class="reply-uploading-popup" ask-id="<%= ask_id %>">
					<div class="conduct-upload" >
						<% _.each(categories, function(categorty) {  %>
							<i class="categorty-id" data-id="<%= categorty.id %>" ></i>
						<% }) %>
						<span class="bg-sprite-new"></span>
						<em >作品</em>
					</div>
				</a>
				<a class="download" data-type="<%= type %>" data-id="<%= id %>"><div class="conduct-onload"><span class="bg-sprite-new"></span><em>原图</em></div></a>
			</div>
		</div>
	</div>
</div>