<div class="get-avatar" id="boy_code" data-code="<%= data.code %>">
    <div class="avatar-style ">
        <div class="after">
            <div class="avatar-effect none">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/exposure1.jpg?imageMogr2/interlace/1" alt="" effectIndex="2">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/paint1.jpg?imageMogr2/interlace/1" alt="" effectIndex="3">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/european-style1.jpg?imageMogr2/interlace/1" alt="" effectIndex="4">
            </div>            
            <div class="avatar-effect none">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/exposure2.jpg?imageMogr2/interlace/1" alt="" effectIndex="2">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/paint2.jpg?imageMogr2/interlace/1" alt="" effectIndex="3">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/european-style2.jpg?imageMogr2/interlace/1" alt="" effectIndex="4">
            </div>            
            <div class="avatar-effect none">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/exposure3.jpg?imageMogr2/interlace/1" alt="" effectIndex="2">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/paint3.jpg?imageMogr2/interlace/1" alt="" effectIndex="3">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/european-style3.jpg?imageMogr2/interlace/1" alt="" effectIndex="4">
            </div>            
            <div class="avatar-effect none">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/exposure4.jpg?imageMogr2/interlace/1" alt="" effectIndex="2">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/paint4.jpg?imageMogr2/interlace/1" alt="" effectIndex="3">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/european-style4.jpg?imageMogr2/interlace/1" alt="" effectIndex="4">
            </div>            
            <div class="avatar-effect none">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/exposure5.jpg?imageMogr2/interlace/1" alt="" effectIndex="2">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/paint5.jpg?imageMogr2/interlace/1" alt="" effectIndex="3">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/european-style5.jpg?imageMogr2/interlace/1" alt="" effectIndex="4">
            </div>            
            <div class="avatar-effect none">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/exposure6.jpg?imageMogr2/interlace/1" alt="" effectIndex="2">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/paint6.jpg?imageMogr2/interlace/1" alt="" effectIndex="3">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/european-style6.jpg?imageMogr2/interlace/1" alt="" effectIndex="4">
            </div>            
            <div class="avatar-effect none">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/exposure7.jpg?imageMogr2/interlace/1" alt="" effectIndex="2">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/paint7.jpg?imageMogr2/interlace/1" alt="" effectIndex="3">
               <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/european-style7.jpg?imageMogr2/interlace/1" alt="" effectIndex="4">
            </div>
        </div>
        <div class="before">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/original1.jpg?imageMogr2/interlace/1">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/original2.jpg?imageMogr2/interlace/1">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/original3.jpg?imageMogr2/interlace/1">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/original4.jpg?imageMogr2/interlace/1">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/original5.jpg?imageMogr2/interlace/1">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/original6.jpg?imageMogr2/interlace/1">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/original7.jpg?imageMogr2/interlace/1">
        </div>
        <div class="fans"></div>
    </div>
    <div id="downloadImage" class="tips">
        <div class="random none">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/double1.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/color1.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/europe_style1.png">
        </div>        
        <div class="random none">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/double2.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/color2.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/europe_style2.png">
        </div>        
        <div class="random none">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/double3.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/color3.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/europe_style3.png">
        </div>        
        <div class="random none">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/double4.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/color4.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/europe_style4.png">
        </div>        
        <div class="random none">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/double5.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/color5.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/europe_style5.png">
        </div>        
        <div class="random none">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/double7.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/color7.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/europe_style7.png">
        </div>
        <div class="random none">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/double6.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/color6.png">
            <img src="http://7u2spr.com1.z0.glb.clouddn.com/boys/europe_style6.png">
        </div>        
    </div>
    <div class="btn-panel">
        <span id="uploadPopup" data-rand="<%= rand %>" class="upload"></span>
        <span href="#share" class="share"></span>
    </div>
</div>
<div class="pop-howto none">
    <div class="pop-main">
        <a id="uploadImage" class="read"></a>
    </div>
</div>
<div class="share-mask none">
    <p class="mask-p">
        点击右上角发送给朋友<br />
        或分享到朋友圈
    </p>
    <i class="mask-icon"></i>
</div>