<div class="get-avatar">
    <div class="avatar-style ">
        <img class="after" src="/images/liyifeng_big@2x.png">
        <img class="before" src="/images/liyifeng_little@2x.png">
        <div class="fans"></div>
    </div>
    <div class="tips"><img src="/images/03tips01.png"></div>
    <div class="btn-panel">
        <a  class="upload"></a>
        <a href="#share" class="share"></a>
    </div>
</div>
<div class="pop-howto none">
    <div class="pop-main">
        <a id="uploadImage" class="read"></a>
    </div>
</div>