<div class="header-logo"></div>
<div class="header-portrait">
	<div class="user-info">
		<div class="portrait">
			<img src="/img/portrait.png" alt="用户头像">
		</div>
		<span class="nickname">卡拉马子</span>
	</div>
</div>
<ul class="header-nav clearfix">
	<li class="nav-item"><a href="javascript:;">我的求P</a></li>
	<li class="nav-item"><a href="javascript:;">进行中</a></li>
	<li class="nav-item active"><a href="javascript:;">我的作品</a></li>
</ul>
<div class="main-ask">
	<div class="main-ask-section grid clearfix">
		<div class="ask-section grid-item">
			<a href="/services/ask/detail" class="ask-section-main">
				<img src="/img/work.png" alt="作品" class="workPic">
				<span class="desc">描述描述</span>
			</a>
			<div class="ask-section-bottom clearfix">
				<div class="help">
					<i class="icon-help"></i>
					<span class="text-help">23帮P</span>
				</div>
				<div class="work">
					<i class="icon-work"></i>
					<span class="text-work">66作品</span>
				</div>
			</div>
		</div>
		<div class="ask-section grid-item">
			<a href="/services/ask/detail" class="ask-section-main">
				<img src="/img/work2.png" alt="作品" class="workPic">
				<span class="desc">描述描述</span>
			</a>
			<div class="ask-section-bottom clearfix">
				<div class="help">
					<i class="icon-help"></i>
					<span class="text-help">23帮P</span>
				</div>
				<div class="work">
					<i class="icon-work"></i>
					<span class="text-work">66作品</span>
				</div>
			</div>
		</div>
	</div>