<div class="index-banner clearfix">
	<div class="banner clearfix">
		<a href="/#activity/activity"><img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt=""></a>
	</div>
	<div class="tag clearfix">
		<ul>
			<li>
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				<span>按开始减肥了卡死了</span>
			</li>
			<li>
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				<span>按开始减肥了卡死了</span>
			</li>
			<li>
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				<span>按开始减肥了卡死了</span>
			</li>
			<li>
				<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				<span>按开始减肥了卡死了</span>
			</li>
		</ul>
	</div>
</div>
