    <div class="ask-show-area">
        <!-- display reply items -->
        <div class="reply-item">
            <div class="reply-item-header">
                <a href="#home/ask/<%= uid %>">
                    <span class="is-loading">
                        <img src="<%= avatar %>">
                    </span>
                </a>
                <span class="reply-item-info">
                    <a href="#home/ask/<%= uid %>">
                        <span class="reply-item-user">
                            <%= nickname %>
                        </span>
                    </a>
                    <span class="reply-item-created">
                        <% var timeMatrixing = time(create_time); %><%= timeMatrixing %>
                    </span>
                </span>
               <span class="dowload-actionbar">
                   <a data="<%= type %>" data-id="<%= id %>" class="download">
                        <span class="download-original">下载作品</span>
                        <span class="download-icon bg-sprite"></span>
                    </a>
               </span>
            </div>                

            <div class="reply-item-content">
                <a class="fancybox" href="#picture-popup">
                    <span class="is-loading">
                        <img src="<%= image_url %>">
                    </span>
                </a>
            </div> 

            <div class="reply-item-actionbar">    
                <span data-id="<%= id %>" class="bg-sprite icon-like-large replyItem-actionbar-like-icon <%= (uped)? 'icon-like-large-pressed': '' %>">
                </span> 
                <span class="replyItem-actionbar-like-count <%= (uped)? 'icon-like-color': '' %>"><%= up_count %></span> 
                <a target="_blank" href="#comment/show/<%= id %>">
                    <span class="bg-sprite icon-comment-large replyItem-actionbar-comment-icon"></span>
                </a>
                <span class="replyItem-actionbar-comment-count"><%= comment_count %></span>
      <!--           <span class="replyItem-actionbar-share-icons right">
                    <span class="replyItem-actionbar-share-weibo bg-sprite icon-weibo-large"></span>
                    <span class="replyItem-actionbar-share-wechat bg-sprite icon-wechat-large"></span>
                    <span class="replyItem-actionbar-share-moments bg-sprite icon-moments-large"></span>
                </span> -->
            </div>
        </div>
    </div>  
