    <div class="ask-origin-pic">
        <div class="ask-origin-header">
            <a href="#home/ask/<%= uid %>">
                <span class="is-loading">
                    <img src="<%= avatar %>">
                </span>
            </a>
            <span class="ask-origin-info">
                <a target="_blank" href="#home/ask/<%= uid %>">
                    <span class="ask-origin-user"><%= nickname %></span>
                    <span class="ask-origin-created"><%= create_time %></span>
                </a>
            </span>
            <span class="dowload-actionbar">
                <a data="<%= type %>" data-id="<%= id %>" class="download">
                    <span class="download-original">下载原图</span>
                </a>
                <span class="download-icon bg-sprite"></span>
            </span>
        </div> 
        <div class="ask-origin-content">
            <a class="fancybox" href="#picture-popup">
                <span class="is-loading">
                    <img src="<%= image_url %>">
                </span>
            </a>
        </div>
        <div class="ask-content">
                帮我P帅气点
        </div>
        <div class="photo-item-actionbar">
            <span class="ask-like-icon bg-sprite icon-like"></span>
            <span class="actionbar-like-count"><%= up_count %></span>
            <a target="_blank" href="#comment/show/<%= id %>">
                <span class="actionbar-comment-icon bg-sprite icon-comment"></span>
            </a>
            <span class="actionbar-comment-count"><%= comment_count %></span>

            <span class="actionbar-share-icons right">                
                <span class="actionbar-share-weibo bg-sprite icon-weibo"></span>
                <span class="actionbar-share-moments bg-sprite icon-moments"></span>            
                <span class="actionbar-share-wechat bg-sprite icon-wechat"></span>
            </span>
        </div>
        <div class="ask-origin-actionbar"></div>
    </div>