<div class="channel-nav">
	<div class="channel-list">
		<ul>
			<li class="selected">
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>
			<li>
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>
			<li>
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>
			<li>
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>
			<li>
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>
			<li>
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>
			<li>
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>
			<li>
				<div class="channel-icon">
					<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
				</div>
				频道
				<i class="triangle-icon"></i>
			</li>

		</ul>
	</div>
</div>
