<div class="header-logo clearfix">
	<a href="#hot/works" class="logo">
		<img src="/images/logo.png" alt="LOGO">
	</a>
	<a href="" class="personalCenter">
		<img src="/images/personalCenter.png" alt="用户中心">
	</a>
</div>
<ul class="menu" id="serveceMenu">
	<li class="menuTop hide">
		<div class="menuBg"></div>
		<i class="icon-top"></i>
	</li>
	<li class="menuPs hide">
		<!-- <div class="menuBg"></div> -->
		<i class="icon-My"></i>
		<!-- <i class="icon-Ps"></i> -->
		<div class="menuMy-list hide">
			<div class="menuMy-list-hide"></div>
			<a href="#upload/ask" class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-hall"></i>
				<span class="text-menuItem">求P</span>
			</a >
			<a href="#original/index" class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-ask"></i>
				<span class="text-menuItem">帮P</span>
			</a >
<!-- 			<a href="/services/personal/reply" class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-help"></i>
				<span class="text-menuItem">我的帮P</span>
			</a >
			<a href="/services/personal/work" class="menuItem clearfix">
				<i class="icon-menuItem icon-menuItem-work"></i>
				<span class="text-menuItem">我的作品</span>
			</a > -->
		</div>
	</li>
<!-- 	<li class="menuPs">
		<a href="#ask/index" class="icon-Ps"></a>
	</li> -->
</ul>
