<div class="ask-item">
    <div class="ask-head">
        <span class="avatar">
            <img src="<%= avatar %>" alt="">
        </span>
        <span class="name">
            <var><%= nickname %></var>
            <% if (isstar) { %>
                <i class="bg-sprite-rebirth small-v-icon"></i>
            <% } %>
        </span>
        <a href="#reply-uploading-popup" class="reply-uploading-popup" ask-id="<%= ask_id %>">
            <% _.each(categories, function(categorty) {  %>
                <i class="categorty-id" data-id="<%= categorty.id %>" ></i>
            <% }) %>
            <span class="upload-reply-btn" >
                +作品
            </span>
        </a> 
    </div>
    <div class="ask-image">
        <img src="<%= image_url %>" alt="">
    </div>
    <div class="desc">
        <%= desc %>
    </div>
</div>