<div class="common-header">
	<div class="header-section">
		<div class="logo">
			<img src="/img/logo.png" alt="">
		</div>
		<ul class="header-nav">
			<li class="home-press">
				<i class="home-icon home-press-icon"></i>
				首页
			</li>
			<li>
				频道
			</li>
			<li class="home-press">
				作品
			</li>
		</ul>
		<div class="register">
			<div class="">
				<i class="search"></i>
			</div>
			<div class="register-btn">
				<i class="register-icon"></i>
				<span>登录</span>/<span>注册</span>
			</div>
			<div class="ask-button">
				<img src="/img/askp.png" alt="">
			</div>
		</div>
	</div>
</div>
