.common-header {
	height: 59px;
    border-bottom: 3px solid #f5f5f5;
    margin-bottom: 10px;
	.header-section {
	    width: 1080px;
	    margin: 20px auto 0;
	    padding-bottom: 20px;
	    border-bottom: 1px solid #eee;
		.logo {
			float: left;
		    height: 55px;
			img {
			    margin-top: 4px;
			}
		}
		.header-nav {
	        float: left;
		    margin-left: 65px;
	    	height: 55px;
	    	font-size: 20px;
	    	.home-press {
			    color: #f9d160;
		        border-bottom: 3px solid #f9d160;
				.home-press-icon {
					background: url('/img/home.png') no-repeat !important;
				    display: inline-block;
				    width: 22px;
				    height: 23px;
				    vertical-align: sub;
				}
	    	}
			.home-icon {
			    background: url('/img/home_gray.png') no-repeat;
			    display: inline-block;
			    width: 22px;
			    height: 23px;
			    vertical-align: sub;

			}
			li {
			    width: 70px;
			    text-align: center;
			    height: 55px;
			    line-height: 68px;
			    color: #32303e;
		        float: left;
			    margin: 0 20px;
			}
		}
		.register {
		    float: right;
	    	width: 180px;
    	    margin-right: -10px;
			.register-btn {
				float: left;
			    font-size: 14px;
			    color: #a0a0a0;
		        height: 60px;
	    		line-height: 60px;
			}
			.register-icon {
				background: url('/img/log_in.png') no-repeat;
			    display: inline-block;
			    width: 22px;
			    height: 23px;
			    vertical-align: text-top;;
			}
			.ask-button {
			    float: right;
		        height: 40px;
				margin-top: 8px;
			}
		}
	}
}
