<div class="common-header">
	<div class="header-section">
		<div class="logo">
			<img src="/web/img/logo.png" alt="">
		</div>
		<ul class="header-nav">
			<li class="index-header">
				<a href="#/index/index">
					<i class="home-icon home-press-icon"></i>
					首页
				</a>
			</li>
			<li class="channel-header">
				<a href="#channel/channel">频道</a>
			</li>
			<li class="work-header">
				<a href="#reply/reply">
					作品
				</a>
			</li>
		</ul>
		<div class="register">
			<div class="">
				<i class="search"></i>
			</div>
			<div id="header-login-btn" class="register-btn none">
				<i class="register-icon"></i>
					<span class="login-tupppai">登录</span>
				/<span class="resgister-tupppai">注册</span>
			</div>
			<div id="header-login-avatar" class="login none">
				<div class="user-avatar">
					<a href="" class="avatar-src">
						<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160519-165412573d7f3443ec6.jpg" alt="">
					</a>
					<div class="avatar-nav">
						<ul>
							<li class="home">
								<a href="#user/user">
									<i class="home-icon"></i>我的主页
								</a>
							</li>
							<li class="setting">
								<a href="#setting/setting">
									<i class="setting-icon"></i>账号设置
								</a>
							</li>
							<li id="exit-out" class="exit">
								<i class="exit-icon"></i>退出
							</li>
						</ul>
					</div>
				</div>
				<div class="information">
					<i class="information-icon"></i>
					消息
				</div>
			</div>
			<div class="ask-button">
				<img src="/web/img/askp.png" alt="">
			</div>
			<div class="hide none">
				<a href="#update-popup" id="update-popup">
					<div class="update-popup">
						<div class="update-reply-right">
							<div class="header">
								上传作品
							</div>
							<div class="update-image">
								<i class="update-icon"></i>
		                        <input id="upload_picture-reply" type="file" accept="image/gif, image/jpeg" class="" >
		                        <input type="hidden" name="show-picture">
		                        <div class="update-image-update">
									<img class="none update-image-work" id="updateImage" src="http://7u2spr.com1.z0.glb.clouddn.com/20160704-202424577a55788e8aa.png?imageView2/2/w/480" alt="">
								</div>
							</div>
							<div class="footer">
								<img src="http://7u2spr.com1.z0.glb.clouddn.com/20160704-202424577a55788e8aa.png?imageView2/2/w/480" alt="">
								<i class="ask-icon">原图</i>
							</div>
						</div>
						<div class="update-content-left">
							<div class="textarea-content">
								<textarea name="" id="desc_content" placeholder="描述作品,让他更加有生命力"></textarea>
								<i class="emoji-icon"></i>
							</div>
							<div class="footer-content">
								<div class="update-btn" id="set_work">发布作品</div>
							</div>
						</div>
					</div>
				</a>
			<!-- 登录弹窗 -->
				<a href="#login-popup" id="login-popup">
					<div class="login-popup">
						<div class="left-login">
							<div class="logo">
								<img src="/web/img/login_logo.png" alt="">
							</div>
							<div class="other-login">
								<span class="social-login">社交账号登录</span>
								<div class="other">
									<i class="wx-icon"></i>
									<i class="qq-icon"></i>
									<i class="wb-icon"></i>
								</div>
							</div>
						</div>
						<div class="right-login">
							<div class="header">
								<span class="login-btn login-press">登录</span>
								<span class="register-btn">注册</span>
							</div>
							<div class="login-input">
								<div class="phone-number">
									<input  type="text" >
								</div>
								<div class="password">
									<input  type="password">
								</div>
								<div class="forget-password">
									忘记密码?
								</div>
							</div>
							<div class="login-button">
								<img src="/web/img/signin.png" alt="">
							</div>
						</div>
					</div>
				</a>
				<!-- 注册弹窗 -->
				<a href="#resgister-popup" id="resgister-popup">
					<div class="resgister-popup">
						<div class="left-login">
							<div class="logo">
								<img src="/web/img/login_logo.png" alt="">
							</div>
							<div class="other-login">
								<span class="social-login">社交账号登录</span>
								<div class="other">
									<i class="wx-icon"></i>
									<i class="qq-icon"></i>
									<i class="wb-icon"></i>
								</div>
							</div>
						</div>
						<div class="right-login">
							<div class="header">
								<span class="login-btn">登录</span>
								<span class="register-btn login-press">注册</span>
							</div>
							<div class="login-input">
								<div class="phone-number">
									<input id="register_nickname" type="text" placeholder="昵称">
								</div>
								<div class="password">
									<input id="register_phone" type="text" placeholder="手机号码">
								</div>
								<div class="password">
									<input id="register_code" type="text" placeholder="验证码">
									<input id="gain-code" type="button" value="获取验证码">
								</div>
								<div class="password">
									<input id="register_password" type="text" placeholder="输入密码">
								</div>
							</div>
							<div id="user-register-btn" class="login-button">
								<img src="/web/img/signup.png" alt="">
							</div>
						</div>
					</div>
				</a>
				<!-- 绑定 -->
				<a href="#Binding-popup" id="Binding-popup">
					<div class="Binding-popup">
						<div class="Bingding-title">
							绑定手机
						</div>
						<div class="phone">
							<input type="text"  placeholder="手机号码">
						</div>
						<div class="code">
							<input type="text"  placeholder="验证码">
							<div class="send-code">
								获取验证码
							</div>
						</div>
						<div class="import-password">
							<input type="text"  placeholder="输入密码">
						</div>
						<div class="Bingding-btn">
							<img src="/web/img/Bingding.png" alt="">
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
