.common-header {
	height: 59px;
    border-bottom: 5px solid #fafafa;
    margin-bottom: 10px;
	.header-section {
	    width: 1080px;
	    margin: 20px auto 0;
	    padding-bottom: 20px;
		.logo {
		    float: left;
		    height: 60px;
		    line-height: 60px;
			img {
			    margin-top: 4px;
			}
		}
		.header-nav {
	        float: left;
		    margin-left: 65px;
	    	height: 55px;
	    	font-size: 20px;
	    	.home-press {
		        border-bottom: 3px solid #f9d160;
		        a {
			    color: #f9d160;
		        }
				.home-press-icon {
					background: url('/web/img/home.png') no-repeat !important;
				    display: inline-block;
				    width: 22px;
				    height: 23px;
				    vertical-align: sub;
				}
	    	}
			.home-icon {
			    background: url('/web/img/home_gray.png') no-repeat;
			    display: inline-block;
			    width: 22px;
			    height: 23px;
			    vertical-align: sub;

			}
			li {
			    width: 70px;
			    text-align: center;
			    height: 55px;
			    line-height: 68px;
			    color: #32303e;
		        float: left;
			    margin: 0 20px;
			}
		}
		.register {
		    float: right;
	    	width: 210px;
    	    margin-right: -10px;
    	    .login {
    	    	float: left;
    	    	.user-avatar:hover .avatar-nav {
					display: inline-block !important;
    	    	}
    	    	.user-avatar {
					    float: left;
					    line-height: 15px;
					    margin-top: 15px;
					    margin-right: 40px;
					    border-radius: 3px;
					    margin-left: -40px;
					    width: 44px;
					    height: 44px;
					    border: 1px solid #fad263;
					    position: relative;
					    .avatar-nav {
							position: absolute;
						    top: 47px;
						    left: -20px;
						    width: 160px;
						    height: 180px;
					        z-index: 9999;
					        display: none;
							li {
								width: 160px;
							    height: 60px;
							    background: #fff;
							    border-bottom: 1px solid #eaeaec;
							    border-left: 1px solid #eaeaec;
							    border-right: 1px solid #eaeaec;
							    font-size: 16px;
							    line-height: 60px;
							    text-align: center;
								i {
								    display: inline-block;
								    width: 22px;
								    height: 26px;
								    vertical-align: middle;
								}
								.home-icon {
								    background: url('/web/img/home_gray.png');
								    background-repeat: no-repeat;
								    background-position: 1px 0px;
								    margin-right: 5px;
								}
								.setting-icon {
								    background: url('/web/img/set.png');
								    background-repeat: no-repeat;
								    background-position: 1px 0px;
								    margin-right: 5px;
								}
								.exit-icon {
								    background: url('/web/img/home.png');
								    background-repeat: no-repeat;
								    background-position: 1px 0px;
								    margin-right: 5px;
								}
							}
					    }
	    	    		img {
							width: 100%;
	    	    		}
    	    	}
    	    	.information {
					font-size: 14px;
				    float: left;
				    margin-top: 20px;
				    margin-right: 35px;
    	    		.information-icon {
						background: url('/web/img/alarm.png') no-repeat;
					    display: inline-block;
					    width: 22px;
					    height: 23px;
					    vertical-align: text-top;

    	    		}
    	    	}
    	    }
			.register-btn {
				float: left;
			    font-size: 14px;
			    color: #a0a0a0;
		        height: 60px;
	    		line-height: 60px;
			}
			.register-icon {
				background: url('/web/img/log_in.png') no-repeat;
			    display: inline-block;
			    width: 22px;
			    height: 23px;
			    vertical-align: text-top;
			}
			.ask-button {
			    float: right;
		        height: 40px;
				margin-top: 8px;
			}
		}
	}
}

