<a href="#detail/works/<%= ask_id %>" class="ask-section">
	<div  class="ask-section-main">
		<div class="workPic">
			<img src="<%= ask_image_url %>" alt="作品">
		</div>
		<span class="desc"><%= desc %></span>
	</div>
	<div class="ask-section-bottom clearfix">
		<div class="help">
			<i class="icon-help"></i>
			<span class="text-help"><%= count_download_user %>人帮P</span>
		</div>
		<div class="work">
			<i class="icon-work"></i>
			<span class="text-work"><%= reply_count %>个作品</span>
		</div>
	</div>
</a>
